openapi: '3.0.1'
info:
  version: '1.0.0'
  title: Checkout.com API Reference
  contact:
    name: Checkout Support
    url: 'https://checkout.com'
    email: support@checkout.com
  license:
    name: Checkout.com
    url: 'https://checkout.com/api/license/'
  termsOfService: 'https://checkout.com/terms/'
  description: >
    # Introduction

    The Checkout.com API is built on HTTP. Our API is RESTful. It has predictable
    resource URLs.  It returns HTTP response codes to indicate errors.  It also
    accepts and returns JSON in the HTTP body.


    You can use your favorite HTTP/REST library for your programming language to use Checkout's API,
    or you can use one of our SDKs (currently available in
    [PHP](https://github.com/checkout/checkout-php-library),
    [.NET](https://github.com/checkout/checkout-net-library) and
    [Java](https://github.com/checkout/checkout-java-library)).

    # Authentication

    When you sign up for an account, you are given a secret and public API key
    pair. You authenticate with the Checkout.com API by providing the appropriate key in
    the request Authorization header.


    Never share your secret keys. Keep them guarded and secure.
servers:
  - url: https://api.checkout.com
    description: Live API
  - url: https://api.sandbox.checkout.com
    description: Sandbox API
tags:
  - name: Payments
    description: |
      Unified payments API
  - name: Webhooks
    description: >
      Webhooks are designed to notify your systems when certain/all registered
      events happen in near real-time.

      They allow you to collect information about those events. Checkout.com can send
      these information via POST to an URL of your choice.
  - name: Files
    description: |
      Upload files to be used as input to other APIs
x-tagGroups:
  - name: Gateway
    tags:
      - Payments
      - Tokens
      - Sources
      - Files
  - name: Broadcast
    tags:
      - Events
      - Webhooks
paths:
  /batches:
    post:
      tags:
        - Batch Processing
      summary: Submit a batch
      description: Submit a batch file for processing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmitBatchRequest'
      responses:
        '202':
          description: Batch submitted for processing
          headers:
            Cko-Request-Id:
              schema:
                $ref: "#/components/headers/Cko-Request-Id"
            Cko-Version:
              schema:
                $ref: "#/components/headers/Cko-Version"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmitBatchResponse'
        '401':
          description: Unauthorized
        '422':
          description: Invalid data was sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
  /batches/{id}:
    get:
      tags:
        - Batch Processing
      summary: Get batch details
      description: Gets the current status of a batch
      parameters:
        - in: path
          name: id
          schema:
            type: string
            pattern: "^bat_(\\w{26})$"
          description: The batch identifier
          required: true
      responses:
        '200':
          description: Batch was retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Batch'
          headers:
            Cko-Request-Id:
              schema:
                $ref: '#/components/headers/Cko-Request-Id'
            Cko-Version:
              schema:
                $ref: '#/components/headers/Cko-Version'
        '401':
          description: Unauthorized
        '404':
          description: Batch not found
  /event-types:
    get:
      tags:
        - Events
      summary: Retrieve event types
      description: Retrieve a list of event types grouped by their respective version that you can configure on your webhooks
      parameters:
        - in: query
          name: version
          schema:
            type: string
          description: The events version
          required: true
      responses:
        '200':
          description: Event types retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EventTypesObject'
          headers:
            Cko-Request-Id:
              schema:
                $ref: "#/components/headers/Cko-Request-Id"
            Cko-Version:
              schema:
                $ref: "#/components/headers/Cko-Version"
        '401':
          description: Unauthorized
  /events:
    get:
      tags:
        - Events
      summary: Retrieve events
      description: Retrieves events ordered by the event date in descending order (latest first). Results can be paged by specifying the `skip` and `limit` query parameters.
      parameters:
        - name: from
          in: query
          schema:
            type: string
            format: date-time
          description: An ISO8601 formatted date and time to search from (default = last 6 months)
        - name: to
          in: query
          schema:
            type: string
            format: date-time
          description: An ISO8601 formatted date and time to search to (default = now)
        - name: limit
          in: query
          description: The number of events to return per page
          schema:
            type: integer
            default: 10
            minimum: 1
            maximum: 100
        - name: skip
          in: query
          description: The number of events to skip
          schema:
            type: integer
            default: 0
            minimum: 0
        - name: charge_id
          in: query
          description: Search for an event by Charge ID (v1)
          schema:
            type: string
        - name: payment_id
          in: query
          description: Search for an event by Payment ID (v2)
          schema:
            type: string
        - name: track_id
          in: query
          description: Search for an event by Track ID (v1)
          schema:
            type: string
        - name: reference
          in: query
          description: Search for an event by Reference (v2)
          schema:
            type: string
      responses:
        '200':
          description: Events retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventResult'
          headers:
            Cko-Request-Id:
              schema:
                $ref: "#/components/headers/Cko-Request-Id"
            Cko-Version:
              schema:
                $ref: "#/components/headers/Cko-Version"
        '204':
          description: No events found
        '401':
          description: Unauthorized
        '422':
          description: Invalid data was sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
  /events/{eventId}:
    get:
      tags:
        - Events
      summary: Retrieve event
      description: |
        Retrieves the event with the specified identifier string. The event `data` includes the full event details, the schema of which will vary based on the `type`.
      parameters:
        - in: path
          name: eventId
          schema:
            type: string
            pattern: "^(evt)_(\\w{26})$"
          required: true
          description: The event identifier
      responses:
        '200':
          description: Event retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventObject'
          headers:
            Cko-Request-Id:
              schema:
                $ref: "#/components/headers/Cko-Request-Id"
            Cko-Version:
              schema:
                $ref: "#/components/headers/Cko-Version"
        '401':
          description: Unauthorized
        '404':
          description: Event not found
  /events/{eventId}/notifications/{notificationId}:
    get:
      tags:
        - Events
      summary: Retrieve event notification
      description: Retrieves the attempts for a specific event notification
      parameters:
        - in: path
          name: eventId
          schema:
            type: string
            pattern: "^(evt)_(\\w{26})$"
          required: true
          description: The event identifier
        - in: path
          name: notificationId
          schema:
            type: string
            pattern: "^(ntf)_(\\w{26})$"
          required: true
          description: The notification identifier
      responses:
        '200':
          description: Notification retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Notification'
          headers:
            Cko-Request-Id:
              schema:
                $ref: "#/components/headers/Cko-Request-Id"
            Cko-Version:
              schema:
                $ref: "#/components/headers/Cko-Version"
        '401':
          description: Unauthorized
        '404':
          description: Event or notification not found
  /events/{eventId}/webhooks/retry:
    post:
      tags:
        - Events
      summary: Retry all webhooks
      description: Retries all webhook notifications configured for the specified event
      parameters:
        - in: path
          name: eventId
          schema:
            type: string
            pattern: "^(evt)_(\\w{26})$"
          required: true
          description: The event identifier
      responses:
        '202':
          description: Retry accepted
          headers:
            Cko-Request-Id:
              schema:
                $ref: "#/components/headers/Cko-Request-Id"
            Cko-Version:
              schema:
                $ref: "#/components/headers/Cko-Version"
        '401':
          description: Unauthorized
        '404':
          description: Event or webhook not found
  /events/{eventId}/webhooks/{webhookId}/retry:
    post:
      tags:
        - Events
      summary: Retry webhook
      description: Retries a specific webhook notification for the given event
      parameters:
        - in: path
          name: eventId
          schema:
            type: string
            pattern: "^(evt)_(\\w{26})$"
          required: true
          description: The event identifier
        - in: path
          name: webhookId
          schema:
            type: string
            pattern: "^(wh)_(\\w{26})$"
          required: true
          description: The webhook identifier
      responses:
        '202':
          description: Retry accepted
          headers:
            Cko-Request-Id:
              schema:
                $ref: "#/components/headers/Cko-Request-Id"
            Cko-Version:
              schema:
                $ref: "#/components/headers/Cko-Version"
        '401':
          description: Unauthorized
        '404':
          description: Event or webhook not found
  /files:
    post:
      tags:
        - Files
      summary: Upload a file
      description: |
        Upload a file so that it can be used by other APIs, e.g. submit dispute evidence.
        The file requirements (type/size) differ depending on the file `purpose`.
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
                - file
                - purpose
              properties:
                file:
                  type: string
                  format: binary
                  description: The file to upload
                purpose:
                  type: string
                  enum:
                    - dispute_evidence
                  description: The purpose of the file upload
      responses:
        '201':
          description: File uploaded successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileUploadResponse'
          headers:
            Cko-Request-Id:
              schema:
                $ref: '#/components/headers/Cko-Request-Id'
            Cko-Version:
              schema:
                $ref: '#/components/headers/Cko-Version'
        '401':
          description: Unauthorized
        '422':
          description: Invalid data was sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
  /files/{id}:
    get:
      tags:
        - Files
      summary: Get file information
      description: Gets the information of file with the specified file identifier.
      parameters:
        - in: path
          name: id
          schema:
            type: string
            pattern: "^file_(\\w{26})$"
          required: true
          description: The file identifier
      responses:
        '200':
          description: File was retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/File'
          headers:
            Cko-Request-Id:
              schema:
                $ref: '#/components/headers/Cko-Request-Id'
            Cko-Version:
              schema:
                $ref: '#/components/headers/Cko-Version'
        '401':
          description: Unauthorized
        '404':
          description: File not found
  /payments:
    post:
      tags:
        - Payments
      summary: Request a payment
      description: |
        Checkout.com supports payments from a variety of sources, from card payments to
        SEPA direct debits. The source of payment can be specified using the `source.type` field along with any source specific data.
    
        To verify the success of the payment, check the `approved` field in the response.
    
        ### Reference Tokens
    
        The most common way of making card payments is using a token generated by [Checkout Frames](#).
        This is mandatory for non-PCI compliant merchants as it ensures no card details are transferred to your server.
        This integration method also applies to digital wallets such as Apple Pay and Google Pay.
    
        Note: Reference tokens expire after 15 minutes.
    
        ```json
        {
          "source": {
            "type": "token",
            "token": "tok_ubfj2q76miwundwlk72vxt2i7q",
            "billing_address": { ... },
            "phone": { ... }
          },
          "amount": 5600,
          "currency": "GBP"
        }
        ```
    
        #### Full Card Details
    
        To make a card payment specify the source type card.
    
        Note that full card payments should only be requested by PCI compliant merchants.
    
        ```json
        {
          "source": {
            "type": "card",
            "number": "4242424242424242",
            "expiry_month": 6,
            "expiry_year": 2018
          },
          "amount": 5600,
          "currency": "GBP"
        }
        ```
    
        ### Existing Source
    
        When a card payment is processed you will be returned a source identifier that can later be used to make payments.
        You can also add payment sources for Alternative Payments via the [Sources API](#tag/Sources).
    
        ```json
        {
          "source": {
            "type": "id",
            "id": "src_wmlfc3zyhqzehihu7giusaaawu",
            "cvv" "843"
          },
          "amount": 5600,
          "currency": "GBP",
          "customer": {
            "id": "cus_yhn5qqcar3velcwqq47dmxjy4m"
          }
        }
        ```
    
        ### Customer
    
        You can provide the ID or email of an existing customer to make a payment using their default payment method.
    
        ```json
        {
          "source": {
            "type": "customer",
            "id": "cus_y3oqhf46pyzuxjbcn2giaqnb44",
          },
          "amount": 5600,
          "currency": "GBP"
        }
        ```
    
        ### Alternative Payments
    
        Checkout.com supports a number of alternative payment methods. Reusable payment sources such as SEPA Direct Debits must first be created via the [Sources API](#tag/Sources).
    
        For non-reusable payment methods such as those that use a redirect flow (e.g. iDEAL), provide the name of the payment method as the source.type along with any payment method specific data.
    
        ```json
        {
          "source": {
            "type": "ideal",
            "issuer_id": "TESTISSUER01"
          },
          "amount": 5600,
          "currency": "GBP"
        }
        ```
    
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentRequest'
      responses:
        '201':
          description: Payment processed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponse'
          headers:
            Cko-Request-Id:
              schema:
                $ref: "#/components/headers/Cko-Request-Id"
            Cko-Version:
              schema:
                $ref: "#/components/headers/Cko-Version"
        '202':
          description: Payment asynchronous or further action required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentAcceptedResponse'
          headers:
            Cko-Request-Id:
              schema:
                $ref: "#/components/headers/Cko-Request-Id"
            Cko-Version:
              schema:
                $ref: "#/components/headers/Cko-Version"
        '401':
          description: Unauthorized
        '422':
          description: Invalid data was sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '502':
          description: Bad gateway
      x-code-samples:
        - lang: C#
          source: "var tokenSource = new TokenSource(\"tok_ubfj2q76miwundwlk72vxt2i7q\");\nvar paymentRequest = new PaymentRequest<TokenSource>(tokenSource, Currency.USD, 5600)\n{\n    Reference = \"ORD-090857\",\n    Capture = false,\n    ThreeDs = true\n};\n\ntry\n{\n    var response = await Api.Payments.RequestAsync(paymentRequest);\n\n    if (response.IsPending && response.Pending.RequiresRedirect())\n    {\n        return Redirect(response.Pending.GetRedirectLink().Href);\n    }\n\n    if (response.Payment.Approved)\n        return PaymentSucessful(response.Payment);\n\n    return PaymentDeclined(response.Payment);\n}\ncatch (CheckoutValidationException validationEx)\n{\n    return ValidationError(validationEx.Error);\n}\ncatch (CheckoutApiException apiEx)\n{\n    Log.Error(\"Payment request failed with status code {HttpStatusCode}\", apiEx.HttpStatusCode);\n    throw;\n}"
  /payments/{id}:
    get:
      tags:
        - Payments
      summary: Get payment details
      description: |
        Returns the details of the payment with the specified identifier string.
    
        If the payment method requires a redirection to a third party (e.g. 3D-Secure),
        the redirect URL back to your site will include a `cko-session-id` query parameter
        containing a payment session ID that can be used to obtain the details of the payment, for example:
    
        http://example.com/success?cko-session-id=sid_ubfj2q76miwundwlk72vxt2i7q.
      parameters:
        - in: path
          name: id
          schema:
            type: string
            pattern: "^(pay|sid)_(\\w{26})$"
          required: true
          description: The payment or payment session identifier
      responses:
        '200':
          description: Payment retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
          headers:
            Cko-Request-Id:
              schema:
                $ref: "#/components/headers/Cko-Request-Id"
            Cko-Version:
              schema:
                $ref: "#/components/headers/Cko-Version"
        '401':
          description: Unauthorized
        '404':
          description: Payment not found
  /payments/{id}/actions:
    get:
      tags:
        - Payments
      summary: Get payment actions
      description: |
        Returns all the actions associated with a payment ordered by processing date in descending order (latest first).
      parameters:
        - in: path
          name: id
          schema:
            type: string
            pattern: "^(pay)_(\\w{26})$"
          required: true
          description: The payment identifier
      responses:
        '200':
          description: Payment actions retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentActionsResponse'
          headers:
            Cko-Request-Id:
              schema:
                $ref: "#/components/headers/Cko-Request-Id"
            Cko-Version:
              schema:
                $ref: "#/components/headers/Cko-Version"
        '401':
          description: Unauthorized
        '404':
          description: Payment not found
  /payments/{id}/captures:
    post:
      tags:
        - Payments
      summary: Capture a payment
      description: |
        Captures a payment if supported by the payment method.
    
        For card payments, capture requests are processed asynchronously. You can use [webhooks](#tag/Webhooks) to be notified if the capture is successful.
      parameters:
        - in: path
          name: id
          schema:
            type: string
            pattern: "^(pay)_(\\w{26})$"
          required: true
          description: The payment identifier
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CaptureRequest'
      responses:
        '202':
          description: Capture accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaptureAcceptedResponse'
          headers:
            Cko-Request-Id:
              schema:
                $ref: "#/components/headers/Cko-Request-Id"
            Cko-Version:
              schema:
                $ref: "#/components/headers/Cko-Version"
        '401':
          description: Unauthorized
        '403':
          description: Capture not allowed
        '422':
          description: Invalid data was sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '404':
          description: Payment not found
        '502':
          description: Bad gateway
  /payments/{id}/refunds:
    post:
      tags:
        - Payments
      summary: Refund a payment
      description: |
        Refunds a payment if supported by the payment method.
    
        For card payments, refund requests are processed asynchronously. You can use [webhooks](#tag/Webhooks) to be notified if the refund is successful.
      parameters:
        - in: path
          name: id
          schema:
            type: string
            pattern: "^(pay)_(\\w{26})$"
          required: true
          description: The payment identifier
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundRequest'
      responses:
        '202':
          description: Refund accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundAcceptedResponse'
          headers:
            Cko-Request-Id:
              schema:
                $ref: "#/components/headers/Cko-Request-Id"
            Cko-Version:
              schema:
                $ref: "#/components/headers/Cko-Version"
        '401':
          description: Unauthorized
        '422':
          description: Invalid data was sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '403':
          description: Refund not allowed
        '404':
          description: Payment not found
        '502':
          description: Bad gateway
  /payments/{id}/voids:
    post:
      tags:
        - Payments
      summary: Void a payment
      description: |
        Voids a payment if supported by the payment method.
    
        For card payments, void requests are processed asynchronously. You can use [webhooks](#tag/Webhooks) to be notified if the void is successful.
      parameters:
        - in: path
          name: id
          schema:
            type: string
            pattern: "^(pay)_(\\w{26})$"
          required: true
          description: The payment identifier
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoidRequest'
      responses:
        '202':
          description: Void accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoidAcceptedResponse'
          headers:
            Cko-Request-Id:
              schema:
                $ref: "#/components/headers/Cko-Request-Id"
            Cko-Version:
              schema:
                $ref: "#/components/headers/Cko-Version"
        '401':
          description: Unauthorized
        '422':
          description: Invalid data was sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '403':
          description: Void not allowed
        '404':
          description: Payment not found
        '502':
          description: Bad gateway
  /sources:
    post:
      tags:
        - Sources
      summary: Add a payment source
      description: |
        Add a reusable payment sources that can be later used to make one or more payments.
        Payment sources are linked to a specific customer and cannot be shared between customers.
    
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SourceRequest'
      responses:
        '201':
          description: Payment source added successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddSourceResponse'
        '202':
          description: Payment source asynchronous or further action required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceRedirectResponse'
        '401':
          description: Unauthorized
        '422':
          description: Invalid data was sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '502':
          description: Bad gateway
      x-code-samples:
        - lang: C#
          source: "var sourceRequest = new AddSourceRequest(SourceTypes.Sepa)\n{\n    Reference = \"X-080957-N34\",\n    BillingAddress = new Address { ... },\n    Phone = new Phone { ... },\n    CustomerId = \"cus_y3oqhf46pyzuxjbcn2giaqnb44\"\n}\n\nsourceRequest.SourceData.Add(\"iban\", \"DE89 3704 0044 0532 0130 00\");\n\nvar response = await api.Sources.AddAsync(sourceRequest);"
  /tokens:
    post:
      tags:
        - Tokens
      summary: Request a token
      description: |
        Exchange card details or a digital wallet payment token for a reference token that can be later used to request a card payment.
    
        **To create tokens please authenticate using your public key**
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenRequest'
      responses:
        '201':
          description: Reference token created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '401':
          description: Unauthorized
        '422':
          description: Invalid data was sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
  /webhooks:
    get:
      tags:
        - Webhooks
      summary: Retrieve webhooks
      description: |
        Retrieves the webhooks configured for the channel identified by your API key
      parameters: []
      responses:
        '200':
          description: Configured webhooks
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Webhook'
        '204':
          description: No webhooks configured
        '401':
          description: Unauthorized
    post:
      tags:
        - Webhooks
      summary: Register webhook
      description: |
        Register a new webhook endpoint that Checkout.com will POST all or selected events to
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookRequest'
      responses:
        '201':
          description: Webhook registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '401':
          description: Unauthorized
        '422':
          description: Invalid data was sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '409':
          description: Url already registered for another webhook
  /webhooks/{id}:
    get:
      tags:
        - Webhooks
      summary: Retrieve webhook
      description: |
        Retrieves the webhook with the specified identifier string
      parameters:
        - name: id
          required: true
          schema:
            type: string
          in: path
          description: |
            The webhook identifier, for example `wh_387ac7a83a054e37ae140105429d76b5`
      responses:
        '200':
          description: Webhook was retrieved successfully
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/WebhookRequest'
                required:
                  - url
        '401':
          description: Unauthorized
        '404':
          description: Webhook not found
    put:
      tags:
        - Webhooks
      summary: Update webhook
      description: |
        Updates an existing webhook
      parameters:
        - name: id
          required: true
          schema:
            type: string
          in: path
          description: |
            The webhook identifier, for example `wh_387ac7a83a054e37ae140105429d76b5`
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookRequest'
      responses:
        '200':
          description: Updated webhook
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '401':
          description: Unauthorized
        '422':
          description: Invalid data was sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '404':
          description: Webhook not found
        '409':
          description: Url already registered for another webhook
    patch:
      tags:
        - Webhooks
      summary: Partially update webhook
      description: Updates all or some of the registered webhook details
      parameters:
        - name: id
          required: true
          schema:
            type: string
          in: path
          description: |
            The webhook identifier, for example `wh_387ac7a83a054e37ae140105429d76b5`
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookRequest'
      responses:
        '200':
          description: Updated webhook
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '401':
          description: Unauthorized
        '422':
          description: Invalid data was sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '404':
          description: Webhook not found
        '409':
          description: Url already exists in another webhook configuration
    delete:
      tags:
        - Webhooks
      summary: Removes a webhook
      parameters:
        - name: id
          required: true
          schema:
            type: string
          in: path
          description: |
            The webhook identifier, for example `wh_387ac7a83a054e37ae140105429d76b5`
      responses:
        '204':
          description: Webhook removed successfully
        '401':
          description: Unauthorized
        '404':
          description: Webhook not found
components:
  schemas:
    Address:
      type: object
      properties:
        address_line1: 
          type: string
          description: Line 1 of the address
          example: Checkout.com
        address_line2:
          type: string
          description: Line 2 of the address
          example: 90 Tottenham Court Road
        city:
          type: string
          description: The address city
          example: London
        state:
          type: string
          description: The address state
          example: London
        zip:
          type: string
          description: The address zip/postal code
          example: W1T 4TJ
        country:
          type: string
          description: The two-letter ISO code of the address country
          example: GB
    Error:
      type: object
      properties:
        request_id:
          type: string
          example: 0HL80RJLS76I7
        error_type:
          type: string
          example: request_malformed
    IPAddress:
      type: string
      format: ipv4
      example: "90.197.169.245"
    InvalidError:
      allOf:
        - $ref: "#/components/schemas/Error"
        - type: object
          properties:
            details:
              type: array
              items:
                type: string
    PhoneNumber:
      type: object
      description: A phone number
      properties:
        country_code: 
          type: string
          description: The international country calling code. Required for some risk checks.
          example: "+1"
        number:
          type: string
          description: The phone number
          example: 415 555 2671
    ResourceId:
      type: string
      description: The resource ID. Defaults to UUID v4
      maxLength: 50
      example: "4f6cf35x-2c4y-483z-a0a9-158621f77a21"
    ServerTimestamp:
      type: string
      description: Read-only UTC timestamp, automatically assigned by us.
      format: date-time
      readOnly: true
    Timestamp:
      type: string
      description: ISO 8601 timestamp
      format: date-time
    ValidationError:
      type: object
      properties:
        request_id:
          type: string
          example: 0HL80RJLS76I7
        error_type:
          type: string
          example: request_invalid
        error_codes:
          type: array
          items:
            type: string
            example: payment_source_required
    Batch:
      type: object
      required:
        - id
        - status
        - _links
      properties:
        id:
          type: string
          description: Batch identifier
          pattern: "^bat_(\\w{26})$"
          example: bat_cyukd74c4xoezfuarvuwdcpzou
        status:
          type: string
          description: The status of the batch
          example: Processing
        _links:
          type: object
          required:
            - self
          properties:
            self:
              type: object
              allOf:
                - $ref: '#/components/schemas/Link'
              description: The URI of the batch
              example:
                href: "https://api.checkout.com/batches/bat_fa72f568492b4d3eb6d81e0645e320f6"
    SubmitBatchRequest:
      type: object
      description: The batch request
      required:
        - file_id
        - action
      properties:
        file_id:
          type: string
          pattern: "^file_(\\w{26})$"
          description: The identifier of the batch file previously uploaded via the [Files API](#tag/Files)
          example: "file_6lbss42ezvoufcb2beo76rvwly"
        action:
          type: string
          description: The action to be performed against the batch
          enum:
            - payment
          example: "payment"
        reference:
          type: string
          description: Your reference for the batch. If provided, this will be validated against the batch file's header.
          example: payments-20180701
    SubmitBatchResponse:
      type: object
      required:
        - id
        - status
        - _links
      properties:
        id:
          type: string
          description: Batch identifier
          pattern: "^bat_(\\w{26})$"
          example: bat_cyukd74c4xoezfuarvuwdcpzou
        status:
          type: string
          description: The batch status
          example: Processing
        _links:
          type: object
          required:
            - self
          properties:
            self:
              type: object
              allOf:
                - $ref: '#/components/schemas/Link'
              description: The URI of the batch
              example:
                href: "https://api.checkout.com/batches/bat_fa72f568492b4d3eb6d81e0645e320f6"
    BillingDetails:
      type: object
      properties:
        address_line_1:
          type: string
          example: 372 Weimann Lane
        address_line_2:
          type: string
          example: Rolfson Alley
        post_code:
          type: string
          example: ew1 7zb
        country:
          type: string
          example: SJ
        city:
          type: string
          example: North Benedicthaven
        state:
          type: string
          example: Georgia
        phone:
          $ref: '#/components/schemas/Phone'
    Card:
      type: object
      properties:
        customer_id:
          type: string
          example: cust_7508EA38E86A4569AF12E483519E332D
        expiry_month:
          type: string
          example: '06'
        expiry_year:
          type: string
          example: 2018
        billing_details:
          $ref: '#/components/schemas/BillingDetails'
        id:
          type: string
          example: card_D44D7F4CCC6348698717CD80072808B0
        last4:
          type: string
          example: 424242******4242
        payment_method:
          type: string
          example: VISA
        fingerprint:
          type: string
          example: f639cab2745bee4140bf86df6b6d6e255c5945aac3788d923fa047ea4c208622
        name:
          type: string
          example: Test Customer
        cvv_check:
          type: string
          example: 'Y'
        avs_check:
          type: string
          example: S
    CustomerPaymentPlan:
      type: object
      properties:
        id:
          type: string
        customer_plan_id:
          type: string
        card_id:
          type: string
        customer_id:
          type: string
        name:
          type: string
        plan_track_id:
          type: string
        auto_cap_time:
          type: string
        value:
          type: integer
        currency:
          type: string
        cycle:
          type: string
        recurring_count:
          type: integer
        recurring_count_left:
          type: integer
        total_collected_value:
          type: integer
        total_collected_count:
          type: integer
        current_recurring_status:
          type: integer
        start_date:
          type: string
        previous_recurring_date:
          type: string
        next_recurring_date:
          type: string
    Data:
      type: object
      description: Event Data
      properties:
        id:
          description: Payment unique identifier
          allOf:
            - $ref: '#/components/schemas/PaymentId'
        action_id:
          description: The unique identifier for the action performed against this payment
          allOf:
            - $ref: '#/components/schemas/ActionId'
        amount:
          type: integer
          description: The payment amount
          example: 6540
        currency:
          type: string
          description: The three-letter ISO currency code of the payment
          example: USD
          maxLength: 3
          minLength: 3
        approved:
          type: boolean
          description: Whether the payment request was approved
          example: true
        status:
          type: string
          description: The status of the payment
          enum:
            - Pending
            - Authorized
            - Voided
            - Partially Captured
            - Captured
            - Partially Refunded
            - Refunded
            - Declined
            - Cancelled
          example: Authorized
        auth_code:
          type: string
          description: The acquirer authorization code if the payment was Authorized
          example: "643381"
        response_code:
          type: string
          description: Gateway response code
          example: "10000"
        response_summary:
          type: string
          description: The Gateway response summary
          example: "Approved"
        3ds:
          type: object
          description: Provides 3D-Secure enrollment status if the payment was downgraded to Non-3DS
          allOf:
            - $ref: '#/components/schemas/3dsEnrollmentData'
          example:
            downgraded: true
            enrolled: N
        flagged:
          type: boolean
          description: Whether the payment was flagged by a risk check
          default: false
          example: true
        source:
          description: The source of the payment
          type: object
          allOf:
            - $ref: '#/components/schemas/PaymentResponseSource'
        customer:
          type: object
          description: The customer to which this payment is linked
          allOf:
            - $ref: '#/components/schemas/PaymentResponseCustomer'
        processed_on:
          description: The date/time the payment was processed
          allOf:
            - $ref: '#/components/schemas/ServerTimestamp'
        reference:
          type: string
          description: Your reference for the payment
          example: ORD-5023-4E89
        destinations:
          type: array
          items:
            $ref: '#/components/schemas/PaymentDestination'
          minItems: 0
          description: |
            For OpenPay payments, destinations determine the proportion of the payment amount that should
            be credited to other OpenPay accounts
        metadata:
          type: object
          description: Set of key/value pairs that you can attach to a payment. It can be useful for storing additional information in a structured format
          example:
            coupon_code: "NY2018"
            partner_id: 123989
    EventId:
      type: string
      description: The unique event identifier
      maxLength: 30
      minLength: 30
      example: "evt_az5sblvku4ge3dwpztvyizgcau"
    EventLinks:
      type: object
      description: The links related to the event
      properties:
        self:
          type: object
          allOf:
            - $ref: '#/components/schemas/Link'
          description: The URI of the event
          example:
            href: "https://api.checkout.com/events/evt_az5sblvku4ge3dwpztvyizgcau"
        webhooks-retry:
          type: object
          allOf:
            - $ref: '#/components/schemas/Link'
          description: A link to retry all of the webhooks configured for the event
          example:
            href: "https://api.checkout.com/events/evt_az5sblvku4ge3dwpztvyizgcau/webhooks/retry"
    EventObject:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/EventId'
        type:
          type: string
          description: The event type
          example: payment_approved
        version:
          type: string
          description: Determines the version of the event sent
          example: "2.0"
        created_on:
          description: The date/time the event occurred
          allOf:
            - $ref: '#/components/schemas/ServerTimestamp'
        data:
          $ref: '#/components/schemas/Data'
        notifications:
          type: array
          description: The notifications (e.g. webhooks) that have been sent for the event
          items:
            $ref: '#/components/schemas/NotificationSummary'
        _links:
          $ref: '#/components/schemas/EventLinks'
    EventResult:
      type: object
      properties:
        total_count:
          type: integer
          example: 100
          description: The total number of events
        limit:
          type: integer
          description: The `limit` query parameter
          example: 10
        skip:
          type: integer
          example: 10
          description: The `skip` query parameter
        from:
          type: string
          format: date-time
          description: The `from` query parameter
          example: "2018-01-01T00:00:00Z"
        to:
          type: string
          format: date-time
          example: "2018-01-15T12:00:00Z"
          description: The `to` query parameter
        data:
          type: array
          items:
            $ref: '#/components/schemas/EventSummary'
    EventSummary:
      type: object
      properties:
        id:
          type: string
          maxLength: 30
          minLength: 30
          description: The event identifier
          example: evt_az5sblvku4ge3dwpztvyizgcau
        type:
          type: string
          description: The event type
          example: payment_approved
        created_on:
          description: The date/time the event occurred
          allOf:
            - $ref: '#/components/schemas/ServerTimestamp'
        _links:
          $ref: '#/components/schemas/EventLinks'
    EventTypesObject:
      type: object
      properties:
        version:
          type: string
          example: "2.0"
        event_types:
          type: array
          items:
            type: string
          example:
            - payment_approved
            - payment_risk_matched
            - payment_pending
            - payment_declined
            - payment_expired
            - payment_cancelled
            - payment_voided
            - payment_void_declined
            - payment_captured
            - payment_capture_declined
            - payment_capture_pending
            - payment_refunded
            - payment_refund_declined
            - payment_refund_pending
            - payment_chargeback
            - payment_retrieval
    Notification:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/NotificationId'
        url:
          type: string
          description: The notification endpoint
          example: https://example.com/webhooks
        success:
          type: boolean
          description: Whether the notification eventually succeeded
          example: false
        content_type:
          type: string
          description: The content type of the data sent to the endpoint
          example: json
        attempts:
          type: array
          description: The notification events ordered by timestamp in descending order (latest first)
          items:
            $ref: '#/components/schemas/NotificationAttempt'
        _links:
          type: object
          description: The links related to the notification
          properties:
            self:
              type: object
              description: The URI of the notification
              allOf:
                - $ref: '#/components/schemas/Link'
              example:
                href: https://api.checkout.com/events/evt_az5sblvku4ge3dwpztvyizgcau/notifications/ntf_az5sblvku4ge3dwpztvyizgcau
            retry:
              type: object
              description: A link to retry the notification to the configured webhook
              allOf:
                - $ref: '#/components/schemas/Link'
              example:
                href: https://api.checkout.com/events/evt_az5sblvku4ge3dwpztvyizgcau/webhooks/wh_5nuzkt62ddxuho5rwsvt6pyesi/retry
    NotificationAttempt:
      type: object
      properties:
        status_code:
          type: integer
          description: The HTTP status code returned from the target server
          example: 400
        response_body:
          type: string
          description: The response body returned from the target server
          example: Bad Request
        retry_mode:
          type: string
          description: Whether the notification was sent automatically or requested manually
          enum:
            - Automatic
            - Manual
        timestamp:
          type: string
          description: The date/time the attempt was made
          allOf:
            - $ref: '#/components/schemas/ServerTimestamp'
    NotificationId:
      type: string
      description: The unique notification identifier
      maxLength: 30
      minLength: 30
      example: "ntf_az5sblvku4ge3dwpztvyizgcau"
    NotificationSummary:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/NotificationId'
        url:
          type: string
          description: The notification endpoint
          example: https://example.com/webhooks
        success:
          type: boolean
          description: Whether the notification eventually succeeded
          example: false
        _links:
          type: object
          description: The links related to the notification
          properties:
            self:
              type: string
              example:
                href: https://api.checkout.com/events/evt_az5sblvku4ge3dwpztvyizgcau/notifications/ntf_az5sblvku4ge3dwpztvyizgcau
    Phone:
      type: object
      properties:
        country_code:
          type: string
          example: '975'
        number:
          type: string
          example: '174217187'
    Product:
      type: object
      properties:
        name:
          type: string
          example: Tablet 1 gold limited
        description:
          type: string
          example: Nokia Lumia
        sku:
          type: string
          example: 1aab2aa
        price:
          type: integer
          example: 100
        quantity:
          type: integer
          example: 1
        image:
          type: string
          example: 'http://www.test_Jabari.com/'
        shipping_cost:
          type: integer
          example: 10
        tracking_url:
          type: string
          example: 'https://www.tracker.com'
    ShippingDetails:
      type: object
      properties:
        address_line_1:
          type: string
          example: 333 Cormier Bypass
        address_line_2:
          type: string
          example: Rolfson Alley
        post_code:
          type: string
          example: BR3 6TK
        country:
          type: string
          example: GB
        city:
          type: string
          example: Bromley
        state:
          type: string
          example: Greater London
        phone:
          $ref: '#/components/schemas/Phone'
    File:
      type: object
      required:
        - id
        - filename
        - purpose
        - size
        - uploaded_on
        - _links
      properties:
        id:
          type: string
          description: The file identifier
          example: file_6lbss42ezvoufcb2beo76rvwly
        filename:
          type: string
          description: The file name
          example: receipt.jpg
        purpose:
          type: string
          description: The purpose of the uploaded file
          example: dispute_evidence
        size:
          type: number
          description: The size in bytes of the file upload object
          example: 1024
        uploaded_on:
          type: string
          format: ISO-8601
          description: File upload date and time in UTC
          example: '2016-05-17T16:48:52.000Z'
        _links:
          type: object
          required:
            - self
            - download
          properties:
            self:
              type: object
              allOf:
                - $ref: '#/components/schemas/Link'
              description: The file information retrieval URL
              example:
                href: https://api.checkout.com/files/file_6lbss42ezvoufcb2beo76rvwly
            download:
              type: object
              allOf:
                - $ref: '#/components/schemas/Link'
              description: The temporary file download URL. The URL expires after a certain time period
              example:
                href: https://checkout-file-upload.s3.eu-west-2.amazonaws.com/ucdac/ucdac/6lbss42ezvoufcb2beo76rvwly?X-Amz-Expires=3600&x-amz-security-token=FQoDYXdzENL%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEa
    FileUploadResponse:
      type: object
      required:
        - id
        - _links
      properties:
        id:
          type: string
          description: The unique identifier of the file uploaded
          example: file_6lbss42ezvoufcb2beo76rvwly
        _links:
          type: object
          description: The links related to the file
          readOnly: true
          minItems: 1
          properties:
            self:
              type: object
              allOf:
                - $ref: '#/components/schemas/Link'
              description: The URI of the file uploaded. Use this to retrieve detailed file information
              example:
                href: https://api.checkout.com/files/file_6lbss42ezvoufcb2beo76rvwly
          required:
            - self
    Link:
      type: object
      properties:
        href:
          description: The link URL
          type: string
      required:
        - href
    SelfLink:
      type: object
      allOf:
        - $ref: "#/components/schemas/Link"
      properties:
        rel:
          description: The link type
          type: string
          enum:
            - self
      required:
        - rel
    3dsData:
      type: object
      properties:
        downgraded:
          type: boolean
          description: Inidicates whether this was a 3D-Secure payment downgraded to Non-3D-Secure (when `attempt_n3d` is specified)
          example: false
        enrolled:
          type: string
          description: >
            Indicates the 3D-Secure enrollment status of the issuer
              * `Y` - Issuer enrolled
              * `N` - Customer not enrolled
              * `U` - Unknown
          example: Y
        signature_valid:
          type: string
          description: Verification to ensure the integrity of the response.	
          example: Y
        authentication_response:
          type: string
          description: >
            Indicates whether or not the cardholder was authenticated
              * `Y` - Customer authenticated
              * `N` - Customer not authenticated
              * `A` - An authentication attempt occurred but could not be completed
              * `U` - Unable to perform authentication
          example: Y
        eci:
          type: string
          description: Defines the E-Commerce Indicator security level associated with the payment
          example: "01"
        cavv:
          type: string
          description: Cryptographic identifier used by the card schemes to validate the integrity of the 3D secure payment data
          example: hv8mUFzPzRZoCAAAAAEQBDMAAAA=
        xid:
          type: string
          description: Unique identifier for the transaction assigned by the MPI
          example: MDAwMDAwMDAwMDAwMDAwMzIyNzY=
    3dsEnrollmentData:
      type: object
      properties:
        downgraded:
          type: boolean
          description: Inidicates whether this was a 3D-Secure payment downgraded to Non-3D-Secure (when `attempt_n3d` is specified)
          example: false
        enrolled:
          type: string
          description: >
            Indicates the 3D-Secure enrollment status of the issuer
              * `Y` - Issuer enrolled
              * `N` - Customer not enrolled
              * `U` - Unknown
          example: Y
    ActionId:
      type: string
      description: The action identifier
      maxLength: 30
      minLength: 30
      example: "act_y3oqhf46pyzuxjbcn2giaqnb44"
    BillingDescriptor:
      type: object
      description: |
        An optional dynamic billing descriptor displayed on the account owner's statement. [Read more](https://docs.checkout.com/reference/merchant-api-reference/complex-request-objects/dynamic-descriptor)
      properties:
        name:
          type: string
          description: Dynamic description of the charge
          example: "SUPERHEROES.COM"
          maxLength: 25
        city:
          type: string
          description: City where the charge originated	
          minimum: 1
          example: "GOTHAM"
          maxLength: 13
      required:
        - name
        - city
    CaptureAcceptedResponse:
      type: object
      description: Capture response
      required:
        - action_id
      properties:
        action_id:
          description: The unique identifier for the capture action
          allOf:
            - $ref: '#/components/schemas/ActionId'
        reference:
          type: string
          description: Your reference for the capture request
          example: ORD-5023-4E89
        _links:
          type: object
          description: Capture links
          readOnly: true
          minItems: 2
          properties:
            payment:
              type: object
              allOf:
                - $ref: '#/components/schemas/Link'
              description: The URI of the payment to be captured. Use this to check the status of the payment
              example:
                href: "https://api.checkout.com/payments/pay_y3oqhf46pyzuxjbcn2giaqnb44"
            redirect:
              type: object
              allOf:
                - $ref: '#/components/schemas/Link'
              description: For some alternative payments, the URI that the customer should be redirected to, to complete the capture
              example:
                href: "https://api.checkout.com/redirect/act_y3oqhf46pyzuxjbcn2giaqnb44"
          required:
            - payment
      
    CaptureRequest:
      type: object
      properties:
        amount:
          type: integer
          description: |
            The amount to capture in the major currency. If not specified, the full payment amount will be captured
          minimum: 0
          example: 6540
        reference:
          type: string
          description: A reference you can later use to identify this capture request
          example: ORD-5023-4E89
        metadata:
          type: object
          description: Set of key/value pairs that you can attach to the capture request. It can be useful for storing additional information in a structured format
          example:
            coupon_code: "NY2018"
            partner_id: 123989
    GiropayPaymentInfo:
      type: object
      properties:
        label:
          type: string
          maxLength: 30
          description: Additional information field which is shown on the payment form (label)
        text:
          type: string
          maxLength: 80
          description: Additional information field which is shown on the payment form (text)
    Item:
      type: object
      description: The order line item or product that is being purchased
      properties:
        sku:
          type: string
          description: The stock-keeping unit identifier of the item
          example: 858818ac
        name:
          type: string
          description: The name of the item or product
          example: Kevlar batterang
        description:
          type: string
          description: A description of the item or product
          example: The fastest, hardest batterang known to man
        image_url:
          type: string
          format: uri
          description: The URL of an image of the item or product
          example: http://example.com/batterang.jpg
        price:
          type: number
          description: The unit price of the item or product in the minor currency unit
          example: 34.50
        quantity:
          type: number
          description: The number of the items purchased
          example: 2
        shipping_cost:
          type: number
          description: The shipping cost of the item
          example: 2.99
        shipping_tracking_url:
          type: string
          format: uri
          description: A URL to track the shipping status of the item
          example: http://www.dhl.co.uk/en/express/tracking.html?AWB=41f280bbe12cd787b47c&brand=DHL
    Payment:
      type: object
      description: Payment response
      required:
        - id
        - requested_on
        - amount
        - currency
        - status
        - _links
      properties:
        id:
          description: Payment unique identifier
          allOf:
            - $ref: '#/components/schemas/PaymentId'
        requested_on:
          description: The date/time the payment was requested
          allOf:
            - $ref: '#/components/schemas/ServerTimestamp'
        source:
          description: The source of the payment
          type: object
          allOf:
            - $ref: '#/components/schemas/PaymentResponseSource'
        amount:
          type: integer
          description: The original payment amount
          example: 6540
        currency:
          type: string
          description: The three-letter ISO currency code of the payment
          example: USD
          maxLength: 3
          minLength: 3
        payment_type:
          type: string
          description: Must be specified for card payments where the cardholder is not present (recurring or Merchant Offline Telephone Order)
          enum:
            - Regular
            - Recurring
            - MOTO
          default: Regular
          example: Recurring
        reference:
          type: string
          description: Your reference for the payment
          example: ORD-5023-4E89
        description:
          type: string
          description: A description of the payment
          example: Set of 3 masks
        status:
          type: string
          description: The status of the payment
          enum:
            - Pending
            - Authorized
            - Card Verified
            - Voided
            - Partially Captured
            - Captured
            - Partially Refunded
            - Refunded
            - Declined
            - Cancelled
          example: Authorized
        3ds:
          type: object
          description: Provides information relating to the processing of 3D-Secure payments
          allOf:
            - $ref: '#/components/schemas/3dsData'
        risk:
          type: object
          description: Returns the payments risk assessment results
          properties:
            flagged:
              type: boolean
              description: Whether the payment was flagged by a risk check
              default: false
              example: true
        customer:
          type: object
          description: The customer to which this payment is linked
          properties:
            id:
              type: string
              description: The unique identifier of the customer. This can be passed as a source when making a payment
              example: cus_y3oqhf46pyzuxjbcn2giaqnb44
            email:
              type: string
              description: The customer email address
              example: jokershere@gmail.com
            name:
              type: string
              description: The customer name
              example: Jack Napier
          required:
            - id
        billing_descriptor:
          $ref: '#/components/schemas/BillingDescriptor'
        shipping:
          type: object
          description: The payment shipping details
          properties:
            address:
              description: The shipping address
              allOf:
                - $ref: '#/components/schemas/Address'
            phone:
              description: The phone number associated with the shipping address
              allOf:
                - $ref: '#/components/schemas/PhoneNumber'
        payment_ip:
          description: The IP address used to make the payment
          allOf:
            - $ref: '#/components/schemas/IPAddress'
        recipient:
          $ref: '#/components/schemas/PaymentRecipient'
        destinations:
          type: array
          items:
            $ref: '#/components/schemas/PaymentDestination'
          minItems: 0
          description: |
            For OpenPay payments, destinations determine the proportion of the payment amount credited to other OpenPay accounts
        metadata:
          type: object
          description: Set of key/value pairs that you can attach to a payment. It can be useful for storing additional information in a structured format
          example:
            coupon_code: "NY2018"
            partner_id: 123989
        _links:
          type: object
          description: The links related to the payment
          minItems: 2
          required:
            - self
            - actions
          properties:
            self:
              type: object
              allOf:
                - $ref: '#/components/schemas/Link'
              description: The URI of the payment
            actions:
              type: object
              allOf:
                - $ref: '#/components/schemas/Link'
              description: A link to the payment's associated actions
            void:
              type: object
              allOf:
                - $ref: '#/components/schemas/Link'
              description: A link to void the payment, where applicable
            capture:
              type: object
              allOf:
                - $ref: '#/components/schemas/Link'
              description: A link to capture the payment, where applicable
            refund:
              type: object
              allOf:
                - $ref: '#/components/schemas/Link'
              description: A link to refund the payment, where applicable
          example:
            self:
              href: "https://api.checkout.com/payments/pay_y3oqhf46pyzuxjbcn2giaqnb44"
            actions:
              href: "https://api.checkout.com/payments/pay_y3oqhf46pyzuxjbcn2giaqnb44/actions"
            refund:
              href: "https://api.checkout.com/payments/pay_y3oqhf46pyzuxjbcn2giaqnb44/refund"
    PaymentAcceptedResponse:
      type: object
      description: Payment response
      required:
        - id
        - status
        - customer
      properties:
        id:
          description: Payment unique identifier
          readOnly: true
          allOf:
            - $ref: '#/components/schemas/PaymentId'
        status:
          type: string
          description: The status of the payment
          enum:
            - Pending
        reference:
          type: string
          description: Your reference for the payment request
          example: ORD-5023-4E89
        customer:
          type: object
          description: The customer to which this payment is linked
          allOf:
            - $ref: '#/components/schemas/PaymentResponseCustomer'
        3ds:
          type: object
          description: Provides 3D-Secure enrollment status
          allOf:
            - $ref: '#/components/schemas/3dsEnrollmentData'
        _links:
          type: object
          description: Payment links
          readOnly: true
          minItems: 2
          properties:
            self:
              type: object
              allOf:
                - $ref: '#/components/schemas/Link'
              description: The URI of the payment
              example:
                href: "https://api.checkout.com/payments/pay_y3oqhf46pyzuxjbcn2giaqnb44"
            redirect:
              type: object
              allOf:
                - $ref: '#/components/schemas/Link'
              description: The URI that the customer should be redirected to, to complete the payment
              example:
                href: "https://api.checkout.com/3ds/pay_y3oqhf46pyzuxjbcn2giaqnb44"
          required:
            - self
      
    PaymentAction:
      type: object
      required:
        - id
        - type
        - amount
        - response_code
        - processed_on
      properties:
        id:
          description: The unique identifier of the payment action
          allOf:
            - $ref: '#/components/schemas/ActionId'
        type:
          type: string
          description: The type of action
          enum:
            - Authorization
            - Card Verification
            - Void
            - Capture
            - Refund
        processed_on:
          description: The date/time the action was processed
          allOf:
            - $ref: '#/components/schemas/ServerTimestamp'
        amount:
          type: integer
          description: The action amount
          example: 6540
        auth_code:
          type: string
          description: The acquirer authorization code for cards
          example: "643381"
        response_code:
          type: string
          description: Gateway response code
          example: "10000"
        response_summary:
          type: string
          description: The Gateway response summary
          example: "Approved"
        reference:
          type: string
          description: Your reference for the action
          example: ORD-5023-4E89
        metadata:
          type: object
          description: Set of key/value pairs that you can attach to an action
        _links:
          type: object
          description: The links related to the action
          minItems: 1
          properties:
            response-code:
              type: object
              allOf:
                - $ref: '#/components/schemas/Link'
              description: A link to the full response code details
              example:
                href: "https://api.checkout.com/refs/response-codes/10000"
      
      
    PaymentActionsResponse:
      type: array
      items:
        $ref: '#/components/schemas/PaymentAction'
      minItems: 1
      description: |
        The payment actions
      example:
        - "id": "act_gefycn3jcvuupboxfmqrhk2aym"
          "type": "Partial Refund"
          "processed_on": "2018-01-20T10:30:48Z"
          "amount": 1000
          "approved": true
          "response_code": "10000"
          "response_summary": "Approved"
          "_links":
            "response-code":
              "href": "https://api.checkout.com/refs/response-codes/10000"
        - "id": "act_gefycn3jcvuupboxfmqrhk2aym"
          "type": "Capture"
          "processed_on": "2018-01-17T10:30:48Z"
          "amount": 6540
          "approved": true
          "response_code": "10000"
          "response_summary": "Approved"
          "metadata":
            "shipping_ref": "MQIBN2"
          "_links":
            "response-code":
              "href": "https://api.checkout.com/refs/response-codes/10000"
        - "id": "act_y3oqhf46pyzuxjbcn2giaqnb44"
          "type": "Authorization"
          "processed_on": "2018-01-17T09:30:48Z"
          "amount": 6540
          "approved": true
          "auth_code": "643381"
          "response_code": "10000"
          "response_summary": "Approved"
          "reference": "ORD-5023-4E89"
          "_links":
            "response-code":
              "href": "https://api.checkout.com/refs/response-codes/10000"
    PaymentDestination:
      type: object
      description: |
        A destination for OpenPay payments 
      properties:
        id:
          type: string
          description: The OpenPay account identifier
          example: "vendor-123456"
        amount:
          type: integer
          description: The amount to be credited to the destination in the major currency unit
          example: 10.50 
      required:
        - id
        - amount
    PaymentId:
      type: string
      description: The payment identifier
      maxLength: 30
      minLength: 30
      example: "pay_y3oqhf46pyzuxjbcn2giaqnb44"
    PaymentRecipient:
      type: object
      description: Required by VISA and MasterCard for domestic UK transactions processed by Financial Institutions. [Read more](https://docs.checkout.com/reference/merchant-api-reference/complex-request-objects/visa-requirements-for-financial-institutions)
      properties:
        dob:
          type: string
          format: date
          description: The recipient's date of birth in yyyy-mm-dd format
          example: "1985-05-15"
        account_number:
          type: string
          description: The first six digits and the last four digits of the primary recipient's card, without spaces, or, up to ten characters of the primary recipient's account number
          minLength: 10
          maxLength: 10
          example: "5555554444"
        zip:
          type: string
          description: The first part of the UK postcode for example W1T 4TJ would be W1T
          example: W1T 
        last_name:
          type: string
          description: The last name of the recipient
          example: Jones
      required:
        - dob
        - account_number
        - zip
        - last_name
    PaymentRequest:
      type: object
      required:
        - currency
        - source
      properties:
        source:
          $ref: '#/components/schemas/PaymentRequestSource'
        amount:
          type: integer
          description: |
            The payment amount in the major currency.
            Omitting the amount or providing 0 will perform a card verification.
          minimum: 0
          example: 6540
        currency:
          type: string
          description: |
            The three-letter ISO currency code
          example: USD
          maxLength: 3
          minLength: 3
        payment_type:
          type: string
          description: Must be specified for card payments where the cardholder is not present (recurring or Merchant Offline Telephone Order)
          enum:
            - Regular
            - Recurring
            - MOTO
          default: Regular
          example: Recurring
        reference:
          type: string
          description: A reference you can later use to identify this payment such as an order number
          example: ORD-5023-4E89
        description:
          type: string
          description: A description of the payment
          example: Set of 3 masks
        capture:
          type: boolean
          description: Whether to capture the payment (if applicable)
          default: true
          example: true
        capture_on:
          description: |
            An ISO 8601 timestamp that determines when the payment should be captured.
            Providing this field will automatically set `capture` to true.
      
          allOf:
            - $ref: '#/components/schemas/Timestamp'
        customer:
          type: object
          description: Details of the customer associated with the payment
          properties:
            id:
              type: string
              description: |
                The identifier of an existing customer. If neither customer `id` or `email` is provided
                a new customer will be registered
              example: cus_y3oqhf46pyzuxjbcn2giaqnb44
            email:
              type: string
              format: email
              description: An optional email address to associate with the customer
              example: jokershere@gmail.com
            name:
              type: string
              description: The customer's name. This will only set the name for *new* customers
              example: Jack Napier
        billing_descriptor:
          $ref: '#/components/schemas/BillingDescriptor'
        shipping:
          type: object
          description: The payment shipping details
          properties:
            address:
              description: The shipping address
              allOf:
                - $ref: '#/components/schemas/Address'
            phone:
              description: The phone number associated with the shipping address
              allOf:
                - $ref: '#/components/schemas/PhoneNumber'
        3ds:
          type: boolean
          description: Whether to process this payment as a 3D-Secure
          default: false
          example: true
        attempt_n3d:
          type: boolean
          description: |
            Determines whether to attempt a 3D-Secure payment as non-3DS
            should the card issuer not be enrolled.
            [Read more](https://docs.checkout.com/getting-started/merchant-api/3d-secure-charges/attempt-non-3d-secure-charge).
          default: false
          example: true
        previous_payment_id:
          type: string
          description: |
            For payments that use stored card details such as recurring payments,
            an existing payment identifier from the recurring series or the Scheme Transaction Id. [Read more](https://docs.checkout.com/docs/stored-card-details).
          example: "pay_fun26akvvjjerahhctaq2uzhu4"
        skip_risk_check:
          type: boolean
          description: Indicates whether risk checks for the requested payment should be skipped
          default: false
          example: true
        success_url:
          type: string
          format: uri
          description: For redirect payment methods, overrides the default success redirect URL configured on your account
          example: "http://example.com/payments/success"
        failure_url:
          type: string
          format: uri
          description: For redirect payment methods, overrides the default failure redirect URL configured on your account
          example: "http://example.com/payments/fail"
        payment_ip:
          description: The IP address used to make the payment. Required for some risk checks.
          allOf:
            - $ref: '#/components/schemas/IPAddress'
        recipient:
          $ref: '#/components/schemas/PaymentRecipient'
        destinations:
          type: array
          items:
            $ref: '#/components/schemas/PaymentDestination'
          minItems: 0
          description: |
            For OpenPay payments, destinations determine the proportion of the payment amount that should
            be credited to other OpenPay accounts
        metadata:
          type: object
          description: Set of key/value pairs that you can attach to a payment. It can be useful for storing additional information in a structured format
          example:
            coupon_code: "NY2018"
            partner_id: 123989
        # items:
        #   type: array
        #   items:
        #     - $ref: '#/components/schemas/Item'
        #   minItems: 0
        #   description: |
        #     The items or products associated with the payment
    PaymentRequestCardSource:
      type: object
      description: A card payment source
      allOf:
        - $ref: "#/components/schemas/PaymentRequestSource"
        - type: object
          required:
            - type
            - number
            - expiry_month
            - expiry_year
          properties:
            type:
              type: string
              description: The payment source type
              enum:
                - card
            number:
              type: string
              description: The card number
              example: "4543474002249996"
            expiry_month:
              type: integer
              description: The two-digit expiry month of the card
              minimum: 1
              example: 6
            expiry_year:
              type: integer
              description: The four-digit expiry year of the card
              example: 2025
            name:
              type: string
              description: The card-holder name
              example: "Bruce Wayne"
            cvv:
              type: string
              description: The card verification value/code. 3 digits, except for Amex (4 digits).
              example: "956"
              minLength: 3
              maxLength: 4
            billing_address:
              description: The payment source owner's billing address
              allOf:
                - $ref: '#/components/schemas/Address'
            phone:
              description: The payment source owner's phone number
              allOf:
                - $ref: '#/components/schemas/PhoneNumber'
    PaymentRequestCustomerSource:
      type: object
      description: A customer source
      allOf:
        - $ref: "#/components/schemas/PaymentRequestSource"
        - type: object
          properties:
            type:
              type: string
              description: The payment source type. With the exception of some alternative payment methods, this is inferred automatically
              enum:
                - customer
            id:
              type: string
              description: The customer identifier, required if `email` is not provided
              example: cus_y3oqhf46pyzuxjbcn2giaqnb44
            email:
              type: string
              format: email
              description: The customer email address, required if `id` is not provided
              example: jokershere@gmail.com
      
    PaymentRequestGiropaySource:
      type: object
      description: Giropay Source
      allOf:
        - $ref: "#/components/schemas/PaymentRequestSource"
        - type: object
          required:
            - purpose
            - bic
          properties:
            type:
              type: string
              description: The payment source type.
              enum:
                - giropay
            purpose:
              type: string
              maxLength: 27
              description: Purpose
            bic:
              type: string
              maxLength: 11
              description: BIC (8 or 11-digits)
            iban:
              type: string
              maxLength: 34
              description: IBAN without whitespaces. This parameter is optional.
            info_fields:
              type: array
              maxItems: 5
              items:
                $ref: "#/components/schemas/GiropayPaymentInfo"
    PaymentRequestIdSource:
      type: object
      description: An existing payment source
      required:
        - id
      allOf:
        - $ref: "#/components/schemas/PaymentRequestSource"
        - type: object
          properties:
            type:
              type: string
              description: The payment source type. With the exception of some alternative payment methods, this is inferred automatically
              enum:
                - id
            id:
              type: string
              description: The payment source identifer for example, a card source identifier
              example: src_wmlfc3zyhqzehihu7giusaaawu
            cvv:
              type: string
              description: The card verification value/code (for card sources). 3 digits, except for Amex (4 digits).
              example: "956"
              minLength: 3
              maxLength: 4
    PaymentRequestIdealSource:
      type: object
      description: iDEAL Source
      required:
        - issuer_id
      allOf:
        - $ref: "#/components/schemas/PaymentRequestSource"
        - type: object
          properties:
            type:
              type: string
              description: The payment source type. With the exception of some alternative payment methods, this is inferred automatically
              enum:
                - ideal
            issuer_id:
              type: string
              description: The issuer identifer
              example: ABNANL2A
    PaymentRequestSource:
      type: object
      description: The source of the payment
      discriminator:
        propertyName: type
        mapping:
          card: '#/components/schemas/PaymentRequestCardSource'
          customer: '#/components/schemas/PaymentRequestCustomerSource'
          giropay: '#/components/schemas/PaymentRequestGiropaySource'
          ideal: '#/components/schemas/PaymentRequestIdealSource'
          id: '#/components/schemas/PaymentRequestIdSource'
          token: '#/components/schemas/PaymentRequestTokenSource'
      required:
        - type
      properties:
        type:
          type: string
          description: The payment source type
          default: "card"
          example: "card"
    PaymentRequestTokenSource:
      type: object
      description: A token payment source
      required:
        - token
      allOf:
        - $ref: "#/components/schemas/PaymentRequestSource"
        - type: object
          properties:
            type:
              type: string
              description: The payment source type. With the exception of some alternative payment methods, this is inferred automatically
              enum:
                - token
            token:
              type: string
              description: The Checkout token for example a card, wallet or alternative payment token
              example: tok_ubfj2q76miwundwlk72vxt2i7q
            billing_address:
              description: The payment source owner's billing address. This will override the billing address specified during tokenisation
              allOf:
                - $ref: '#/components/schemas/Address'
            phone:
              description: The payment source owner's phone number. This will override the phone number specified during tokenisation
              allOf:
                - $ref: '#/components/schemas/PhoneNumber'
      
    PaymentResponse:
      type: object
      description: Payment Response
      required:
        - id
        - action_id
        - amount
        - currency
        - approved
        - status
        - response_code
        - processed_on
        - customer
        - source
        - _links
      properties:
        id:
          description: Payment unique identifier
          allOf:
            - $ref: '#/components/schemas/PaymentId'
        action_id:
          description: The unique identifier for the action performed against this payment
          allOf:
            - $ref: '#/components/schemas/ActionId'
        amount:
          type: integer
          description: The payment amount
          example: 6540
        currency:
          type: string
          description: The three-letter ISO currency code of the payment
          example: USD
          maxLength: 3
          minLength: 3
        approved:
          type: boolean
          description: Whether the payment request was approved
          example: true
        status:
          type: string
          description: The status of the payment
          enum:
            - Authorized
            - Pending
            - Card Verified
            - Captured
            - Declined
          example: Authorized
        auth_code:
          type: string
          description: The acquirer authorization code if the payment was Authorized
          example: "643381"
        response_code:
          type: string
          description: Gateway response code
          example: "10000"
        response_summary:
          type: string
          description: The Gateway response summary
          example: "Approved"
        3ds:
          type: object
          description: Provides 3D-Secure enrollment status if the payment was downgraded to Non-3DS
          allOf:
            - $ref: '#/components/schemas/3dsEnrollmentData'
          example:
            downgraded: true
            enrolled: N
        risk:
          type: object
          description: Returns the payments risk assessment results
          properties:
            flagged:
              type: boolean
              description: Whether the payment was flagged by a risk check
              default: false
              example: true
        source:
          description: The source of the payment
          type: object
          allOf:
            - $ref: '#/components/schemas/PaymentResponseSource'
        customer:
          type: object
          description: The customer to which this payment is linked
          allOf:
            - $ref: '#/components/schemas/PaymentResponseCustomer'
        processed_on:
          description: The date/time the payment was processed
          allOf:
            - $ref: '#/components/schemas/ServerTimestamp'
        reference:
          type: string
          description: Your reference for the payment
          example: ORD-5023-4E89
        _links:
          type: object
          description: The links related to the payment
          minItems: 2
          required:
            - self
            - actions
          properties:
            self:
              type: object
              allOf:
                - $ref: '#/components/schemas/Link'
              description: The URI of the payment
            actions:
              type: object
              allOf:
                - $ref: '#/components/schemas/Link'
              description: A link to the payment's associated actions
            void:
              type: object
              allOf:
                - $ref: '#/components/schemas/Link'
              description: A link to void the payment, where applicable
            capture:
              type: object
              allOf:
                - $ref: '#/components/schemas/Link'
              description: A link to capture the payment, where applicable
            refund:
              type: object
              allOf:
                - $ref: '#/components/schemas/Link'
              description: A link to refund the payment, where applicable
            response-code:
              type: object
              allOf:
                - $ref: '#/components/schemas/Link'
              description: A link to the full response code details
          example:
            self:
              href: "https://api.checkout.com/payments/pay_y3oqhf46pyzuxjbcn2giaqnb44"
            actions:
              href: "https://api.checkout.com/payments/pay_y3oqhf46pyzuxjbcn2giaqnb44/actions"
            void:
              href: "https://api.checkout.com/payments/pay_y3oqhf46pyzuxjbcn2giaqnb44/voids"
            capture:
              href: "https://api.checkout.com/payments/pay_y3oqhf46pyzuxjbcn2giaqnb44/capture"
            response-code:
              href: "https://api.checkout.com/refs/response-codes/10000"
    PaymentResponseCardSource:
      type: object
      description: A card payment source
      allOf:
        - $ref: "#/components/schemas/PaymentResponseSource"
        - type: object
          required:
            - expiry_month
            - expiry_year
            - last4
            - fingerprint
            - bin
          properties:
            type:
              type: string
              description: The payment source type
              enum:
                - card
            expiry_month:
              type: integer
              description: The two-digit expiry month
              minimum: 1
              example: 6
            expiry_year:
              type: integer
              description: The four-digit expiry year
              example: 2025
            name:
              type: string
              description: The card-holder name
              example: "Bruce Wayne"
            scheme:
              type: string
              description: The card scheme
              example: "VISA"
            last4:
              type: string
              description: The last four digits of the card number
              example: "9996"
            fingerprint:
              type: string
              description: Uniquely identifies this particular card number. You can use this to compare cards across customers
              example: "F639CAB2745BEE4140BF86DF6B6D6"
            bin:
              type: string
              description: The card issuer BIN
              example: "454347"
            card_type:
              type: string
              description: The card type
              enum:
                - Credit
                - Debit
                - Prepaid
              example: Credit
            card_category:
              type: string
              description: The card category
              enum:
                - Consumer
                - Commercial
              example: Consumer
            issuer:
              type: string
              description: The name of the card issuer
              example: "GOTHAM STATE BANK"
            issuer_country:
              type: string
              maxLength: 2
              minLength: 2
              description: The card issuer country ISO-2 code
              example: "US"
            product_id:
              type: string
              description: The issuer/card scheme product identifier
              example: "F"
            product_type:
              type: string
              description: The issuer/card scheme product type
              example: CLASSIC
            avs_check:
              type: string
              description: The Address Verification System check result
              example: S
            cvv_check:
              type: string
              description: The CVV check result
              example: Y
            payment_account_reference:
              type: string
              description: A unique reference to the underlying card for network tokens e.g. Apple Pay/Google Pay
              example: "EUNIX9AX7THOOJIEJ2AP6OOFAHGH4"
    PaymentResponseCustomer:
      type: object
      description: The customer to which this payment is linked
      required:
        - id
      properties:
        id:
          type: string
          description: The unique identifier of the customer. This can be passed as a source when making a payment
          example: cus_y3oqhf46pyzuxjbcn2giaqnb44
        email:
          type: string
          description: The customer email address
          example: jokershere@gmail.com
        name:
          type: string
          description: The customer name
          example: Jack Napier
    PaymentResponseSource:
      type: object
      description: Payment source
      
      discriminator:
        propertyName: type
        mapping:
          card: '#/components/schemas/PaymentResponseCardSource'
      
      required:
        - type
      
      properties:
        type:
          type: string
          description: |
            The payment source type. For any payment request sources that result in a card token (token, source ID etc.)
            this will be `card` otherwise the name of the alternative payment method.
          default: "card"
          example: "card"
        id:
          type: string
          description: |
            The payment source identifier that can be used for subsequent payments.
            For new sources, this will only be returned if the payment was approved.
          example: src_wmlfc3zyhqzehihu7giusaaawu
        billing_address:
          description: The payment source owner's billing address
          allOf:
            - $ref: '#/components/schemas/Address'
        phone:
          description: The payment source owner's phone number
          allOf:
            - $ref: '#/components/schemas/PhoneNumber'
    RefundAcceptedResponse:
      type: object
      description: Refund response
      required:
        - action_id
      properties:
        action_id:
          description: The unique identifier for the refund action
          allOf:
            - $ref: '#/components/schemas/ActionId'
        reference:
          type: string
          description: Your reference for the refund request
          example: ORD-5023-4E89
        _links:
          type: object
          description: Refund links
          readOnly: true
          minItems: 2
          properties:
            payment:
              type: object
              allOf:
                - $ref: '#/components/schemas/Link'
              description: The URI of the payment to be refund. Use this to check the status of the payment
              example:
                href: "https://api.checkout.com/payments/pay_y3oqhf46pyzuxjbcn2giaqnb44"
          required:
            - payment
      
    RefundRequest:
      type: object
      properties:
        amount:
          type: integer
          description: |
            The amount to refund in the major currency. If not specified, the full payment amount will be refunded
          minimum: 0
          example: 6540
        reference:
          type: string
          description: A reference you can later use to identify this refund request
          example: ORD-5023-4E89
        metadata:
          type: object
          description: Set of key/value pairs that you can attach to the refund request. It can be useful for storing additional information in a structured format
          example:
            coupon_code: "NY2018"
            partner_id: 123989
    VoidAcceptedResponse:
      type: object
      description: Void response
      required:
        - action_id
      properties:
        action_id:
          description: The unique identifier for the void action
          allOf:
            - $ref: '#/components/schemas/ActionId'
        reference:
          type: string
          description: Your reference for the void request
          example: ORD-5023-4E89
        _links:
          type: object
          description: Void links
          readOnly: true
          minItems: 2
          properties:
            payment:
              type: object
              allOf:
                - $ref: '#/components/schemas/Link'
              description: The URI of the payment to be refund. Use this to check the status of the payment
              example:
                href: "https://api.checkout.com/payments/pay_y3oqhf46pyzuxjbcn2giaqnb44"
          required:
            - payment
      
    VoidRequest:
      type: object
      properties:
        reference:
          type: string
          description: A reference you can later use to identify this void request
[...]
