*  @adam-young-cko @weronika-castiglione-cko @checkout/docs-admin

/abc_spec/components/schemas/Payments/ @checkout/gateway-product-cko
/nas_spec/components/schemas/Payments/ @checkout/gateway-product-cko

/nas_spec/components/schemas/PaymentLinks/ @checkout/payment-interfaces-cko
/nas_spec/components/schemas/HostedPayments/ @checkout/payment-interfaces-cko