* @adam-young-cko @weronika-castiglione-cko 

/abc_spec/ @checkout/docs-admin
/nas_spec/ @checkout/docs-admin

/abc_spec/components/schemas/Payments/ @checkout/gateway-product-cko
/nas_spec/components/schemas/Payments/ @checkout/gateway-product-cko

/nas_spec/components/schemas/PaymentLinks/ @checkout/payment-experience-cko
/nas_spec/components/schemas/HostedPayments/ @checkout/payment-experience-cko