openapi: '3.0.1'
info:
  version: '1.0.0'
  title: Checkout.com API Reference
  x-logo:
    url: 'https://assets.checkout.com/docs/logos/logo-checkout-api-dark.svg'
    altText: 'Checkout.com API logo'
  contact:
    name: Checkout.com Support
    url: 'https://checkout.com'
    email: support@checkout.com
  license:
    name: Checkout.com
    url: 'https://checkout.com/api/license/'
  termsOfService: 'https://checkout.com/terms/'
  description: >
    ## Get started

    Checkout.com provides a collection of APIs that enable you to process and manage payments. Our APIs accept and return JSON in the HTTP body, and return standard <a href="https://www.checkout.com/docs/previous/resources/codes/http-response-codes">HTTP response codes</a>.

    You can consume the APIs directly using your favorite HTTP/REST library or make use of one of our <a href="https://www.checkout.com/docs/previous/integrate/sdks" target="_blank">SDKs</a>.

    We have a testing environment called sandbox, which you can <a href="https://www.checkout.com/get-test-account">sign up for</a> to test API calls without affecting live data.

    ### Base URLs

    Use the following base URLs when making requests to the APIs:

      | Environment   |      Base URL                                        |
      |---------------|------------------------------------------------------|
      | Sandbox       |  https://api.sandbox.checkout.com/                   |
      | Production    |  https://api.checkout.com/                           |

    ### Looking for more guidance?

    Depending on what integration you need, we've provided <a href="https://www.checkout.com/docs/previous/integrate/">guides to get you set up</a>.

    ### Not using APIs?

    We've partnered with many popular <a href="https://www.checkout.com/docs/previous/integrate/e-commerce-platforms">e-commerce platforms</a> so you can get up and running quickly, processing online payments with one of our e-commerce plugins.

    # Authentication

    When you sign up for an account, you are given a secret and public API key
    pair. You authenticate with our API by providing the appropriate key in
    the request Authorization header.

    Never share your secret keys. Keep them guarded and secure.

servers:
  - url: https://api.sandbox.checkout.com
    description: Sandbox API
  - url: https://api.checkout.com
    description: Live API
tags:
  - name: Payments
    description: Process and manage payments from a variety of sources and to various destinations all within one integration.
  - name: Payment Links
    description: Create a Payment Link to accept and process payment details.
  - name: Hosted Payments Page
    description: Create a Hosted Payments Page to accept and process payment details.
  - name: Sources
    description: Create a payment source for a customer that you can use for one or more payments.
  - name: Tokens
    description: Create a token that represents a card's details (or their tokenized form in a digital wallet) that you can later use to request a payment, without you having to process or store any sensitive information.
  - name: Instruments
    description: Create a payment instrument that you can later use as the source or destination for one or more payments.
  - name: Webhooks
    description: Create and manage the webhook notifications you receive to keep up to date with the status of your transactions.
  - name: Events
    description: Use events to monitor and get insights into your transactions.
  - name: Disputes
    description: Keep track of and act on your open disputes (also known as chargebacks) to submit the best possible response.
  - name: Reconciliation
    description: Quickly find all fees associated with each of your payments, so you can concentrate on the important stuff while streamlining your financial reporting.
  - name: Risk
    description: Evaluate the risk of a transaction at the pre-authentication and pre-capture stages of the payment process.
  # - name: Files
  #   description: |
  #     Upload files to be used as input to other APIs
x-tagGroups:
  - name: Handle payments and payouts
    tags:
      - Payments
      - Payment Links
      - Hosted Payments Page
  - name: Stored payment details
    tags:
      - Tokens
      - Sources
      - Instruments
      - Customers
  - name: Notifications
    tags:
      - Events
      - Webhooks
  - name: Disputes
    tags:
      - Disputes
  - name: Risk management
    tags:
      - Risk
  - name: Statements and reporting
    tags:
      - Reconciliation
paths:
  /customers:
    post:
      security:
        - ApiSecretKey: []
      tags:
        - Customers
      summary: Create a customer
      operationId: createCustomer
      description: >
        <a href="https://www.checkout.com/docs/previous/payments/store-payment-details/customers" target="_blank">Store a customer's details in a customer object to reuse in future payments</a>. Link a payment instrument using the Update customer details endpoint, so the customer `id` returned can be passed as a source when making a payment.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerCreateRequest'
      responses:
        '201':
          description: Customer created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerCreateResponse'
        '401':
          description: Unauthorized
        '422':
          description: Invalid data was sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
      x-code-samples:
        - lang: C#
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-net\nusing Checkout.Common;\nusing CustomerRequest = Checkout.Customers.Previous.CustomerRequest;\n\nPrevious.ICheckoutApi api = CheckoutSdk.Builder()\n    .Previous()\n    .StaticKeys()\n    .SecretKey(\"secret_key\")\n    .Environment(Environment.Sandbox)\n    .HttpClientFactory(new DefaultHttpClientFactory())\n    .Build();\n\nCustomerRequest request = new CustomerRequest\n{\n    Email = \"email@docs.checkout.com\",\n    Name = \"FirstName LastName\",\n    Phone = new Phone {CountryCode = \"1\", Number = \"4155552671\"},\n    Metadata = new Dictionary<string, object>() {{\"coupon_code\", \"NY2018\"}, {\"partner_id\", \"123989\"}}\n};\n\ntry\n{\n    IdResponse response = await api.CustomersClient().Create(request);\n}\ncatch (CheckoutApiException e)\n{\n    // API error\n    string requestId = e.RequestId;\n    var statusCode = e.HttpStatusCode;\n    IDictionary<string, object> errorDetails = e.ErrorDetails;\n}\ncatch (CheckoutArgumentException e)\n{\n    // Bad arguments\n}\ncatch (CheckoutAuthorizationException e)\n{\n    // Invalid authorization\n}"
        - lang: Java
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-java\nimport com.checkout.CheckoutApiException;\nimport com.checkout.CheckoutArgumentException;\nimport com.checkout.CheckoutAuthorizationException;\nimport com.checkout.CheckoutSdk;\nimport com.checkout.Environment;\nimport com.checkout.common.IdResponse;\nimport com.checkout.common.Phone;\nimport com.checkout.customers.previous.CustomerRequest;\nimport com.checkout.previous.CheckoutApi;\n\nCheckoutApi api = CheckoutSdk\n    .builder()\n    .previous()\n    .staticKeys()\n    .secretKey(\"secret_key\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .build();\n\nCustomerRequest request = CustomerRequest.builder()\n    .email(\"email@docs.checkout.com\")\n    .name(\"name\")\n    .phone(Phone.builder().countryCode(\"1\").number(\"415 555 2671\").build())\n    .build();\n\ntry {\n    IdResponse response = api.customersClient().create(request).get();\n} catch (CheckoutApiException e) {\n    // API error\n    String requestId = e.getRequestId();\n    int statusCode = e.getHttpStatusCode();\n    Map<String, Object> errorDetails = e.getErrorDetails();\n} catch (CheckoutArgumentException e) {\n    // Bad arguments\n} catch (CheckoutAuthorizationException e) {\n    // Invalid authorization\n}"
        - lang: Node
          source: "import { Checkout } from 'checkout-sdk-node';\n\nconst cko = new Checkout('sk_XXXX');\n\ntry {\n	const customerResponse = await cko.customers.create({\n		email: 'JohnTest@test.com',\n		name: 'John Test',\n		phone: {\n			country_code: '+1',\n			number: '4155552671',\n		},\n		metadata: {\n			coupon_code: 'NY2018',\n			partner_id: 123989,\n		},\n	});\n} catch (err) {\n	console.log(err.name);\n}"
        - lang: PHP
          source: "<?php\n//For more information please refer to https://github.com/checkout/checkout-sdk-php\nuse Checkout\\CheckoutApiException;\nuse Checkout\\CheckoutArgumentException;\nuse Checkout\\CheckoutAuthorizationException;\nuse Checkout\\CheckoutSdk;\nuse Checkout\\Common\\Phone;\nuse Checkout\\Customers\\CustomerRequest;\nuse Checkout\\Environment;\n\n$api = CheckoutSdk::builder()\n    ->previous()\n    ->staticKeys()\n    ->environment(Environment::sandbox())\n    ->secretKey(\"secret_key\")\n    ->build();\n\n$phone = new Phone();\n$phone->country_code = \"1\";\n$phone->number = \"4155552671\";\n\n$customerRequest = new CustomerRequest();\n$customerRequest->email = \"email@docs.checkout.com\";\n$customerRequest->name = \"name\";\n$customerRequest->phone = $phone;\n\ntry {\n    $response = $api->getCustomersClient()->create($customerRequest);\n} catch (CheckoutApiException $e) {\n    // API error\n    $error_details = $e->error_details;\n    $http_status_code = isset($e->http_metadata) ? $e->http_metadata->getStatusCode() : null;\n} catch (CheckoutAuthorizationException $e) {\n    // Bad Invalid authorization\n}"
        - lang: Python
          source: "# For more information please refer to https://github.com/checkout/checkout-sdk-python\nimport checkout_sdk\nfrom checkout_sdk.checkout_sdk import CheckoutSdk\nfrom checkout_sdk.common.common import Phone\nfrom checkout_sdk.customers.customers import CustomerRequest\nfrom checkout_sdk.environment import Environment\nfrom checkout_sdk.exception import CheckoutApiException, CheckoutArgumentException, CheckoutAuthorizationException\n\napi = CheckoutSdk.builder() \\\n    .previous() \\\n    .secret_key('secret_key') \\\n    .environment(Environment.sandbox()) \\\n    .build()\n    # or Environment.production()\n\nphone = Phone()\nphone.country_code = '44'\nphone.number = '4155552671'\n\ncustomer_request = CustomerRequest()\ncustomer_request.email = 'email@docs.checkout.com'\ncustomer_request.name = 'Name'\ncustomer_request.phone = phone\n\ntry:\n    response = api.customers.create(customer_request)\nexcept CheckoutApiException as err:\n    # API error\n    request_id = err.request_id\n    status_code = err.http_status_code\n    error_details = err.error_details\n    http_response = err.http_response\nexcept CheckoutArgumentException as err:\n    # Bad arguments\n\nexcept CheckoutAuthorizationException as err:\n    # Invalid authorization"
  /customers/{identifier}:
    get:
      security:
        - ApiSecretKey: [ ]
      tags:
        - Customers
      summary: Get customer details
      operationId: getCustomerDetails
      description: Returns details of a customer and their instruments
      parameters:
        - in: path
          name: identifier
          required: true
          description: The customer's ID or email
          schema:
            type: string
            properties:
              id:
                type: string
                pattern: "^(cus)_(\\w{26})$"
              email:
                type: string
                format: email
                maxLength: 255
            additionalProperties: false
            oneOf:
              - required: [ id ]
              - required: [ email ]
      responses:
        '200':
          description: Customer retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerGetResponse'
          headers:
            Cko-Request-Id:
              schema:
                $ref: '#/components/headers/Cko-Request-Id'
            Cko-Version:
              schema:
                $ref: '#/components/headers/Cko-Version'
        '401':
          description: Unauthorized
        '404':
          description: Customer not found
    
      x-code-samples:
        - lang: C#
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-net\nusing Checkout.Customers.Previous;\n\nPrevious.ICheckoutApi api = CheckoutSdk.Builder()\n    .Previous()\n    .StaticKeys()\n    .SecretKey(\"secret_key\")\n    .Environment(Environment.Sandbox)\n    .HttpClientFactory(new DefaultHttpClientFactory())\n    .Build();\n\ntry\n{\n    CustomerDetailsResponse response = await api.CustomersClient().Get(\"customer_id\");\n}\ncatch (CheckoutApiException e)\n{\n    // API error\n    string requestId = e.RequestId;\n    var statusCode = e.HttpStatusCode;\n    IDictionary<string, object> errorDetails = e.ErrorDetails;\n}\ncatch (CheckoutArgumentException e)\n{\n    // Bad arguments\n}\ncatch (CheckoutAuthorizationException e)\n{\n    // Invalid authorization\n}"
        - lang: Java
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-java\nimport com.checkout.CheckoutApiException;\nimport com.checkout.CheckoutArgumentException;\nimport com.checkout.CheckoutAuthorizationException;\nimport com.checkout.CheckoutSdk;\nimport com.checkout.Environment;\nimport com.checkout.customers.previous.CustomerDetailsResponse;\nimport com.checkout.previous.CheckoutApi;\n\nCheckoutApi api = CheckoutSdk\n    .builder()\n    .previous()\n    .staticKeys()\n    .secretKey(\"secret_key\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .build();\n\ntry {\n    CustomerDetailsResponse response = api.customersClient().get(\"customer_id\").get();\n} catch (CheckoutApiException e) {\n    // API error\n    String requestId = e.getRequestId();\n    int statusCode = e.getHttpStatusCode();\n    Map<String, Object> errorDetails = e.getErrorDetails();\n} catch (CheckoutArgumentException e) {\n    // Bad arguments\n} catch (CheckoutAuthorizationException e) {\n    // Invalid authorization\n}"
        - lang: Node
          source: "import { Checkout } from 'checkout-sdk-node';\n\nconst cko = new Checkout('sk_XXXX');\n\ntry {\n	const customerResponse = await cko.customers.get('cus_2tvaccfvs3lulevzg42vgyvtdq');\n} catch (err) {\n	console.log(err.name);\n}"
        - lang: PHP
          source: "<?php\n//For more information please refer to https://github.com/checkout/checkout-sdk-php\n\nuse Checkout\\CheckoutApiException;\nuse Checkout\\CheckoutArgumentException;\nuse Checkout\\CheckoutAuthorizationException;\nuse Checkout\\CheckoutSdk;\nuse Checkout\\Environment;\n\n$api = CheckoutSdk::builder()\n    ->previous()\n    ->staticKeys()\n    ->environment(Environment::sandbox())\n    ->secretKey(\"secret_key\")\n    ->build();\n\ntry {\n    $response = $api->getCustomersClient()->get(\"customer_id\");\n} catch (CheckoutApiException $e) {\n    // API error\n    $error_details = $e->error_details;\n    $http_status_code = isset($e->http_metadata) ? $e->http_metadata->getStatusCode() : null;\n} catch (CheckoutAuthorizationException $e) {\n    // Bad Invalid authorization\n}"
        - lang: Python
          source: "# For more information please refer to https://github.com/checkout/checkout-sdk-python\nimport checkout_sdk\nfrom checkout_sdk.checkout_sdk import CheckoutSdk\nfrom checkout_sdk.environment import Environment\nfrom checkout_sdk.exception import CheckoutApiException, CheckoutArgumentException, CheckoutAuthorizationException\n\napi = CheckoutSdk.builder() \\\n    .previous() \\\n    .secret_key('secret_key') \\\n    .environment(Environment.sandbox()) \\\n    .build()\n    # or Environment.production()\n\ntry:\n    response = api.customers.get('customer_id')\nexcept CheckoutApiException as err:\n    # API error\n    request_id = err.request_id\n    status_code = err.http_status_code\n    error_details = err.error_details\n    http_response = err.http_response\nexcept CheckoutArgumentException as err:\n    # Bad arguments\n\nexcept CheckoutAuthorizationException as err:\n    # Invalid authorization"
    patch:
      security:
        - ApiSecretKey: [ ]
      tags:
        - Customers
      summary: Update customer details
      operationId: updateCustomerDetails
      description: Update details of a customer
      parameters:
        - in: path
          name: identifier
          schema:
            type: string
            pattern: "^(cus)_(\\w{26})$"
          required: true
          description: The customer id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomerRequest'
      responses:
        '204':
          description: Customer updated successfully
        '401':
          description: Unauthorized
        '422':
          description: Invalid data was sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '404':
          description: Customer not found
    
      x-code-samples:
        - lang: C#
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-net\nusing Checkout.Common;\nusing CustomerRequest = Checkout.Customers.Previous.CustomerRequest;\n\nPrevious.ICheckoutApi api = CheckoutSdk.Builder()\n    .Previous()\n    .StaticKeys()\n    .SecretKey(\"secret_key\")\n    .Environment(Environment.Sandbox)\n    .HttpClientFactory(new DefaultHttpClientFactory())\n    .Build();\n\nCustomerRequest request = new CustomerRequest\n{\n    Email = \"email@docs.checkout.com\",\n    Name = \"FirstName LastName\",\n    Phone = new Phone\n    {\n        CountryCode = \"1\",\n        Number = \"4155552671\"\n    },\n    Metadata = new Dictionary<string, object>()\n    {\n        {\"coupon_code\", \"NY2018\"},\n        {\"partner_id\", \"123989\"}\n    }\n};\n\ntry\n{\n    EmptyResponse response = await api.CustomersClient().Update(\"customer_id\", request);\n}\ncatch (CheckoutApiException e)\n{\n    // API error\n    string requestId = e.RequestId;\n    var statusCode = e.HttpStatusCode;\n    IDictionary<string, object> errorDetails = e.ErrorDetails;\n}\ncatch (CheckoutArgumentException e)\n{\n    // Bad arguments\n}\ncatch (CheckoutAuthorizationException e)\n{\n    // Invalid authorization\n}"
        - lang: Java
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-java\nimport com.checkout.CheckoutApiException;\nimport com.checkout.CheckoutArgumentException;\nimport com.checkout.CheckoutAuthorizationException;\nimport com.checkout.CheckoutSdk;\nimport com.checkout.EmptyResponse;\nimport com.checkout.Environment;\nimport com.checkout.common.Phone;\nimport com.checkout.customers.previous.CustomerRequest;\nimport com.checkout.previous.CheckoutApi;\n\nCheckoutApi api = CheckoutSdk\n    .builder()\n    .previous()\n    .staticKeys()\n    .secretKey(\"secret_key\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .build();\n\nCustomerRequest request = CustomerRequest.builder()\n    .email(\"email@docs.checkout.com\")\n    .name(\"name\")\n    .phone(Phone.builder().countryCode(\"1\").number(\"415 555 2671\").build())\n    .build();\n\ntry {\n    EmptyResponse response = api.customersClient().update(\"customer_id\", request).get();\n} catch (CheckoutApiException e) {\n    // API error\n    String requestId = e.getRequestId();\n    int statusCode = e.getHttpStatusCode();\n    Map<String, Object> errorDetails = e.getErrorDetails();\n} catch (CheckoutArgumentException e) {\n    // Bad arguments\n} catch (CheckoutAuthorizationException e) {\n    // Invalid authorization\n}"
        - lang: Node
          source: "import { Checkout } from 'checkout-sdk-node';\n\nconst cko = new Checkout('sk_XXXX');\n\ntry {\n	const customerResponse = await cko.customers.update('cus_2tvaccfvs3lulevzg42vgyvtdq', {\n		name: 'James Bond',\n	});\n} catch (err) {\n	console.log(err.name);\n}"
        - lang: PHP
          source: "<?php\n//For more information please refer to https://github.com/checkout/checkout-sdk-php\n\nuse Checkout\\CheckoutApiException;\nuse Checkout\\CheckoutArgumentException;\nuse Checkout\\CheckoutAuthorizationException;\nuse Checkout\\CheckoutSdk;\nuse Checkout\\Common\\Phone;\nuse Checkout\\Customers\\CustomerRequest;\nuse Checkout\\Environment;\n\n$api = CheckoutSdk::builder()\n    ->previous()\n    ->staticKeys()\n    ->environment(Environment::sandbox())\n    ->secretKey(\"secret_key\")\n    ->build();\n\n$phone = new Phone();\n$phone->country_code = \"1\";\n$phone->number = \"4155552671\";\n\n$customerRequest = new CustomerRequest();\n$customerRequest->email = \"email@docs.checkout.com\";\n$customerRequest->name = \"name\";\n$customerRequest->phone = $phone;\n\ntry {\n    $response = $api->getCustomersClient()->update(\"customer_id\", $customerRequest);\n} catch (CheckoutApiException $e) {\n    // API error\n    $error_details = $e->error_details;\n    $http_status_code = isset($e->http_metadata) ? $e->http_metadata->getStatusCode() : null;\n} catch (CheckoutAuthorizationException $e) {\n    // Bad Invalid authorization\n}"
        - lang: Python
          source: "# For more information please refer to https://github.com/checkout/checkout-sdk-python\nimport checkout_sdk\nfrom checkout_sdk.checkout_sdk import CheckoutSdk\nfrom checkout_sdk.common.common import Phone\nfrom checkout_sdk.customers.customers import CustomerRequest\nfrom checkout_sdk.environment import Environment\nfrom checkout_sdk.exception import CheckoutApiException, CheckoutArgumentException, CheckoutAuthorizationException\n\napi = CheckoutSdk.builder() \\\n    .previous() \\\n    .secret_key('secret_key') \\\n    .environment(Environment.sandbox()) \\\n    .build()\n    # or Environment.production()\n\nphone = Phone()\nphone.country_code = '44'\nphone.number = '4155552671'\n\ncustomer_request = CustomerRequest()\ncustomer_request.email = 'email@docs.checkout.com'\ncustomer_request.name = 'Name'\ncustomer_request.phone = phone\n\ntry:\n    response = api.customers.update('customer_id', customer_request)\nexcept CheckoutApiException as err:\n    # API error\n    request_id = err.request_id\n    status_code = err.http_status_code\n    error_details = err.error_details\n    http_response = err.http_response\nexcept CheckoutArgumentException as err:\n    # Bad arguments\n\nexcept CheckoutAuthorizationException as err:\n    # Invalid authorization"
    delete:
      security:
        - ApiSecretKey: [ ]
      tags:
        - Customers
      summary: Delete a customer
      operationId: deleteCustomerDetails
      description: Delete a customer and all of their linked payment instruments
      parameters:
        - in: path
          name: identifier
          required: true
          schema:
            type: string
            pattern: "^(cus)_(\\w{26})$"
          description: The customer id
      responses:
        '204':
          description: Customer deleted successfully
        '401':
          description: Unauthorized
        '404':
          description: Customer not found or not associated with client
      x-code-samples:
        - lang: C#
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-net\n\nPrevious.ICheckoutApi api = CheckoutSdk.Builder()\n    .Previous()\n    .StaticKeys()\n    .SecretKey(\"secret_key\")\n    .Environment(Environment.Sandbox)\n    .HttpClientFactory(new DefaultHttpClientFactory())\n    .Build();\n\ntry\n{\n    EmptyResponse response = await api.CustomersClient().Delete(\"customer_id\");\n}\ncatch (CheckoutApiException e)\n{\n    // API error\n    string requestId = e.RequestId;\n    var statusCode = e.HttpStatusCode;\n    IDictionary<string, object> errorDetails = e.ErrorDetails;\n}\ncatch (CheckoutArgumentException e)\n{\n    // Bad arguments\n}\ncatch (CheckoutAuthorizationException e)\n{\n    // Invalid authorization\n}"
        - lang: Java
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-java\nimport com.checkout.CheckoutApiException;\nimport com.checkout.CheckoutArgumentException;\nimport com.checkout.CheckoutAuthorizationException;\nimport com.checkout.CheckoutSdk;\nimport com.checkout.EmptyResponse;\nimport com.checkout.Environment;\nimport com.checkout.previous.CheckoutApi;\n\nCheckoutApi api = CheckoutSdk\n        .builder()\n        .previous()\n        .staticKeys()\n        .secretKey(\"secret_key\")\n        .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n        .build();\n\ntry {\n    EmptyResponse response = api.customersClient().delete(\"customer_id\").get();\n} catch (CheckoutApiException e) {\n    // API error\n    String requestId = e.getRequestId();\n    int statusCode = e.getHttpStatusCode();\n    Map<String, Object> errorDetails = e.getErrorDetails();\n} catch (CheckoutArgumentException e) {\n    // Bad arguments\n} catch (CheckoutAuthorizationException e) {\n    // Invalid authorization\n}"
        - lang: Node
          source: "import { Checkout } from 'checkout-sdk-node';\n\nconst cko = new Checkout('sk_XXXX');\n\ntry {\n	const customerResponse = await cko.customers.delete('cus_zbgrqmm6s5ne7lszegj5iu4lci');\n} catch (err) {\n	console.log(err.name);\n}"
        - lang: PHP
          source: "<?php\n//For more information please refer to https://github.com/checkout/checkout-sdk-php\n\nuse Checkout\\CheckoutApiException;\nuse Checkout\\CheckoutArgumentException;\nuse Checkout\\CheckoutAuthorizationException;\nuse Checkout\\CheckoutSdk;\nuse Checkout\\Environment;\n\n$api = CheckoutSdk::builder()\n    ->previous()\n    ->staticKeys()\n    ->environment(Environment::sandbox())\n    ->secretKey(\"secret_key\")\n    ->build();\n\ntry {\n    $response = $api->getCustomersClient()->delete(\"customer_id\");\n} catch (CheckoutApiException $e) {\n    // API error\n    $error_details = $e->error_details;\n    $http_status_code = isset($e->http_metadata) ? $e->http_metadata->getStatusCode() : null;\n} catch (CheckoutAuthorizationException $e) {\n    // Bad Invalid authorization\n}"
        - lang: Python
          source: "# For more information please refer to https://github.com/checkout/checkout-sdk-python\nimport checkout_sdk\nfrom checkout_sdk.checkout_sdk import CheckoutSdk\nfrom checkout_sdk.environment import Environment\nfrom checkout_sdk.exception import CheckoutApiException, CheckoutArgumentException, CheckoutAuthorizationException\n\napi = CheckoutSdk.builder() \\\n    .previous() \\\n    .secret_key('secret_key') \\\n    .environment(Environment.sandbox()) \\\n    .build()\n    # or Environment.production()\n\ntry:\n    response = api.customers.delete('customer_id')\nexcept CheckoutApiException as err:\n    # API error\n    request_id = err.request_id\n    status_code = err.http_status_code\n    error_details = err.error_details\n    http_response = err.http_response\nexcept CheckoutArgumentException as err:\n    # Bad arguments\n\nexcept CheckoutAuthorizationException as err:\n    # Invalid authorization"
  /disputes:
    get:
      security:
        - ApiSecretKey: [ ]
      tags:
        - Disputes
      summary: Get disputes
      operationId: getDisputes
      description:
        Returns a list of all disputes against your business. The results will be returned in reverse chronological order,
        showing the last modified dispute (for example, where you've recently added a piece of evidence) first.
        You can use the optional parameters below to skip or limit results.
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 250
            default: 50
          required: false
          description: The numbers of results to return
        - in: query
          name: skip
          schema:
            type: integer
            minimum: 0
            default: 0
          required: false
          description: The number of results to skip
        - in: query
          name: from
          schema:
            type: string
            format: date-time
          required: false
          description: The date and time from which to filter disputes, based on the dispute's `last_update` field
        - in: query
          name: to
          schema:
            type: string
            format: date-time
          required: false
          description: The date and time until which to filter disputes, based on the dispute's `last_update` field
        - in: query
          name: id
          schema:
            type: string
          required: false
          description: The unique identifier of the dispute
        - in: query
          name: statuses
          schema:
            type: string
            example: evidence_required,evidence_under_review
          required: false
          description: One or more comma-separated statuses. This works like a logical *OR* operator
        - in: query
          name: payment_id
          schema:
            type: string
          required: false
          description: The unique identifier of the payment
        - in: query
          name: payment_reference
          schema:
            type: string
          required: false
          description: An optional reference (such as an order ID) that you can use later to identify the payment. Previously known as `TrackId`
        - in: query
          name: payment_arn
          schema:
            type: string
          required: false
          description: The acquirer reference number (ARN) that you can use to query the issuing bank
        - in: query
          name: this_channel_only
          schema:
            type: boolean
          required: false
          description: If `true`, only returns disputes of the specific channel that the secret key is associated with. Otherwise, returns all disputes for that business
      responses:
        '200':
          description: Disputes retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisputePaged'
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable paging
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagingError'
      x-code-samples:
        - lang: C#
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-net\nusing Checkout.Disputes;\n\nPrevious.ICheckoutApi api = CheckoutSdk.Builder()\n    .Previous()\n    .StaticKeys()\n    .SecretKey(\"secret_key\")\n    .Environment(Environment.Sandbox)\n    .HttpClientFactory(new DefaultHttpClientFactory())\n    .Build();\n\nDisputesQueryFilter request = new DisputesQueryFilter\n{\n    Limit = 250,\n    To = DateTime.Now,\n};\n\ntry\n{\n    DisputesQueryResponse response = await api.DisputesClient().Query(request);\n}\ncatch (CheckoutApiException e)\n{\n    // API error\n    string requestId = e.RequestId;\n    var statusCode = e.HttpStatusCode;\n    IDictionary<string, object> errorDetails = e.ErrorDetails;\n}\ncatch (CheckoutArgumentException e)\n{\n    // Bad arguments\n}\ncatch (CheckoutAuthorizationException e)\n{\n    // Invalid authorization\n}"
        - lang: Java
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-java\nimport com.checkout.CheckoutApiException;\nimport com.checkout.CheckoutArgumentException;\nimport com.checkout.CheckoutAuthorizationException;\nimport com.checkout.CheckoutSdk;\nimport com.checkout.Environment;\nimport com.checkout.disputes.DisputeStatus;\nimport com.checkout.disputes.DisputesQueryFilter;\nimport com.checkout.disputes.DisputesQueryResponse;\nimport com.checkout.previous.CheckoutApi;\n\nCheckoutApi api = CheckoutSdk\n    .builder()\n    .previous()\n    .staticKeys()\n    .secretKey(\"secret_key\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .build();\n\nDisputesQueryFilter query = DisputesQueryFilter.builder()\n    .paymentId(\"payment_id\")\n    .from(Instant.parse(LocalDateTime.now().minusMonths(2).toInstant(ZoneOffset.UTC).toString()))\n    .to(Instant.parse(LocalDateTime.now().toString()))\n    .paymentArn(\"payment_arn\")\n    .paymentReference(\"payment_reference\")\n    .statuses(String.join(\",\", DisputeStatus.EVIDENCE_REQUIRED.getStatus(), DisputeStatus.ACCEPTED.getStatus()))\n    .limit(10)\n    .skip(5)\n    .build();\n\ntry {\n    DisputesQueryResponse response = api.disputesClient().query(query).get();\n} catch (CheckoutApiException e) {\n    // API error\n    String requestId = e.getRequestId();\n    int statusCode = e.getHttpStatusCode();\n    Map<String, Object> errorDetails = e.getErrorDetails();\n} catch (CheckoutArgumentException e) {\n    // Bad arguments\n} catch (CheckoutAuthorizationException e) {\n    // Invalid authorization\n}"
        - lang: Node
          source: "import { Checkout } from 'checkout-sdk-node';\n\nconst cko = new Checkout('sk_XXXX');\n\nconst disputes = await cko.disputes.get({\n	limit: 5,\n	id: 'dsp_bc94ebda8d275i461229',\n});"
        - lang: PHP
          source: "<?php\n//For more information please refer to https://github.com/checkout/checkout-sdk-php\n\nuse Checkout\\CheckoutApiException;\nuse Checkout\\CheckoutArgumentException;\nuse Checkout\\CheckoutAuthorizationException;\nuse Checkout\\CheckoutSdk;\nuse Checkout\\Disputes\\DisputesQueryFilter;\nuse Checkout\\Environment;\n\n\n$api = CheckoutSdk::builder()\n    ->previous()\n    ->staticKeys()\n    ->environment(Environment::sandbox())\n    ->secretKey(\"secret_key\")\n    ->build();\n\n$query = new DisputesQueryFilter();\n$query->payment_id = \"payment_id\";\n$query->payment_arn = \"payment_arn\";\n$query->payment_reference = \"payment_reference\";\n$query->statuses = \"comma,separated,list,statuses\";\n$query->limit = 10;\n$query->skip = 5;\n$query->to = new DateTime(); // UTC, now\n\n$from = new DateTime();\n$from->setTimezone(new DateTimeZone(\"America/Mexico_City\"));\n$from->sub(new DateInterval(\"P1M\"));\n$query->from = $from;\n\ntry {\n    $response = $api->getDisputesClient()->query($query);\n} catch (CheckoutApiException $e) {\n    // API error\n    $error_details = $e->error_details;\n    $http_status_code = isset($e->http_metadata) ? $e->http_metadata->getStatusCode() : null;\n} catch (CheckoutAuthorizationException $e) {\n    // Bad Invalid authorization\n}"
        - lang: Python
          source: "# For more information please refer to https://github.com/checkout/checkout-sdk-python\nimport checkout_sdk\nfrom checkout_sdk.checkout_sdk import CheckoutSdk\nfrom checkout_sdk.disputes.disputes import DisputesQueryFilter\nfrom checkout_sdk.environment import Environment\nfrom checkout_sdk.exception import CheckoutApiException, CheckoutArgumentException, CheckoutAuthorizationException\nfrom datetime import datetime, timezone\nfrom dateutil.relativedelta import relativedelta\n\napi = CheckoutSdk.builder() \\\n    .previous() \\\n    .secret_key('secret_key') \\\n    .environment(Environment.sandbox()) \\\n    .build()\n    # or Environment.production()\n\nquery = DisputesQueryFilter()\nnow = datetime.now(timezone.utc)\nquery.from_ = now - relativedelta(months=6)\nquery.to = now\nquery.payment_arn = 'payment_arn'\nquery.payment_reference = 'payment_reference'\nquery.limit = 10\nquery.skip = 5\n\ntry:\n    response = api.disputes.query(query)\nexcept CheckoutApiException as err:\n    # API error\n    request_id = err.request_id\n    status_code = err.http_status_code\n    error_details = err.error_details\n    http_response = err.http_response\nexcept CheckoutArgumentException as err:\n    # Bad arguments\n\nexcept CheckoutAuthorizationException as err:\n    # Invalid authorization"
  /disputes/{dispute_id}:
    get:
      security:
        - ApiSecretKey: [ ]
      tags:
        - Disputes
      summary: Get dispute details
      operationId: getDisputeDetails
      description: Returns all the details of a dispute using the dispute identifier.
      parameters:
        - in: path
          name: dispute_id
          schema:
            type: string
            pattern: "^(dsp)_(\\w{26})$"
          required: true
          description: The dispute identifier
      responses:
        '200':
          description: Dispute retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dispute'
        '401':
          description: Unauthorized
        '404':
          description: Dispute not found
      x-code-samples:
        - lang: C#
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-net\nusing Checkout.Disputes;\n\nPrevious.ICheckoutApi api = CheckoutSdk.Builder()\n    .Previous()\n    .StaticKeys()\n    .SecretKey(\"secret_key\")\n    .Environment(Environment.Sandbox)\n    .HttpClientFactory(new DefaultHttpClientFactory())\n    .Build();\n            \ntry\n{\n    DisputeDetailsResponse response = await api.DisputesClient().GetDisputeDetails(\"disputes_id\");\n}\ncatch (CheckoutApiException e)\n{\n    // API error\n    string requestId = e.RequestId;\n    var statusCode = e.HttpStatusCode;\n    IDictionary<string, object> errorDetails = e.ErrorDetails;\n}\ncatch (CheckoutArgumentException e)\n{\n    // Bad arguments\n}\ncatch (CheckoutAuthorizationException e)\n{\n    // Invalid authorization\n}"
        - lang: Java
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-java\nimport com.checkout.CheckoutApiException;\nimport com.checkout.CheckoutArgumentException;\nimport com.checkout.CheckoutAuthorizationException;\nimport com.checkout.CheckoutSdk;\nimport com.checkout.Environment;\nimport com.checkout.disputes.DisputeDetailsResponse;\nimport com.checkout.previous.CheckoutApi;\n\nCheckoutApi api = CheckoutSdk\n    .builder()\n    .previous()\n    .staticKeys()\n    .secretKey(\"secret_key\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .build();\n\ntry {\n    DisputeDetailsResponse response = api.disputesClient().getDisputeDetails(\"dispute_id\").get();\n} catch (CheckoutApiException e) {\n    // API error\n    String requestId = e.getRequestId();\n    int statusCode = e.getHttpStatusCode();\n    Map<String, Object> errorDetails = e.getErrorDetails();\n} catch (CheckoutArgumentException e) {\n    // Bad arguments\n} catch (CheckoutAuthorizationException e) {\n    // Invalid authorization\n}"
        - lang: Node
          source: "import { Checkout } from 'checkout-sdk-node';\n\nconst cko = new Checkout('sk_XXXX');\n\nconst disputeDetails = await cko.disputes.getDetails('dsp_bc94ebda8d275i461229');"
        - lang: PHP
          source: "<?php\n//For more information please refer to https://github.com/checkout/checkout-sdk-php\n\nuse Checkout\\CheckoutApiException;\nuse Checkout\\CheckoutArgumentException;\nuse Checkout\\CheckoutAuthorizationException;\nuse Checkout\\CheckoutSdk;\nuse Checkout\\Environment;\n\n$api = CheckoutSdk::builder()\n    ->previous()\n    ->staticKeys()\n    ->environment(Environment::sandbox())\n    ->secretKey(\"secret_key\")\n    ->build();\n\ntry {\n    $response = $api->getDisputesClient()->getDisputeDetails(\"dispute_id\");\n} catch (CheckoutApiException $e) {\n    // API error\n    $error_details = $e->error_details;\n    $http_status_code = isset($e->http_metadata) ? $e->http_metadata->getStatusCode() : null;\n} catch (CheckoutAuthorizationException $e) {\n    // Bad Invalid authorization\n}"
        - lang: Python
          source: "# For more information please refer to https://github.com/checkout/checkout-sdk-python\nimport checkout_sdk\nfrom checkout_sdk.checkout_sdk import CheckoutSdk\nfrom checkout_sdk.environment import Environment\nfrom checkout_sdk.exception import CheckoutApiException, CheckoutArgumentException, CheckoutAuthorizationException\n\napi = CheckoutSdk.builder() \\\n    .previous() \\\n    .secret_key('secret_key') \\\n    .environment(Environment.sandbox()) \\\n    .build()\n    # or Environment.production()\n\ntry:\n    response = api.disputes.get_dispute_details('dispute_id')\nexcept CheckoutApiException as err:\n    # API error\n    request_id = err.request_id\n    status_code = err.http_status_code\n    error_details = err.error_details\n    http_response = err.http_response\nexcept CheckoutArgumentException as err:\n    # Bad arguments\n\nexcept CheckoutAuthorizationException as err:\n    # Invalid authorization"
  /disputes/{dispute_id}/accept:
    post:
      security:
        - ApiSecretKey: [ ]
      tags:
        - Disputes
      summary: Accept dispute
      operationId: acceptDispute
      description: If a dispute is legitimate, you can choose to accept it. This will close it for you and remove it from your list of open disputes. There are no further financial implications.
      parameters:
        - in: path
          name: dispute_id
          schema:
            type: string
            pattern: "^(dsp)_(\\w{26})$"
          required: true
          description: The dispute identifier
      responses:
        '204':
          description: Dispute accepted successfully
        '401':
          description: Unauthorized
        '404':
          description: Dispute not found
      x-code-samples:
        - lang: C#
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-net\n\nPrevious.ICheckoutApi api = CheckoutSdk.Builder()\n    .Previous()\n    .StaticKeys()\n    .SecretKey(\"secret_key\")\n    .Environment(Environment.Sandbox)\n    .HttpClientFactory(new DefaultHttpClientFactory())\n    .Build();\n\ntry\n{\n    EmptyResponse response = await api.DisputesClient().Accept(\"disputes_id\");\n}\ncatch (CheckoutApiException e)\n{\n    // API error\n    string requestId = e.RequestId;\n    var statusCode = e.HttpStatusCode;\n    IDictionary<string, object> errorDetails = e.ErrorDetails;\n}\ncatch (CheckoutArgumentException e)\n{\n    // Bad arguments\n}\ncatch (CheckoutAuthorizationException e)\n{\n    // Invalid authorization\n}"
        - lang: Java
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-java\nimport com.checkout.CheckoutApiException;\nimport com.checkout.CheckoutArgumentException;\nimport com.checkout.CheckoutAuthorizationException;\nimport com.checkout.CheckoutSdk;\nimport com.checkout.EmptyResponse;\nimport com.checkout.Environment;\nimport com.checkout.previous.CheckoutApi;\n\nCheckoutApi api = CheckoutSdk\n    .builder()\n    .previous()\n    .staticKeys()\n    .secretKey(\"secret_key\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .build();\n\ntry {\n    EmptyResponse response = api.disputesClient().accept(\"dispute_id\").get();\n} catch (CheckoutApiException e) {\n    // API error\n    String requestId = e.getRequestId();\n    int statusCode = e.getHttpStatusCode();\n    Map<String, Object> errorDetails = e.getErrorDetails();\n} catch (CheckoutArgumentException e) {\n    // Bad arguments\n} catch (CheckoutAuthorizationException e) {\n    // Invalid authorization\n}\n"
        - lang: Node
          source: "import { Checkout } from 'checkout-sdk-node';\n\nconst cko = new Checkout('sk_XXXX');\n\nconst accept = await cko.disputes.accept('dsp_bc94ebda8d275i461229');"
        - lang: PHP
          source: "<?php\n//For more information please refer to https://github.com/checkout/checkout-sdk-php\n\nuse Checkout\\CheckoutApiException;\nuse Checkout\\CheckoutArgumentException;\nuse Checkout\\CheckoutAuthorizationException;\nuse Checkout\\CheckoutSdk;\nuse Checkout\\Environment;\n\n$api = CheckoutSdk::builder()\n    ->previous()\n    ->staticKeys()\n    ->environment(Environment::sandbox())\n    ->secretKey(\"secret_key\")\n    ->build();\n\ntry {\n    $response = $api->getDisputesClient()->accept(\"dispute_id\");\n} catch (CheckoutApiException $e) {\n    // API error\n    $error_details = $e->error_details;\n    $http_status_code = isset($e->http_metadata) ? $e->http_metadata->getStatusCode() : null;\n} catch (CheckoutAuthorizationException $e) {\n    // Bad Invalid authorization\n}\n"
        - lang: Python
          source: "# For more information please refer to https://github.com/checkout/checkout-sdk-python\nimport checkout_sdk\nfrom checkout_sdk.checkout_sdk import CheckoutSdk\nfrom checkout_sdk.environment import Environment\nfrom checkout_sdk.exception import CheckoutApiException, CheckoutArgumentException, CheckoutAuthorizationException\n\napi = CheckoutSdk.builder() \\\n    .previous() \\\n    .secret_key('secret_key') \\\n    .environment(Environment.sandbox()) \\\n    .build()\n    # or Environment.production()\n\ntry:\n    response = api.disputes.accept('dispute_id')\nexcept CheckoutApiException as err:\n    # API error\n    request_id = err.request_id\n    status_code = err.http_status_code\n    error_details = err.error_details\n    http_response = err.http_response\nexcept CheckoutArgumentException as err:\n    # Bad arguments\n\nexcept CheckoutAuthorizationException as err:\n    # Invalid authorization\n"
  /disputes/{dispute_id}/evidence:
    put:
      security:
        - ApiSecretKey: [ ]
      tags:
        - Disputes
      summary: Provide dispute evidence
      operationId: provideDisputeEvidence
      description: |
        Adds supporting evidence to a dispute. Before using this endpoint, you first need to [upload your files](#tag/Disputes/paths/~1files/post) using the file uploader. You will receive a file id (prefixed by `file_`) which you can then use in your request.
        Note that this only attaches the evidence to the dispute, it does not send it to us. Once ready, you will need to submit it.
    
        **You must provide at least one evidence type in the body of your request.**
      parameters:
        - in: path
          name: dispute_id
          schema:
            type: string
            pattern: "^(dsp)_(\\w{26})$"
          required: true
          description: The dispute identifier
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProvideEvidenceRequest'
      responses:
        '204':
          description: Dispute evidence provided successfully
        '400':
          description: Unprocessable
        '401':
          description: Unauthorized
        '404':
          description: Dispute not found
        '422':
          description: Unprocessable entity
    
      x-code-samples:
        - lang: C#
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-net\nusing Checkout.Disputes;\n\nPrevious.ICheckoutApi api = CheckoutSdk.Builder()\n	.Previous()\n	.StaticKeys()\n	.PublicKey(\"public_key\")\n	.SecretKey(\"secret_key\")\n	.Environment(Environment.Sandbox)\n	.HttpClientFactory(new DefaultHttpClientFactory())\n	.Build();\n\nDisputeEvidenceRequest request = new DisputeEvidenceRequest()\n{\n	ProofOfDeliveryOrServiceFile = \"file_xxxxxx\",\n	ProofOfDeliveryOrServiceText = \"proof of delivery or service text\",\n	InvoiceOrReceiptFile = \"file_xxxxxx\",\n	InvoiceOrReceiptText = \"Copy of the invoice\",\n	CustomerCommunicationFile = \"file_xxxxxx\",\n	CustomerCommunicationText = \"Copy of an email exchange with the cardholder\",\n	AdditionalEvidenceFile = \"file_xxxxxx\",\n	AdditionalEvidenceText = \"Scanned document\"\n};\n\ntry\n{\n	EmptyResponse response = await api.DisputesClient().PutEvidence(\"disputes_id\", request);\n}\ncatch (CheckoutApiException e)\n{\n	// API error\n	string requestId = e.RequestId;\n	var statusCode = e.HttpStatusCode;\n	IDictionary<string, object> errorDetails = e.ErrorDetails;\n}\ncatch (CheckoutArgumentException e)\n{\n	// Bad arguments\n}\ncatch (CheckoutAuthorizationException e)\n{\n	// Invalid authorization\n}"
        - lang: Java
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-java\nimport com.checkout.CheckoutApiException;\nimport com.checkout.CheckoutArgumentException;\nimport com.checkout.CheckoutAuthorizationException;\nimport com.checkout.CheckoutSdk;\nimport com.checkout.EmptyResponse;\nimport com.checkout.Environment;\nimport com.checkout.disputes.DisputeEvidenceRequest;\nimport com.checkout.previous.CheckoutApi;\n\nCheckoutApi api = CheckoutSdk\n        .builder()\n        .previous()\n        .staticKeys()\n        .secretKey(\"secret_key\")\n        .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n        .build();\n\nDisputeEvidenceRequest evidenceRequest = DisputeEvidenceRequest.builder()\n    .proofOfDeliveryOrServiceFile(\"file_id\")\n    .proofOfDeliveryOrServiceText(\"proof of delivery or service text\")\n    .invoiceOrReceiptFile(\"file_id\")\n    .invoiceOrReceiptText(\"Copy of the invoice\")\n    .invoiceShowingDistinctTransactionsFile(\"\")\n    .invoiceShowingDistinctTransactionsText(\"Copy of invoice #1244 showing two transactions\")\n    .customerCommunicationFile(\"file_id\")\n    .customerCommunicationText(\"Copy of an email exchange with the cardholder\")\n    .refundOrCancellationPolicyFile(\"file_id\")\n    .refundOrCancellationPolicyText(\"Copy of the refund policy\")\n    .recurringTransactionAgreementFile(\"file_id\")\n    .recurringTransactionAgreementText(\"Copy of the recurring transaction agreement\")\n    .additionalEvidenceFile(\"file_id\")\n    .additionalEvidenceText(\"Scanned document\")\n    .proofOfDeliveryOrServiceDateFile(\"file_id\")\n    .proofOfDeliveryOrServiceDateText(\"Copy of the customer receipt showing the merchandise was delivered on 2018-12-20\")\n    .build();\n\ntry {\n    EmptyResponse response = api.disputesClient().putEvidence(\"dispute_id\", evidenceRequest).get();\n} catch (CheckoutApiException e) {\n    // API error\n    String requestId = e.getRequestId();\n    int statusCode = e.getHttpStatusCode();\n    Map<String, Object> errorDetails = e.getErrorDetails();\n} catch (CheckoutArgumentException e) {\n    // Bad arguments\n} catch (CheckoutAuthorizationException e) {\n    // Invalid authorization\n}"
        - lang: Node
          source: "import { Checkout } from 'checkout-sdk-node';\n\nconst cko = new Checkout('sk_XXXX');\n\nconst evidence = await cko.disputes.provideEvidence('dsp_bc94ebda8d275i461229', {\n	proof_of_delivery_or_service_text: 'http://checkout.com/document.pdf',\n});"
        - lang: PHP
          source: "<?php\n//For more information please refer to https://github.com/checkout/checkout-sdk-php\n\nuse Checkout\\CheckoutApiException;\nuse Checkout\\CheckoutArgumentException;\nuse Checkout\\CheckoutAuthorizationException;\nuse Checkout\\CheckoutSdk;\nuse Checkout\\Disputes\\DisputeEvidenceRequest;\nuse Checkout\\Environment;\n\n$api = CheckoutSdk::builder()\n    ->previous()\n    ->staticKeys()\n    ->environment(Environment::sandbox())\n    ->secretKey(\"secret_key\")\n    ->build();\n\n$request = new DisputeEvidenceRequest();\n$request->proof_of_delivery_or_service_file = \"file_id\";\n$request->proof_of_delivery_or_service_text = \"proof of delivery or service text\";\n$request->invoice_or_receipt_file = \"file_id\";\n$request->invoice_or_receipt_text = \"Copy of the invoice\";\n$request->customer_communication_file = \"file_id\";\n$request->customer_communication_text = \"Copy of an email exchange with the cardholder\";\n$request->additional_evidence_file = \"file_id\";\n$request->additional_evidence_text = \"Scanned document\";\n\ntry {\n    $response = $api->getDisputesClient()->putEvidence(\"dispute_id\", $request);\n} catch (CheckoutApiException $e) {\n    // API error\n    $error_details = $e->error_details;\n    $http_status_code = isset($e->http_metadata) ? $e->http_metadata->getStatusCode() : null;\n} catch (CheckoutAuthorizationException $e) {\n    // Bad Invalid authorization\n}"
        - lang: Python
          source: "# For more information please refer to https://github.com/checkout/checkout-sdk-python\nimport checkout_sdk\nfrom checkout_sdk.checkout_sdk import CheckoutSdk\nfrom checkout_sdk.disputes.disputes import DisputeEvidenceRequest\nfrom checkout_sdk.environment import Environment\nfrom checkout_sdk.exception import CheckoutApiException, CheckoutArgumentException, CheckoutAuthorizationException\n\napi = CheckoutSdk.builder() \\\n    .previous() \\\n    .secret_key('secret_key') \\\n    .environment(Environment.sandbox()) \\\n    .build()\n    # or Environment.production()\n\nevidence_request = DisputeEvidenceRequest()\nevidence_request.proof_of_delivery_or_service_file = 'proof_of_delivery_or_service_file'\nevidence_request.proof_of_delivery_or_service_text = 'proof of delivery or service text'\nevidence_request.invoice_or_receipt_file = 'invoice_or_receipt_file'\nevidence_request.invoice_or_receipt_text = 'invoice_or_receipt_text'\nevidence_request.customer_communication_file = 'customer_communication_file'\nevidence_request.customer_communication_text = 'customer_communication_text'\nevidence_request.additional_evidence_file = 'additional_evidence_file'\nevidence_request.additional_evidence_text = 'additional_evidence_text'\n\ntry:\n    response = api.disputes.put_evidence('dispute_id', evidence_request)\nexcept CheckoutApiException as err:\n    # API error\n    request_id = err.request_id\n    status_code = err.http_status_code\n    error_details = err.error_details\n    http_response = err.http_response\nexcept CheckoutArgumentException as err:\n    # Bad arguments\n\nexcept CheckoutAuthorizationException as err:\n    # Invalid authorization"
    get:
      security:
        - ApiSecretKey: [ ]
      tags:
        - Disputes
      summary: Get dispute evidence
      operationId: getDisputeEvidence
      description: |
        Retrieves a list of the evidence submitted in response to a specific dispute.
      parameters:
        - in: path
          name: dispute_id
          schema:
            type: string
            pattern: "^(dsp)_(\\w{26})$"
          required: true
          description: The dispute identifier
      responses:
        '200':
          description: Dispute evidence retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Evidence'
        '401':
          description: Unauthorized
        '404':
          description: Dispute not found
    
      x-code-samples:
        - lang: C#
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-net\nusing Checkout.Disputes;\n\nPrevious.ICheckoutApi api = CheckoutSdk.Builder()\n    .Previous()\n    .StaticKeys()\n    .SecretKey(\"secret_key\")\n    .Environment(Environment.Sandbox)\n    .HttpClientFactory(new DefaultHttpClientFactory())\n    .Build();\n\ntry\n{\n    DisputeEvidenceResponse response = await api.DisputesClient().GetEvidence(\"disputes_id\");\n}\ncatch (CheckoutApiException e)\n{\n    // API error\n    string requestId = e.RequestId;\n    var statusCode = e.HttpStatusCode;\n    IDictionary<string, object> errorDetails = e.ErrorDetails;\n}\ncatch (CheckoutArgumentException e)\n{\n    // Bad arguments\n}\ncatch (CheckoutAuthorizationException e)\n{\n    // Invalid authorization\n}"
        - lang: Java
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-java\nimport com.checkout.CheckoutApiException;\nimport com.checkout.CheckoutArgumentException;\nimport com.checkout.CheckoutAuthorizationException;\nimport com.checkout.CheckoutSdk;\nimport com.checkout.Environment;\nimport com.checkout.disputes.DisputeEvidenceResponse;\nimport com.checkout.previous.CheckoutApi;\n\nCheckoutApi api = CheckoutSdk\n    .builder()\n    .previous()\n    .staticKeys()\n    .secretKey(\"secret_key\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .build();\n\ntry {\n    DisputeEvidenceResponse response = api.disputesClient().getEvidence(\"dispute_id\").get();\n} catch (CheckoutApiException e) {\n    // API error\n    String requestId = e.getRequestId();\n    int statusCode = e.getHttpStatusCode();\n    Map<String, Object> errorDetails = e.getErrorDetails();\n} catch (CheckoutArgumentException e) {\n    // Bad arguments\n} catch (CheckoutAuthorizationException e) {\n    // Invalid authorization\n}"
        - lang: Node
          source: "import { Checkout } from 'checkout-sdk-node';\n\nconst cko = new Checkout('sk_XXXX');\n\nconst getEvidence = await cko.disputes.getEvidence('dsp_bc94ebda8d275i461229');"
        - lang: PHP
          source: "<?php\n//For more information please refer to https://github.com/checkout/checkout-sdk-php\n\nuse Checkout\\CheckoutApiException;\nuse Checkout\\CheckoutArgumentException;\nuse Checkout\\CheckoutAuthorizationException;\nuse Checkout\\CheckoutSdk;\nuse Checkout\\Environment;\n\n$api = CheckoutSdk::builder()\n    ->previous()\n    ->staticKeys()\n    ->environment(Environment::sandbox())\n    ->secretKey(\"secret_key\")\n    ->build();\n\ntry {\n    $response = $api->getDisputesClient()->getEvidence(\"dispute_id\");\n} catch (CheckoutApiException $e) {\n    // API error\n    $error_details = $e->error_details;\n    $http_status_code = isset($e->http_metadata) ? $e->http_metadata->getStatusCode() : null;\n} catch (CheckoutAuthorizationException $e) {\n    // Bad Invalid authorization\n}"
        - lang: Python
          source: "# For more information please refer to https://github.com/checkout/checkout-sdk-python\nimport checkout_sdk\nfrom checkout_sdk.checkout_sdk import CheckoutSdk\nfrom checkout_sdk.environment import Environment\nfrom checkout_sdk.exception import CheckoutApiException, CheckoutArgumentException, CheckoutAuthorizationException\n\napi = CheckoutSdk.builder() \\\n    .previous() \\\n    .secret_key('secret_key') \\\n    .environment(Environment.sandbox()) \\\n    .build()\n    # or Environment.production()\n\ntry:\n    response = api.disputes.get_evidence('dispute_id')\nexcept CheckoutApiException as err:\n    # API error\n    request_id = err.request_id\n    status_code = err.http_status_code\n    error_details = err.error_details\n    http_response = err.http_response\nexcept CheckoutArgumentException as err:\n    # Bad arguments\n\nexcept CheckoutAuthorizationException as err:\n    # Invalid authorization"
    post:
      security:
        - ApiSecretKey: [ ]
      tags:
        - Disputes
      summary: Submit dispute evidence
      operationId: submitDisputeEvidence
      description:
        With this final request, you can submit the evidence that you have previously provided. Make sure you have provided all the relevant information before using this request.
        You will not be able to amend your evidence once you have submitted it.
      parameters:
        - in: path
          name: dispute_id
          schema:
            type: string
            pattern: "^(dsp)_(\\w{26})$"
          required: true
          description: The dispute identifier
      responses:
        '204':
          description: Dispute evidence submitted successfully
        '401':
          description: Unauthorized
        '404':
          description: Dispute not found
      x-code-samples:
        - lang: C#
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-net\n\nPrevious.ICheckoutApi api = CheckoutSdk.Builder()\n    .Previous()\n    .StaticKeys()\n    .SecretKey(\"secret_key\")\n    .Environment(Environment.Sandbox)\n    .HttpClientFactory(new DefaultHttpClientFactory())\n    .Build();\n\ntry\n{\n    EmptyResponse response = await api.DisputesClient().SubmitEvidence(\"disputes_id\");\n}\ncatch (CheckoutApiException e)\n{\n    // API error\n    string requestId = e.RequestId;\n    var statusCode = e.HttpStatusCode;\n    IDictionary<string, object> errorDetails = e.ErrorDetails;\n}\ncatch (CheckoutArgumentException e)\n{\n    // Bad arguments\n}\ncatch (CheckoutAuthorizationException e)\n{\n    // Invalid authorization\n}"
        - lang: Java
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-java\nimport com.checkout.CheckoutApiException;\nimport com.checkout.CheckoutArgumentException;\nimport com.checkout.CheckoutAuthorizationException;\nimport com.checkout.CheckoutSdk;\nimport com.checkout.EmptyResponse;\nimport com.checkout.Environment;\nimport com.checkout.previous.CheckoutApi;\n\nCheckoutApi api = CheckoutSdk\n    .builder()\n    .previous()\n    .staticKeys()\n    .secretKey(\"secret_key\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .build();\n\ntry {\n    EmptyResponse response = api.disputesClient().submitEvidence(\"evidence_id\").get();\n} catch (CheckoutApiException e) {\n    // API error\n    String requestId = e.getRequestId();\n    int statusCode = e.getHttpStatusCode();\n    Map<String, Object> errorDetails = e.getErrorDetails();\n} catch (CheckoutArgumentException e) {\n    // Bad arguments\n} catch (CheckoutAuthorizationException e) {\n    // Invalid authorization\n}\n"
        - lang: Node
          source: "import { Checkout } from 'checkout-sdk-node';\n\nconst cko = new Checkout('sk_XXXX');\n\nconst submitEvidence = await cko.disputes.submit('dsp_bc94ebda8d275i461229');"
        - lang: PHP
          source: "<?php\n//For more information please refer to https://github.com/checkout/checkout-sdk-php\n\nuse Checkout\\CheckoutApiException;\nuse Checkout\\CheckoutArgumentException;\nuse Checkout\\CheckoutAuthorizationException;\nuse Checkout\\CheckoutSdk;\nuse Checkout\\Environment;\n\n$api = CheckoutSdk::builder()\n    ->previous()\n    ->staticKeys()\n    ->environment(Environment::sandbox())\n    ->secretKey(\"secret_key\")\n    ->build();\n\ntry {\n    $response = $api->getDisputesClient()->submitEvidence(\"evidence_id\");\n} catch (CheckoutApiException $e) {\n    // API error\n    $error_details = $e->error_details;\n    $http_status_code = isset($e->http_metadata) ? $e->http_metadata->getStatusCode() : null;\n} catch (CheckoutAuthorizationException $e) {\n    // Bad Invalid authorization\n}\n"
        - lang: Python
          source: "# For more information please refer to https://github.com/checkout/checkout-sdk-python\nimport checkout_sdk\nfrom checkout_sdk.checkout_sdk import CheckoutSdk\nfrom checkout_sdk.environment import Environment\nfrom checkout_sdk.exception import CheckoutApiException, CheckoutArgumentException, CheckoutAuthorizationException\n\napi = CheckoutSdk.builder() \\\n    .previous() \\\n    .secret_key('secret_key') \\\n    .environment(Environment.sandbox()) \\\n    .build()\n    # or Environment.production()\n\ntry:\n    response = api.disputes.submit_evidence('dispute_id')\nexcept CheckoutApiException as err:\n    # API error\n    request_id = err.request_id\n    status_code = err.http_status_code\n    error_details = err.error_details\n    http_response = err.http_response\nexcept CheckoutArgumentException as err:\n    # Bad arguments\n\nexcept CheckoutAuthorizationException as err:\n    # Invalid authorization\n"
  /event-types:
    get:
      security:
        - ApiSecretKey: [ ]
      tags:
        - Events
      summary: Retrieve event types
      operationId: retrieveEventTypes
      description: Retrieve a list of event types grouped by their respective version that you can configure on your webhooks.
      parameters:
        - in: query
          name: version
          schema:
            type: string
          description: The API version for which you want to retrieve the event types. Set this to `1.0` for the legacy API or `2.0` for the Unified Payments API. If no version is specified, event types for both versions will be returned.
          required: false
      responses:
        '200':
          description: Event types retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EventTypesObject'
          headers:
            Cko-Request-Id:
              schema:
                $ref: '#/components/headers/Cko-Request-Id'
            Cko-Version:
              schema:
                $ref: '#/components/headers/Cko-Version'
        '401':
          description: Unauthorized
      x-code-samples:
        - lang: C#
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-net\nusing Checkout.Events.Previous;\n\nPrevious.ICheckoutApi api = CheckoutSdk.Builder()\n    .Previous()\n    .StaticKeys()\n    .SecretKey(\"secret_key\")\n    .Environment(Environment.Sandbox)\n    .HttpClientFactory(new DefaultHttpClientFactory())\n    .Build();\n\ntry\n{\n    /*\n     Specify API version:\n     \"1.0\" => Legacy API\n     \"2.0\" => Unified Payments API\n     null  => all versions\n     */\n                \n    ItemsResponse<EventTypesResponse> response = await api.EventsClient().RetrieveAllEventTypes();\n}\ncatch (CheckoutApiException e)\n{\n    // API error\n    string requestId = e.RequestId;\n    var statusCode = e.HttpStatusCode;\n    IDictionary<string, object> errorDetails = e.ErrorDetails;\n}\ncatch (CheckoutArgumentException e)\n{\n    // Bad arguments\n}\ncatch (CheckoutAuthorizationException e)\n{\n    // Invalid authorization\n}"
        - lang: Java
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-java\nimport com.checkout.CheckoutApiException;\nimport com.checkout.CheckoutArgumentException;\nimport com.checkout.CheckoutAuthorizationException;\nimport com.checkout.CheckoutSdk;\nimport com.checkout.Environment;\nimport com.checkout.ItemsResponse;\nimport com.checkout.events.previous.EventTypes;\nimport com.checkout.previous.CheckoutApi;\n\nCheckoutApi api = CheckoutSdk\n    .builder()\n    .previous()\n    .staticKeys()\n    .secretKey(\"secret_key\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .build();\n\ntry {\n    /*\n       Specify API version:\n        \"1.0\" => Legacy API\n        \"2.0\" => Unified Payments API\n        null  => all versions\n    */\n    ItemsResponse<EventTypes> response = api.eventsClient().retrieveAllEventTypes(null).get();\n} catch (CheckoutApiException e) {\n    // API error\n    String requestId = e.getRequestId();\n    int statusCode = e.getHttpStatusCode();\n    Map<String, Object> errorDetails = e.getErrorDetails();\n} catch (CheckoutArgumentException e) {\n    // Bad arguments\n} catch (CheckoutAuthorizationException e) {\n    // Invalid authorization\n}"
        - lang: Node
          source: "import { Checkout } from 'checkout-sdk-node';\n\nconst cko = new Checkout('sk_XXXX');\n\nconst events = await cko.events.retrieveEventTypes();"
        - lang: PHP
          source: "<?php\n//For more information please refer to https://github.com/checkout/checkout-sdk-php\n\nuse Checkout\\CheckoutApiException;\nuse Checkout\\CheckoutArgumentException;\nuse Checkout\\CheckoutAuthorizationException;\nuse Checkout\\CheckoutSdk;\nuse Checkout\\Environment;\n\n$api = CheckoutSdk::builder()\n    ->previous()\n    ->staticKeys()\n    ->environment(Environment::sandbox())\n    ->secretKey(\"secret_key\")\n    ->build();\n\ntry {\n    /*\n       Specify API version:\n        \"1.0\" => Legacy API\n        \"2.0\" => Unified Payments API\n        null  => all versions\n    */\n    $response = $api->getEventsClient()->retrieveAllEventTypes();\n} catch (CheckoutApiException $e) {\n    // API error\n    $error_details = $e->error_details;\n    $http_status_code = isset($e->http_metadata) ? $e->http_metadata->getStatusCode() : null;\n} catch (CheckoutAuthorizationException $e) {\n    // Bad Invalid authorization\n}"
        - lang: Python
          source: "import checkout_sdk\nfrom checkout_sdk.checkout_sdk import CheckoutSdk\nfrom checkout_sdk.environment import Environment\nfrom checkout_sdk.exception import CheckoutApiException, CheckoutArgumentException, CheckoutAuthorizationException\n\napi = CheckoutSdk.builder() \\\n    .previous() \\\n    .secret_key('secret_key') \\\n    .environment(Environment.sandbox()) \\\n    .build()\n    # or Environment.production()\n\ntry:\n    # Specify API version:\n    # \"1.0\" = > Legacy API\n    # \"2.0\" = > Unified Payments API\n    # null = > all versions\n\n    response = api.events.retrieve_all_event_types(\"version\")\nexcept CheckoutApiException as err:\n    # API error\n    request_id = err.request_id\n    status_code = err.http_status_code\n    error_details = err.error_details\n    http_response = err.http_response\nexcept CheckoutArgumentException as err:\n    # Bad arguments\n\nexcept CheckoutAuthorizationException as err:\n    # Invalid authorization"
  /events:
    get:
      security:
        - ApiSecretKey: [ ]
      tags:
        - Events
      summary: Retrieve events
      operationId: retrieveEvents
      description: |
        Retrieves events based on your query parameters.
      parameters:
        - in: query
          name: payment_id
          schema:
            type: string
            pattern: "^(pay)_(\\w{26})$"
            description: The identifier of a payment
            example: pay_ok2ynq6ubn3ufmo6jsdfmdvy5q
        - in: query
          name: charge_id
          schema:
            type: string
            pattern: "^(charge|charge_test)_(\\w{20})$"
            description: The identifier of a charge
            example: charge_FC1919EE547L23CC6BE1
        - in: query
          name: track_id
          schema:
            type: string
            description: The tracking ID of a payment
            example: TRK12345
        - in: query
          name: reference
          schema:
            type: string
            description: The reference of a payment
            example: ORD-5023-4E89
        - in: query
          name: skip
          schema:
            type: integer
            description: Set how many events you want to skip
            example: 0
        - in: query
          name: limit
          schema:
            type: integer
            description: Limit how many events your request returns
            example: 5
        - in: query
          name: from
          schema:
            type: string
            format: date-time
            description: Set the date and time from which you want to retrieve events
            example: "2020-11-07T04:00:00Z"
        - in: query
          name: to
          schema:
            type: string
            format: date-time
            description: Set the date and time to which you want to retrieve events
            example: "2020-11-07T08:15:00Z"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Payment_Id'
                  - $ref: '#/components/schemas/Charge_Id'
          headers:
            Cko-Request-Id:
              $ref: '#/components/headers/Cko-Request-Id'
            Cko-Version:
              $ref: '#/components/headers/Cko-Version'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entry
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/PaymentIdInvalidResponse'
                  - $ref: '#/components/schemas/ChargeIdInvalidResponse'
      x-code-samples:
        - lang: C#
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-net\nusing Checkout.Events.Previous;\n\nPrevious.ICheckoutApi api = CheckoutSdk.Builder()\n	.Previous()\n	.StaticKeys()\n	.PublicKey(\"public_key\")\n	.SecretKey(\"secret_key\")\n	.Environment(Environment.Sandbox)\n	.HttpClientFactory(new DefaultHttpClientFactory())\n	.Build();\n\nRetrieveEventsRequest request = new RetrieveEventsRequest() {PaymentId = \"payment_id\"};\n\ntry\n{\n	EventsPageResponse response = await api.EventsClient().RetrieveEvents(request);\n}\ncatch (CheckoutApiException e)\n{\n	// API error\n	string requestId = e.RequestId;\n	var statusCode = e.HttpStatusCode;\n	IDictionary<string, object> errorDetails = e.ErrorDetails;\n}\ncatch (CheckoutArgumentException e)\n{\n	// Bad arguments\n}\ncatch (CheckoutAuthorizationException e)\n{\n	// Invalid authorization\n}"
        - lang: cURL
          source: "curl --location --request GET 'https://api.checkout.com/broadcast/events?payment_id=pay_ok2ynq6ubn3ufmo6jsdfmdvy5q'\n  --header 'Authorization: secret_key_broadcast'"
        - lang: Java
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-java\nimport com.checkout.CheckoutApiException;\nimport com.checkout.CheckoutArgumentException;\nimport com.checkout.CheckoutAuthorizationException;\nimport com.checkout.CheckoutSdk;\nimport com.checkout.Environment;\nimport com.checkout.events.previous.EventsPageResponse;\nimport com.checkout.events.previous.RetrieveEventsRequest;\nimport com.checkout.previous.CheckoutApi;\n\nCheckoutApi api = CheckoutSdk\n    .builder()\n    .previous()\n    .staticKeys()\n    .secretKey(\"secret_key\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .build();\n\nRetrieveEventsRequest retrieveEventsRequest = RetrieveEventsRequest.builder()\n    .from(LocalDateTime.now().minusMonths(2).toInstant(ZoneOffset.UTC))\n    .to(LocalDateTime.now().toInstant(ZoneOffset.UTC))\n    .limit(15)\n    .skip(0)\n    //.paymentId(\"payment_id\")\n    .build();\n\ntry {\n    EventsPageResponse response = api.eventsClient().retrieveEvents(retrieveEventsRequest).get();\n} catch (CheckoutApiException e) {\n    // API error\n    String requestId = e.getRequestId();\n    int statusCode = e.getHttpStatusCode();\n    Map<String, Object> errorDetails = e.getErrorDetails();\n} catch (CheckoutArgumentException e) {\n    // Bad arguments\n} catch (CheckoutAuthorizationException e) {\n    // Invalid authorization\n}"
        - lang: Node
          source: "import { Checkout } from 'checkout-sdk-node';\n\nconst cko = new Checkout('sk_XXXX');\n\ntry {\n	const events = await cko.events.retrieveEvents({\n		from: '2019-03-01T00:00:00Z',\n	});\n} catch (err) {\n	console.log(err.name);\n}"
        - lang: PHP
          source: "<?php\n//For more information please refer to https://github.com/checkout/checkout-sdk-php\n\nuse Checkout\\CheckoutApiException;\nuse Checkout\\CheckoutArgumentException;\nuse Checkout\\CheckoutAuthorizationException;\nuse Checkout\\CheckoutSdk;\nuse Checkout\\Environment;\nuse Checkout\\Events\\Previous\\RetrieveEventsRequest;\n\n$api = CheckoutSdk::builder()\n    ->previous()\n    ->staticKeys()\n    ->environment(Environment::sandbox())\n    ->secretKey(\"secret_key\")\n    ->build();\n\n$request = new RetrieveEventsRequest();\n$request->payment_id = \"payment_id\";\n$request->charge_id = \"payment_arn\";\n$request->reference = \"reference\";\n$request->limit = 10;\n$request->skip = 5;\n$request->from = new DateTime();\n$request->to = new DateTime();\n\ntry {\n    $response = $api->getEventsClient()->retrieveEvents($request);\n} catch (CheckoutApiException $e) {\n    // API error\n    $error_details = $e->error_details;\n    $http_status_code = isset($e->http_metadata) ? $e->http_metadata->getStatusCode() : null;\n} catch (CheckoutAuthorizationException $e) {\n    // Bad Invalid authorization\n}"
        - lang: Python
          source: "import checkout_sdk\nfrom checkout_sdk.checkout_sdk import CheckoutSdk\nfrom checkout_sdk.environment import Environment\nfrom checkout_sdk.events.events import RetrieveEventsRequest\nfrom checkout_sdk.exception import CheckoutApiException, CheckoutArgumentException, CheckoutAuthorizationException\n\napi = CheckoutSdk.builder() \\\n    .previous() \\\n    .secret_key('secret_key') \\\n    .environment(Environment.sandbox()) \\\n    .build()\n    # or Environment.production()\n\nrequest = RetrieveEventsRequest()\nrequest.payment_id = \"pay_ok2ynq6ubn3ufmo6jsdfmdvy5q\"\nrequest.charge_id = \"charge_FC1919EE547L23CC6BE1\"\nrequest.track_id = \"TRK12345\"\nrequest.reference = \"ORD-5023-4E89\"\nrequest.skip = \"0\"\nrequest.limit = \"5\"\nrequest.from_ = \"2020-11-07T04:00:00Z\"\nrequest.to = \"2020-11-07T08:15:00Z\"\n\ntry:\n    response = api.events.retrieve_events(request)\nexcept CheckoutApiException as err:\n    # API error\n    request_id = err.request_id\n    status_code = err.http_status_code\n    error_details = err.error_details\n    http_response = err.http_response\nexcept CheckoutArgumentException as err:\n    # Bad arguments\n\nexcept CheckoutAuthorizationException as err:\n    # Invalid authorization"
  /events/{eventId}:
    get:
      security:
        - ApiSecretKey: [ ]
      tags:
        - Events
      summary: Retrieve event
      operationId: retrieveEvent
      description: |
        Retrieves the event with the specified identifier string. The event `data` includes the full event details, the schema of which will vary based on the `type`.
      parameters:
        - in: path
          name: eventId
          schema:
            type: string
            pattern: "^(evt)_(\\w{26})$"
          required: true
          description: The event identifier
      responses:
        '200':
          description: Event retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventObject'
          headers:
            Cko-Request-Id:
              $ref: '#/components/headers/Cko-Request-Id'
            Cko-Version:
              $ref: '#/components/headers/Cko-Version'
        '401':
          description: Unauthorized
        '404':
          description: Event not found
      x-code-samples:
        - lang: C#
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-net\nusing Checkout.Events.Previous;\n\nPrevious.ICheckoutApi api = CheckoutSdk.Builder()\n    .Previous()\n    .StaticKeys()\n    .SecretKey(\"secret_key\")\n    .Environment(Environment.Sandbox)\n    .HttpClientFactory(new DefaultHttpClientFactory())\n    .Build();\n\ntry\n{\n    EventResponse response = await api.EventsClient().RetrieveEvent(\"event_id\");\n}\ncatch (CheckoutApiException e)\n{\n    // API error\n    string requestId = e.RequestId;\n    var statusCode = e.HttpStatusCode;\n    IDictionary<string, object> errorDetails = e.ErrorDetails;\n}\ncatch (CheckoutArgumentException e)\n{\n    // Bad arguments\n}\ncatch (CheckoutAuthorizationException e)\n{\n    // Invalid authorization\n}"
        - lang: Java
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-java\nimport com.checkout.CheckoutApiException;\nimport com.checkout.CheckoutArgumentException;\nimport com.checkout.CheckoutAuthorizationException;\nimport com.checkout.CheckoutSdk;\nimport com.checkout.Environment;\nimport com.checkout.events.previous.EventResponse;\nimport com.checkout.previous.CheckoutApi;\n\nCheckoutApi api = CheckoutSdk\n    .builder()\n    .previous()\n    .staticKeys()\n    .secretKey(\"secret_key\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .build();\n\ntry {\n    EventResponse response = api.eventsClient().retrieveEvent(\"event_id\").get();\n} catch (CheckoutApiException e) {\n    // API error\n    String requestId = e.getRequestId();\n    int statusCode = e.getHttpStatusCode();\n    Map<String, Object> errorDetails = e.getErrorDetails();\n} catch (CheckoutArgumentException e) {\n    // Bad arguments\n} catch (CheckoutAuthorizationException e) {\n    // Invalid authorization\n}"
        - lang: Node
          source: "import { Checkout } from 'checkout-sdk-node';\n\nconst cko = new Checkout('sk_XXXX');\n\nconst event = await cko.events.retrieveEvent('evt_c2qelfixai2u3es3ksovngkx3e');"
        - lang: PHP
          source: "<?php\n//For more information please refer to https://github.com/checkout/checkout-sdk-php\n\nuse Checkout\\CheckoutApiException;\nuse Checkout\\CheckoutArgumentException;\nuse Checkout\\CheckoutAuthorizationException;\nuse Checkout\\CheckoutSdk;\nuse Checkout\\Environment;\n\n$api = CheckoutSdk::builder()\n    ->previous()\n    ->staticKeys()\n    ->environment(Environment::sandbox())\n    ->secretKey(\"secret_key\")\n    ->build();\n\ntry {\n    $response = $api->getEventsClient()->retrieveEvent(\"event_id\");\n} catch (CheckoutApiException $e) {\n    // API error\n    $error_details = $e->error_details;\n    $http_status_code = isset($e->http_metadata) ? $e->http_metadata->getStatusCode() : null;\n} catch (CheckoutAuthorizationException $e) {\n    // Bad Invalid authorization\n}"
        - lang: Python
          source: "import checkout_sdk\nfrom checkout_sdk.checkout_sdk import CheckoutSdk\nfrom checkout_sdk.environment import Environment\nfrom checkout_sdk.exception import CheckoutApiException, CheckoutArgumentException, CheckoutAuthorizationException\n\napi = CheckoutSdk.builder() \\\n    .previous() \\\n    .secret_key('secret_key') \\\n    .environment(Environment.sandbox()) \\\n    .build()\n    # or Environment.production()\n\ntry:\n    response = api.events.retrieve_event(\"event_id\")\nexcept CheckoutApiException as err:\n    # API error\n    request_id = err.request_id\n    status_code = err.http_status_code\n    error_details = err.error_details\n    http_response = err.http_response\nexcept CheckoutArgumentException as err:\n    # Bad arguments\n\nexcept CheckoutAuthorizationException as err:\n    # Invalid authorization"
  /events/{eventId}/notifications/{notificationId}:
    get:
      security:
        - ApiSecretKey: [ ]
      tags:
        - Events
      summary: Retrieve event notification
      operationId: retrieveEventNotification
      description: Retrieves the attempts for a specific event notification
      parameters:
        - in: path
          name: eventId
          schema:
            type: string
            pattern: "^(evt)_(\\w{26})$"
          required: true
          description: The event identifier
        - in: path
          name: notificationId
          schema:
            type: string
            pattern: "^(ntf)_(\\w{26})$"
          required: true
          description: The notification identifier
      responses:
        '200':
          description: Notification retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Notification'
          headers:
            Cko-Request-Id:
              $ref: '#/components/headers/Cko-Request-Id'
            Cko-Version:
              $ref: '#/components/headers/Cko-Version'
        '401':
          description: Unauthorized
        '404':
          description: Event or notification not found
      x-code-samples:
        - lang: C#
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-net\nusing Checkout.Events.Previous;\n\nPrevious.ICheckoutApi api = CheckoutSdk.Builder()\n    .Previous()\n    .StaticKeys()\n    .SecretKey(\"secret_key\")\n    .Environment(Environment.Sandbox)\n    .HttpClientFactory(new DefaultHttpClientFactory())\n    .Build();\n\ntry\n{\n    EventNotificationResponse response =\n        await api.EventsClient().RetrieveEventNotification(\"event_id\", \"notification_id\");\n}\ncatch (CheckoutApiException e)\n{\n    // API error\n    string requestId = e.RequestId;\n    var statusCode = e.HttpStatusCode;\n    IDictionary<string, object> errorDetails = e.ErrorDetails;\n}\ncatch (CheckoutArgumentException e)\n{\n    // Bad arguments\n}\ncatch (CheckoutAuthorizationException e)\n{\n    // Invalid authorization\n}"
        - lang: Java
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-java\nimport com.checkout.CheckoutApiException;\nimport com.checkout.CheckoutArgumentException;\nimport com.checkout.CheckoutAuthorizationException;\nimport com.checkout.CheckoutSdk;\nimport com.checkout.Environment;\nimport com.checkout.events.previous.EventNotificationResponse;\nimport com.checkout.previous.CheckoutApi;\n\nCheckoutApi api = CheckoutSdk\n    .builder()\n    .previous()\n    .staticKeys()\n    .secretKey(\"secret_key\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .build();\n\ntry {\n    EventNotificationResponse response = api.eventsClient().retrieveEventNotification(\"event_id\", \"notification_id\").get();\n} catch (CheckoutApiException e) {\n    // API error\n    String requestId = e.getRequestId();\n    int statusCode = e.getHttpStatusCode();\n    Map<String, Object> errorDetails = e.getErrorDetails();\n} catch (CheckoutArgumentException e) {\n    // Bad arguments\n} catch (CheckoutAuthorizationException e) {\n    // Invalid authorization\n}"
        - lang: Node
          source: "import { Checkout } from 'checkout-sdk-node';\n\nconst cko = new Checkout('sk_XXXX');\n\nconst notification = await cko.events.retrieveEventNotification({\n	eventId: 'evt_c2qelfixai2u3es3ksovngkx3e',\n	notificationId: 'ntf_wqjkqpgjy33uxoywcej4fnw6qm',\n});"
        - lang: PHP
          source: "<?php\n//For more information please refer to https://github.com/checkout/checkout-sdk-php\n\nuse Checkout\\CheckoutApiException;\nuse Checkout\\CheckoutArgumentException;\nuse Checkout\\CheckoutAuthorizationException;\nuse Checkout\\CheckoutSdk;\nuse Checkout\\Environment;\n\n$api = CheckoutSdk::builder()\n    ->previous()\n    ->staticKeys()\n    ->environment(Environment::sandbox())\n    ->secretKey(\"secret_key\")\n    ->build();\n\ntry {\n    $response = $api->getEventsClient()->retrieveEventNotification(\"event_id\", \"notification_id\");\n} catch (CheckoutApiException $e) {\n    // API error\n    $error_details = $e->error_details;\n    $http_status_code = isset($e->http_metadata) ? $e->http_metadata->getStatusCode() : null;\n} catch (CheckoutAuthorizationException $e) {\n    // Bad Invalid authorization\n}\n"
        - lang: Python
          source: "import checkout_sdk\nfrom checkout_sdk.checkout_sdk import CheckoutSdk\nfrom checkout_sdk.environment import Environment\nfrom checkout_sdk.exception import CheckoutApiException, CheckoutArgumentException, CheckoutAuthorizationException\n\napi = CheckoutSdk.builder() \\\n    .previous() \\\n    .secret_key('secret_key') \\\n    .environment(Environment.sandbox()) \\\n    .build()\n    # or Environment.production()\n\ntry:\n    response = api.events.retrieve_event_notification(\"event_id\", \"notification_id\")\nexcept CheckoutApiException as err:\n    # API error\n    request_id = err.request_id\n    status_code = err.http_status_code\n    error_details = err.error_details\n    http_response = err.http_response\nexcept CheckoutArgumentException as err:\n    # Bad arguments\n\nexcept CheckoutAuthorizationException as err:\n    # Invalid authorization"
  /events/{eventId}/webhooks/{webhookId}/retry:
    post:
      security:
        - ApiSecretKey: [ ]
      tags:
        - Events
      summary: Retry webhook
      operationId: retryWebhook
      description: Retries a specific webhook notification for the given event
      parameters:
        - in: path
          name: eventId
          schema:
            type: string
            pattern: "^(evt)_(\\w{26})$"
          required: true
          description: The event identifier
        - in: path
          name: webhookId
          schema:
            type: string
            pattern: "^(wh)_(\\w{32})$"
          required: true
          description: The webhook identifier
          example: 'wh_387ac7a83a054e37ae140105429d76b5'
      responses:
        '202':
          description: Retry accepted
          headers:
            Cko-Request-Id:
              $ref: '#/components/headers/Cko-Request-Id'
            Cko-Version:
              $ref: '#/components/headers/Cko-Version'
        '401':
          description: Unauthorized
        '404':
          description: Event or webhook not found
      x-code-samples:
        - lang: C#
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-net\n\nPrevious.ICheckoutApi api = CheckoutSdk.Builder()\n    .Previous()\n    .StaticKeys()\n    .SecretKey(\"secret_key\")\n    .Environment(Environment.Sandbox)\n    .HttpClientFactory(new DefaultHttpClientFactory())\n    .Build();\n\ntry\n{\n    EmptyResponse response = await api.EventsClient().RetryWebhook(\"event_id\", \"webhook_id\");\n}\ncatch (CheckoutApiException e)\n{\n    // API error\n    string requestId = e.RequestId;\n    var statusCode = e.HttpStatusCode;\n    IDictionary<string, object> errorDetails = e.ErrorDetails;\n}\ncatch (CheckoutArgumentException e)\n{\n    // Bad arguments\n}\ncatch (CheckoutAuthorizationException e)\n{\n    // Invalid authorization\n}"
        - lang: Java
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-java\nimport com.checkout.CheckoutApiException;\nimport com.checkout.CheckoutArgumentException;\nimport com.checkout.CheckoutAuthorizationException;\nimport com.checkout.CheckoutSdk;\nimport com.checkout.EmptyResponse;\nimport com.checkout.Environment;\nimport com.checkout.previous.CheckoutApi;\n\nCheckoutApi api = CheckoutSdk\n    .builder()\n    .previous()\n    .staticKeys()\n    .secretKey(\"secret_key\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .build();\n\ntry {\n    EmptyResponse response = api.eventsClient().retryWebhook(\"event_id\", \"webhook_id\").get();\n} catch (CheckoutApiException e) {\n    // API error\n    String requestId = e.getRequestId();\n    int statusCode = e.getHttpStatusCode();\n    Map<String, Object> errorDetails = e.getErrorDetails();\n} catch (CheckoutArgumentException e) {\n    // Bad arguments\n} catch (CheckoutAuthorizationException e) {\n    // Invalid authorization\n}"
        - lang: Node
          source: "import { Checkout } from 'checkout-sdk-node';\n\nconst cko = new Checkout('sk_XXXX');\n\nconst retry = await cko.events.retry({\n	eventId: 'evt_c2qelfixai2u3es3ksovngkx3e',\n	webhookId: 'wh_mpkyioafmajulnhjvwmrklenb4',\n});"
        - lang: PHP
          source: "<?php\n//For more information please refer to https://github.com/checkout/checkout-sdk-php\n\nuse Checkout\\CheckoutApiException;\nuse Checkout\\CheckoutArgumentException;\nuse Checkout\\CheckoutAuthorizationException;\nuse Checkout\\CheckoutSdk;\nuse Checkout\\Environment;\n\n$api = CheckoutSdk::builder()\n    ->previous()\n    ->staticKeys()\n    ->environment(Environment::sandbox())\n    ->secretKey(\"secret_key\")\n    ->build();\n\ntry {\n    $response = $api->getEventsClient()->retryWebhook(\"event_id\", \"webhook_id\");\n} catch (CheckoutApiException $e) {\n    // API error\n    $error_details = $e->error_details;\n    $http_status_code = isset($e->http_metadata) ? $e->http_metadata->getStatusCode() : null;\n} catch (CheckoutAuthorizationException $e) {\n    // Bad Invalid authorization\n}"
        - lang: Python
          source: "import checkout_sdk\nfrom checkout_sdk.checkout_sdk import CheckoutSdk\nfrom checkout_sdk.environment import Environment\nfrom checkout_sdk.exception import CheckoutApiException, CheckoutArgumentException, CheckoutAuthorizationException\n\napi = CheckoutSdk.builder() \\\n    .previous() \\\n    .secret_key('secret_key') \\\n    .environment(Environment.sandbox()) \\\n    .build()\n    # or Environment.production()\n\ntry:\n    response = api.events.retry_webhook(\"event_id\", \"webhook_id\")\nexcept CheckoutApiException as err:\n    # API error\n    request_id = err.request_id\n    status_code = err.http_status_code\n    error_details = err.error_details\n    http_response = err.http_response\nexcept CheckoutArgumentException as err:\n    # Bad arguments\n\nexcept CheckoutAuthorizationException as err:\n    # Invalid authorization"
  /events/{eventId}/webhooks/retry:
    post:
      security:
        - ApiSecretKey: [ ]
      tags:
        - Events
      summary: Retry all webhooks
      operationId: retryAllWebhooks
      description: Retries all webhook notifications configured for the specified event
      parameters:
        - in: path
          name: eventId
          schema:
            type: string
            pattern: "^(evt)_(\\w{26})$"
          required: true
          description: The event identifier
      responses:
        '202':
          description: Retry accepted
          headers:
            Cko-Request-Id:
              $ref: '#/components/headers/Cko-Request-Id'
            Cko-Version:
              $ref: '#/components/headers/Cko-Version'
        '401':
          description: Unauthorized
        '404':
          description: Event or webhook not found
      x-code-samples:
        - lang: C#
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-net\n\nPrevious.ICheckoutApi api = CheckoutSdk.Builder()\n    .Previous()\n    .StaticKeys()\n    .SecretKey(\"secret_key\")\n    .Environment(Environment.Sandbox)\n    .HttpClientFactory(new DefaultHttpClientFactory())\n    .Build();\n\ntry\n{\n    EmptyResponse response = await api.EventsClient().RetryAllWebhooks(\"event_id\");\n}\ncatch (CheckoutApiException e)\n{\n    // API error\n    string requestId = e.RequestId;\n    var statusCode = e.HttpStatusCode;\n    IDictionary<string, object> errorDetails = e.ErrorDetails;\n}\ncatch (CheckoutArgumentException e)\n{\n    // Bad arguments\n}\ncatch (CheckoutAuthorizationException e)\n{\n    // Invalid authorization\n}"
        - lang: Java
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-java\nimport com.checkout.CheckoutApiException;\nimport com.checkout.CheckoutArgumentException;\nimport com.checkout.CheckoutAuthorizationException;\nimport com.checkout.CheckoutSdk;\nimport com.checkout.EmptyResponse;\nimport com.checkout.Environment;\nimport com.checkout.previous.CheckoutApi;\n\nCheckoutApi api = CheckoutSdk\n    .builder()\n    .previous()\n    .staticKeys()\n    .secretKey(\"secret_key\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .build();\n\ntry {\n    EmptyResponse response = api.eventsClient().retryAllWebhooks(\"event_id\").get();\n} catch (CheckoutApiException e) {\n    // API error\n    String requestId = e.getRequestId();\n    int statusCode = e.getHttpStatusCode();\n    Map<String, Object> errorDetails = e.getErrorDetails();\n} catch (CheckoutArgumentException e) {\n    // Bad arguments\n} catch (CheckoutAuthorizationException e) {\n    // Invalid authorization\n}"
        - lang: Node
          source: "import { Checkout } from 'checkout-sdk-node';\n\nconst cko = new Checkout('sk_XXXX');\n\nconst retryAll = await cko.events.retryAll('evt_c2qelfixai2u3es3ksovngkx3e');"
        - lang: PHP
          source: "<?php\n//For more information please refer to https://github.com/checkout/checkout-sdk-php\n\nuse Checkout\\CheckoutApiException;\nuse Checkout\\CheckoutArgumentException;\nuse Checkout\\CheckoutAuthorizationException;\nuse Checkout\\CheckoutSdk;\nuse Checkout\\Environment;\n\n$api = CheckoutSdk::builder()\n    ->previous()\n    ->staticKeys()\n    ->environment(Environment::sandbox())\n    ->secretKey(\"secret_key\")\n    ->build();\n\ntry {\n    $response = $api->getEventsClient()->retryAllWebhooks(\"event_id\");\n} catch (CheckoutApiException $e) {\n    // API error\n    $error_details = $e->error_details;\n    $http_status_code = isset($e->http_metadata) ? $e->http_metadata->getStatusCode() : null;\n} catch (CheckoutAuthorizationException $e) {\n    // Bad Invalid authorization\n}"
        - lang: Python
          source: "import checkout_sdk\nfrom checkout_sdk.checkout_sdk import CheckoutSdk\nfrom checkout_sdk.environment import Environment\nfrom checkout_sdk.exception import CheckoutApiException, CheckoutArgumentException, CheckoutAuthorizationException\n\napi = CheckoutSdk.builder() \\\n    .previous() \\\n    .secret_key('secret_key') \\\n    .environment(Environment.sandbox()) \\\n    .build()\n    # or Environment.production()\n\ntry:\n    response = api.events.retry_all_webhooks(\"event_id\")\nexcept CheckoutApiException as err:\n    # API error\n    request_id = err.request_id\n    status_code = err.http_status_code\n    error_details = err.error_details\n    http_response = err.http_response\nexcept CheckoutArgumentException as err:\n    # Bad arguments\n\nexcept CheckoutAuthorizationException as err:\n    # Invalid authorization"
  /files:
    post:
      security:
        - ApiSecretKey: [ ]
      tags:
        - Disputes
      summary: Upload file
      operationId: uploadFile
      description: Upload a file to use as evidence in a dispute. Your file must be in either JPEG/JPG, PNG or PDF format, and be no larger than 4MB.
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/File'
      responses:
        '200':
          description: File uploaded successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileUploadResponse'
          headers:
            Cko-Request-Id:
              $ref: '#/components/headers/Cko-Request-Id'
            Cko-Version:
              $ref: '#/components/headers/Cko-Version'
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable
        '429':
          description: Too many requests
      x-code-samples:
        - lang: C#
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-net\nusing Checkout.Common;\n\nPrevious.ICheckoutApi api = CheckoutSdk.Builder()\n    .Previous()\n    .StaticKeys()\n    .SecretKey(\"secret_key\")\n    .Environment(Environment.Sandbox)\n    .HttpClientFactory(new DefaultHttpClientFactory())\n    .Build();\n\ntry\n{\n    IdResponse response = await api.DisputesClient().SubmitFile(\"file_path\", \"dispute_evidence\");\n}\ncatch (CheckoutApiException e)\n{\n    // API error\n    string requestId = e.RequestId;\n    var statusCode = e.HttpStatusCode;\n    IDictionary<string, object> errorDetails = e.ErrorDetails;\n}\ncatch (CheckoutArgumentException e)\n{\n    // Bad arguments\n}\ncatch (CheckoutAuthorizationException e)\n{\n    // Invalid authorization\n}"
        - lang: Java
[...]
