openapi: '3.0.1'
info:
  version: '1.0.0'
  title: Checkout.com API Reference
  x-logo:
    url: 'https://assets.checkout.com/docs/logos/logo-checkout-api-dark.svg'
    backgroundColor: '#E6E7EC'
    altText: 'Checkout.com API logo'
  contact:
    name: Checkout.com Support
    url: 'https://checkout.com'
    email: support@checkout.com
  license:
    name: Checkout.com
    url: 'https://checkout.com/api/license/'
  termsOfService: 'https://checkout.com/terms/'
  description: >
    ##  Get started

    Checkout.com provides a collection of APIs that enable you to process and manage payments. Our APIs accept and return JSON in the HTTP body, and return standard <a href="https://www.checkout.com/docs/four/resources/codes/http-response-codes">HTTP response codes</a>.

    You can consume the APIs directly using your favorite HTTP/REST library.

    We have a testing environment called sandbox, which you can <a href="https://www.checkout.com/get-test-account">sign up for</a> to test API calls without affecting live data.

    # Authentication

    When you sign up for an account, you can authenticate with either Access keys (OAuth 2.0), or Secret API keys.

    Unless explicitly stated, all endpoints require authentication using either your Access or Secret API Keys. Public keys should only be used in JavaScript or native applications.

    - <b>Client-side authentication</b>. Use your [public key](#section/Authentication/ApiPublicKey) for client-side authentication. It only has access to a limited set of our APIs – mostly those called as part of your payment environment.

    - <b>Server-to-server authentication</b>. Use your [secret key](#section/Authentication/ApiSecretKey) or [OAuth](#section/Authentication/OAuth) for server-to-server communication. Support for API keys depends on the endpoint.

    Never share your OAuth credentials, API keys, or access tokens. Keep them guarded and secure.

    # Changelog

      | Date       | Description of change                                                         |
      | ---------- | ----------------------------------------------------------------------------- |
      | 2022/06/29 | Updated Authentication content.                                               |
      | 2022/03/16 | Added the `scheme_local` to source for CoBrand payments.                      |
      | 2022/02/07 | Added the `preferred_scheme` to Processing to support CoBrand payments.       |
      | 2022/02/02 | Adds `active` property for workflows                                          |
      | 2022/01/26 | Update code samples for Java.                                                 |
      | 2022/01/25 | Update code samples for C#.                                                   |
      | 2022/01/19 | Added test a workflow endpoint.                                               |
      | 2022/01/13 | Update code samples for Node JS.                                              |
      | 2021/11/29 | Increase max length of the NAS `success_url` and `failure_url` fields of the payment request (both from 255 to 1024).|
      | 2021/11/11 | Added `3ds.challenge_indicator` to card payment requests.                     |
      | 2021/11/03 | Adds `identification` object under parent `sender` object in payment request. |
      | 2021/10/18 | Added the `marketplaces.sub-entities` object to support split payments.       |

servers:
  - url: https://api.sandbox.checkout.com
    description: Sandbox API
  - url: https://api.checkout.com
    description: Live API
tags:
  - name: Access
    description: Create an access token to begin using our APIs.
  - name: Payments
    description: Process and manage payments from a variety of sources and to various destinations all within one integration.
  - name: Payment Links
    description: Create a Payment Link to accept and process payment details.
  - name: Hosted Payments Page
    description: Create a Hosted Payments Page to accept and process payment details.
  # - name: Sources
  #   description: Create a payment source for a customer that you can use for one or more payments.
  - name: Tokens
    description: Create a token that represents a card's details that you can later use to request a payment, without you having to process or store any sensitive information.
  - name: Instruments
    description: Create and manage your card and bank account payment instruments.
  - name: Forex
    description: Checkout.com Foreign Exchange services
  - name: Disputes
    description: Keep track of and act on your open disputes (also known as chargebacks) to submit the best possible response.
  - name: Platforms
    description: Manage all your sub-entities (also known as sub-merchants) through one integration, globally.
  - name: Sessions
    description: Use Sessions to authenticate transactions with 3D Secure (3DS) and comply with Strong Customer Authentication (SCA) requirements.
  - name: Workflows
    description: Use Workflows to start receiving webhook notifications for your payments, disputes, and sub-entities.
  - name: Risk
    description: Evaluate the risk of a transaction at the pre-authentication and pre-capture stages of the payment process.
  - name: Apple Pay
    description: Manage your Apple Pay certificates in order to process payments via Apple Pay.
  - name: Transfers
    description: Transfer funds while managing the entities to transfer money to recoup funds from a seller, return money from a refund or to make up the difference when running a promotion.
  - name: Balances
    description: View balances for currency accounts belonging to an entity.

  # - name: Files
  #   description: |
  #     Upload files to be used as input to other APIs

x-tagGroups:
  - name: Set up
    tags:
      - Access
  - name: Handle payments and payouts
    tags:
      - Payments
      - Payment Links
      - Hosted Payments Page
      - Forex
      - Apple Pay
      - Transfers
      - Balances
  - name: Stored payment details
    tags:
      - Tokens
      - Instruments
      - Customers
  - name: Risk management
    tags:
      - Sessions
      - Disputes
      - Risk
  - name: Notifications
    tags:
      - Workflows
  - name: Platforms
    tags:
      - Platforms
paths:
  /:
    servers:
      - url: https://files.checkout.com/files
        description: Production server
      - url: https://files.sandbox.checkout.com/files
        description: Sandbox server
    post:
      tags:
        - Platforms
      security:
        - OAuth:
            - files
      summary: Upload a file
      operationId: uploadAFile
      description: >-
        Our Platforms solution provides an easy way to upload identity documentation required for full due diligence. Please <strong>note</strong> that the sub-domain – https://files.checkout.com – is slightly different to Checkout.com's other endpoints. <br><br>Read the <a href="https://checkout.com/docs/four/platforms/onboarding/api/full/upload-a-file" target="_blank">documentation</a> for more information.
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PlatformsFile'
      responses:
        '200':
          description: File uploaded successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlatformsFileUploadResponse'
          headers:
            Cko-Request-Id:
              $ref: '#/components/headers/Cko-Request-Id'
            Cko-Version:
              $ref: '#/components/headers/Cko-Version'
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable
        '429':
          description: Too many requests
  /accounts/entities:
    post:
      description: |
        Onboard a sub-entity so they can start receiving payments. Once created, Checkout.com will run due diligence checks.
        If the checks are successful, we'll enable payment capabilities for that sub-entity and they will start receiving payments.
      summary: Onboard a sub-entity
      operationId: onboardSubEntity
      requestBody:
        required: true
        description: The sub-entity to be onboarded.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntityCreateRequest'
            examples:
              Company:
                value:
                  reference: superhero1234
                  contact_details:
                    phone:
                      number: '2345678910'
                  profile:
                    urls:
                      - https://www.superheroexample.com
                    mccs:
                      - '5669'
                  company:
                    business_registration_number: '452349600005'
                    legal_name: 'Super Hero Masks Inc.'
                    trading_name: 'Super Hero Masks'
                    principal_address:
                      address_line1: '90 Tottenham Court Road'
                      city: 'London'
                      zip: 'W1T4TJ'
                      country: 'GB'
                    registered_address:
                      address_line1: '90 Tottenham Court Road'
                      city: 'London'
                      zip: 'W1T4TJ'
                      country: 'GB'
                    representatives:
                      - first_name: 'John'
                        last_name: 'Doe'
                        address:
                          address_line1: '90 Tottenham Court Road'
                          city: 'London'
                          zip: 'W1T4TJ'
                          country: 'GB'
                        identification:
                          national_id_number: 'AB123456C'
                        phone:
                          number: '2345678910'
                        date_of_birth:
                          day: 05
                          month: 06
                          year: 1995
              Individual:
                value:
                  reference: superhero1234
                  contact_details:
                    phone:
                      number: '2345678910'
                  profile:
                    urls:
                      - https://www.superheroexample.com
                    mccs:
                      - '5669'
                  individual:
                    first_name: 'John'
                    last_name: 'Doe'
                    trading_name: "John's Super Hero Masks"
                    registered_address:
                      address_line1: '90 Tottenham Court Road'
                      city: 'London'
                      zip: 'W1T4TJ'
                      country: 'GB'
                    national_tax_id: 'TAX123456'
                    date_of_birth:
                      day: 05
                      month: 06
                      year: 1995
                    identification:
                      national_id_number: 'AB123456C'
      security:
        - OAuth:
            - accounts
      responses:
        '201':
          description: Sub-entity onboarded successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityBasicResponseWithLinks'
          headers:
            Cko-Version:
              $ref: '#/components/headers/Cko-Version'
            Cko-Request-Id:
              $ref: '#/components/headers/Cko-Request-Id'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '409':
          description: Sub-entity onboarding request conflicted with an existing sub-entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityLinks'
        '422':
          description: Invalid data was sent
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ValidationError'
                  - type: object
                    properties:
                      error_codes:
                        example:
                          - error_code1
                          - error_code2
      tags:
        - Platforms
  /accounts/entities/{id}:
    parameters:
      - in: path
        name: id
        description: The ID of the sub-entity.
    
        required: true
        allowEmptyValue: false
        example: ent_w4jelhppmfiufdnatam37wrfc4
        style: simple
        schema:
          type: string
    get:
      description: Use this endpoint to retrieve a sub-entity and its full details.
      summary: Get sub-entity details
      operationId: getSubEntityDetails
      security:
        - OAuth:
            - accounts
      responses:
        '200':
          description: Sub-entity retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityExtendedResponse'
              examples:
                Company:
                  value:
                    id: ent_wxglze3wwywujg4nna5fb7ldli
                    reference: superhero1234
                    capabilities:
                      payments:
                        enabled: false
                      payouts:
                        enabled: false
                    status: pending
                    contact_details:
                      phone:
                        number: '2345678910'
                    profile:
                      urls:
                        - https://www.superheroexample.com
                      mccs:
                        - '5669'
                    company:
                      business_registration_number: '452349600005'
                      legal_name: Super Hero Masks Inc.
                      trading_name: Super Hero Masks
                      principal_address:
                        address_line1: 90 Tottenham Court Road
                        city: London
                        zip: W1T4TJ
                        country: GB
                      registered_address:
                        address_line1: 90 Tottenham Court Road
                        city: London
                        zip: W1T4TJ
                        country: GB
                      representatives:
                        - first_name: John
                          middle_name:
                          last_name: Doe
                          address:
                            address_line1: 90 Tottenham Court Road
                            city: London
                            zip: W1T4TJ
                            country: GB
                          identification:
                            national_id_number: 'AB123456C'
                            document:
                              type: 'driving_license'
                              front: 'file_wxglze3wwywujg4nna5fb7ldli'
                              back: 'file_adglze3wwywujg4nna5fb7l1sg'
                          phone:
                            number: '2345678910'
                          date_of_birth:
                            day: 05
                            month: 06
                            year: 1995
                    instruments:
                      - id: src_hmnkhxlshf3uhljow7zt7sf2cq
                        label: Peter's Personal Account
                    _links:
                      self:
                        href: https://api.checkout.com/accounts/entities/ent_wxglze3wwywujg4nna5fb7ldli
                Individual:
                  value:
                    id: ent_wxglze3wwywujg4nna5fb7ldli
                    reference: superhero1234
                    capabilities:
                      payments:
                        enabled: false
                      payouts:
                        enabled: false
                    contact_details:
                      phone:
                        number: '2345678910'
                    profile:
                      urls:
                        - https://www.superheroexample.com
                      mccs:
                        - '5669'
                    individual:
                      first_name: John
                      middle_name: Paul
                      last_name: Doe
                      trading_name: Super Hero Masks
                      legal_name: John Paul Doe
                      national_tax_id: '1234567'
                      registered_address:
                        address_line1: 90 Tottenham Court Road
                        city: London
                        zip: W1T4TJ
                        country: GB
                      date_of_birth:
                        day: 05
                        month: 06
                        year: 1995
                      identification:
                        national_id_number: 'AB123456C'
                        document:
                          type: 'driving_license'
                          front: 'file_wxglze3wwywujg4nna5fb7ldli'
                          back: 'file_adglze3wwywujg4nna5fb7l1sg'
                    instruments:
                      - id: src_hmnkhxlshf3uhljow7zt7sf2cq
                        label: Peter's Personal Account
                    _links:
                      self:
                        href: https://api.checkout.com/accounts/entities/ent_wxglze3wwywujg4nna5fb7ldli
          headers:
            Cko-Version:
              $ref: '#/components/headers/Cko-Version'
            Cko-Request-Id:
              $ref: '#/components/headers/Cko-Request-Id'
        '401':
          description: Unauthorized
        '404':
          description: Sub-entity not found
        '422':
          description: Invalid data was sent
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ValidationError'
                  - type: object
                    properties:
                      error_codes:
                        example:
                          - error_code1
                          - error_code2
      tags:
        - Platforms
    put:
      description: |
        You can update all fields under the Contact details, Profile, and Company objects. You can also add <strong>identification</strong> information to complete due diligence requirements.<br><br>
        <strong>Note:</strong> when you update a sub-entity we may conduct further due diligence checks when necessary. During these checks, your payment capabilities will remain the same.
      summary: Update sub-entity details
      requestBody:
        required: true
        description: The sub-entity to be updated.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntityUpdateRequest'
            examples:
              Company:
                value:
                  contact_details:
                    phone:
                      number: '2345678910'
                  profile:
                    urls:
                      - https://www.superheroexample.com
                    mccs:
                      - '5669'
                  company:
                    business_registration_number: '452349600005'
                    legal_name: 'Super Hero Masks Inc.'
                    trading_name: 'Super Hero Masks'
                    principal_address:
                      address_line1: '90 Tottenham Court Road'
                      city: 'London'
                      zip: 'W1T4TJ'
                      country: 'GB'
                    registered_address:
                      address_line1: '90 Tottenham Court Road'
                      city: 'London'
                      zip: 'W1T4TJ'
                      country: 'GB'
                    representatives:
                      - first_name: 'John'
                        last_name: 'Doe'
                        address:
                          address_line1: '90 Tottenham Court Road'
                          city: 'London'
                          zip: 'W1T4TJ'
                          country: 'GB'
                        identification:
                          national_id_number: 'AB123456C'
                        phone:
                          number: '2345678910'
                        date_of_birth:
                          day: 05
                          month: 06
                          year: 1995
              Individual:
                value:
                  contact_details:
                    phone:
                      number: '2345678910'
                  profile:
                    urls:
                      - https://www.superheroexample.com
                    mccs:
                      - '5669'
                  individual:
                    first_name: 'John'
                    last_name: 'Doe'
                    trading_name: "John's Super Hero Masks"
                    registered_address:
                      address_line1: '90 Tottenham Court Road'
                      city: 'London'
                      zip: 'W1T4TJ'
                      country: 'GB'
                    national_tax_id: 'TAX123456'
                    date_of_birth:
                      day: 05
                      month: 06
                      year: 1995
                    identification:
                      national_id_number: 'AB123456C'
      security:
        - OAuth:
            - accounts
      responses:
        '200':
          description: Sub-entity updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityBasicResponseWithLinks'
          headers:
            Cko-Version:
              $ref: '#/components/headers/Cko-Version'
            Cko-Request-Id:
              $ref: '#/components/headers/Cko-Request-Id'
        '401':
          description: Unauthorized
        '404':
          description: Sub-entity not found
        '422':
          description: Invalid data was sent
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ValidationError'
                  - type: object
                    properties:
                      error_codes:
                        example:
                          - error_code1
                          - error_code2
      tags:
        - Platforms
  /accounts/entities/{id}/instruments:
    parameters:
      - in: path
        name: id
        description: The ID of the sub-entity.
        required: true
        allowEmptyValue: false
        example: ent_w4jelhppmfiufdnatam37wrfc4
        style: simple
        schema:
          type: string
    post:
      description: Create a bank account payment instrument for your sub-entity that you can later use as the destination for their payouts.
      summary: Add a payment instrument
      operationId: addAPaymentInstrument
      requestBody:
        required: true
        description: A JSON payload containing the payment instrument details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlatformsInstrumentCreateRequest'
            examples:
              BankAccount:
                value:
                  label: Peter's Personal Account
                  type: bank_account
                  account_number: '12345678'
                  bank_code: '050389'
                  currency: GBP
                  country: GB
                  account_holder:
                    first_name: Peter
                    last_name: Parker
                    billing_address:
                      address_line1: 90 Tottenham Court Road
                      city: London
                      state: London
                      zip: W1T 4TJ
                      country: GB
                  document:
                    type: bank_statement
                    file_id: file_wxglze3wwywujg4nna5fb7ldli
      security:
        - OAuth:
            - accounts
      responses:
        '202':
          description: Instrument creation request accepted
          headers:
            Cko-Version:
              $ref: '#/components/headers/Cko-Version'
            Cko-Request-Id:
              $ref: '#/components/headers/Cko-Request-Id'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Invalid data was sent
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ValidationError'
                  - type: object
                    properties:
                      error_codes:
                        example:
                          - error_code1
                          - error_code2
      tags:
        - Platforms
  /accounts/entities/{id}/payout-schedules:
    get:
      tags:
        - Platforms
      parameters:
        - in: path
          name: id
          description: The ID of the sub-entity.
          required: true
          allowEmptyValue: false
          example: ent_w4jelhppmfiufdnatam37wrfc4
          style: simple
          schema:
            type: string
      security:
        - OAuth:
            - accounts
      summary: Retrieve a sub-entity's payout schedule
      operationId: getSubEntitysPayoutSchedule
      description: >-
        You can schedule when your sub-entities receive their funds using our <a href="https://checkout.com/docs/four/platforms" target="_blank">Platforms solution</a>. Use this endpoint to retrieve information about a sub-entity's schedule.
      responses:
        '200':
          description: Schedule retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetScheduleResponse'
          headers:
            Cko-Request-Id:
              $ref: '#/components/headers/Cko-Request-Id'
            Cko-Version:
              $ref: '#/components/headers/Cko-Version'
        '401':
          description: Unauthorized.
        '404':
          description: Sub-entity not found, or scheduled payouts are not available to the sub-entity.
        '422':
          description: Invalid data sent.
        '429':
          description: Too many requests.
    
    put:
      tags:
        - Platforms
      security:
        - OAuth:
            - accounts
      summary: Update a sub-entity's payout schedule
      description: >-
        You can schedule when your sub-entities receive their funds using our <a href="https://checkout.com/docs/four/platforms" target="_blank">Platforms solution</a>. Use this endpoint to update a sub-entity's schedule.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateScheduleRequest'
      responses:
        '200':
          description: Schedule updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityLinks'
          headers:
            Cko-Request-Id:
              $ref: '#/components/headers/Cko-Request-Id'
            Cko-Version:
              $ref: '#/components/headers/Cko-Version'
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '429':
          description: Too many requests
  /applepay/certificates:
    post:
      tags:
        - Apple Pay
      security:
        - ApiPublicKey: [ ]
      summary: Upload a payment processing certificate
      operationId: uploadApplePayCertificate
      description: |
        Upload a payment processing certificate. This will allow you to start processing payments via Apple Pay.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplePayCertificateRequest'
      responses:
        '201':
          description: Certificate uploaded successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplePayCertificateResponse'
        '401':
          description: Unauthorized
        '422':
          description: Invalid data was sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
      x-code-samples:
        - lang: Node
          source: "import { Checkout } from 'checkout-sdk-node';\n\nlet cko = new Checkout('sk_sbox_XXXXX', {\n	pk: 'pk_sbox_XXXXX',\n});\n\ntry {\n	const apple = await cko.applePay.upload({\n		content: 'XXXXXXX', // make sure you escape the characters\n	});\n} catch (err) {\n	console.log(err.name);\n}"
  /applepay/signing-requests:
    post:
      tags:
        - Apple Pay
      security:
        - ApiPublicKey: [ ]
      summary: Generate a certificate signing request
      operationId: generateApplePaySigningRequest
      description: |
        Generate a certificate signing request. You'll need to upload this to your Apple Developer account to download a payment processing certificate.
      responses:
        '200':
          description: Generated signing request successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplePaySigningRequestResponse'
        '401':
          description: Unauthorized
        '422':
          description: Invalid data was sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
      x-code-samples:
        - lang: Node
          source: "import { Checkout } from 'checkout-sdk-node';\n\nlet cko = new Checkout('sk_sbox_XXXXX', {\n	pk: 'pk_sbox_XXXXX',\n});\n\ntry {\n	const apple = await cko.applePay.generate();\n} catch (err) {\n	console.log(err.name);\n}"
  /balances/{id}:
    servers:
      - url: https://balances.checkout.com
        description: Production server
      - url: https://balances.sandbox.checkout.com
        description: Sandbox server
    parameters:
      - $ref: '#/components/parameters/EntityId'
      - $ref: '#/components/parameters/Query'
    get:
      summary: Retrieve entity balances
      operationId: getEntityBalances
      description: Use this endpoint to retrieve balances for each currency account belonging to an entity.
      security:
        - OAuth:
            - accounts
      responses:
        '200':
          description: Balances retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalancesResponse'
          headers:
            Cko-Request-Id:
              $ref: '#/components/headers/Cko-Request-Id'
            Cko-Version:
              $ref: '#/components/headers/Cko-Version'
        '400':
          description: Query format not supported
        '401':
          description: Unauthorized
        '404':
          description: Entity not found
        '422':
          description: Invalid data was sent
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ValidationError'
                  - type: object
                    properties:
                      error_codes:
                        example:
                          - error_code1
                          - error_code2
      tags:
        - Balances
  /connect/token:
    servers:
      - url: https://access.checkout.com
        description: Live API
      - url: https://access.sandbox.checkout.com
        description: Sandbox API
    post:
      summary: Request an access token
      operationId: requestAnAccessToken
      tags:
        - Access
      responses:
        '200':
          description: OK - A successful access token response as per [RFC6749](https://tools.ietf.org/html/rfc6749#section-4.4.3)
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    example: 2YotnFZFEjr1zCsicMWpAA
                  token_type:
                    type: string
                    example: example
                  expires_in:
                    type: number
                    example: 3600
    
        '400':
          description: Bad request - An unsuccessful access token response as per [RFC6749](https://tools.ietf.org/html/rfc6749#section-4.4.3)
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum:
                      - invalid_request
                      - invalid_client
                      - invalid_grant
                      - unauthorized_client
                      - unsupported_grant_type
                      - invalid_scope
      description: OAuth endpoint to exchange your access key ID and access key secret for an access token.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                grant_type:
                  type: string
                  enum:
                    - client_credentials
                  example: client_credentials
                client_id:
                  type: string
                  description: 'Access key ID'
                client_secret:
                  type: string
                  description: 'Access key secret'
                scope:
                  type: string
                  description: The access key scope
                  example: gateway
            examples:
              example-1:
                value:
                  grant_type: client_credentials
                  client_id: ack_clckqmmnyfiupexjew7shh5ahe
                  client_secret: Pmg36sDWQ9WxtPR3
      x-code-samples:
        - lang: C#
          source: "// Please refer to https://github.com/checkout/checkout-sdk-net on how to setup the SDK with OAuth\ntry\n{\n    Four.ICheckoutApi api = CheckoutSdk.FourSdk().OAuth()\n        .ClientCredentials(\"client_id\", \"client_secret\")\n        .Scopes(FourOAuthScope.Files, FourOAuthScope.Flow, FourOAuthScope.Fx, FourOAuthScope.Gateway,\n            FourOAuthScope.Marketplace, FourOAuthScope.SessionsApp, FourOAuthScope.SessionsBrowser,\n            FourOAuthScope.Vault, FourOAuthScope.PayoutsBankDetails) // more scopes available\n        .Environment(Environment.Sandbox)\n        .FilesEnvironment(Environment.Sandbox)\n        .Build();\n}\ncatch (CheckoutApiException e)\n{\n    // API error\n    string requestId = e.RequestId;\n    var statusCode = e.HttpStatusCode;\n    IDictionary<string, object> errorDetails = e.ErrorDetails;\n}\ncatch (CheckoutArgumentException e)\n{\n    // Bad arguments\n}\ncatch (CheckoutAuthorizationException e)\n{\n    // Invalid authorization\n}"
        - lang: cURL
          source: "curl --location --request POST 'https://access.checkout.com/connect/token'\n  --header 'Content-Type: application/x-www-form-urlencoded'\n  --header 'Authorization: Basic dGVzdC1hY2Nlc3Mta2V5LWlkOnRlc3QtYWNjZXNzLWtleS1zZWNyZXQ='\n  --data-urlencode 'grant_type=client_credentials'\n  --data-urlencode 'scope=gateway'"
        - lang: Java
          source: "// Please refer to https://github.com/checkout/checkout-sdk-java\nimport com.checkout.CheckoutSdk;\nimport com.checkout.Environment;\nimport com.checkout.FourOAuthScope;\nimport com.checkout.four.CheckoutApi;\n\n// SDK instantiation for OAuth\nCheckoutApi api = CheckoutSdk.fourSdk()\n    .oAuth()\n    .clientCredentials(\"client_id\", \"client_secret\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .scopes(FourOAuthScope.FILES, FourOAuthScope.FLOW, FourOAuthScope.FX, FourOAuthScope.GATEWAY,\n        FourOAuthScope.MARKETPLACE, FourOAuthScope.SESSIONS_APP, FourOAuthScope.SESSIONS_BROWSER,\n        FourOAuthScope.VAULT, FourOAuthScope.PAYOUTS_BANK_DETAILS) // more scopes available\n    .build();"
        - lang: Node
          source: "import { Checkout } from 'checkout-sdk-node';\n\nconst cko = new Checkout();\n\ntry {\n	const access_token = await cko.access.request({\n		grant_type: 'client_credentials',\n		client_id: 'ack_XXXX',\n		client_secret: 'XXXXX',\n		scope: 'gateway',\n	});\n} catch (err) {\n	console.log(err.name);\n}"
        - lang: PHP
          source: "// Please refer to https://github.com/checkout/checkout-sdk-php\n<?php\n\nuse Checkout\\CheckoutFourSdk;\nuse Checkout\\Environment;\nuse Checkout\\Four\\FourOAuthScope;\n\n$builder = CheckoutFourSdk::staticKeys();\n$builder->setPublicKey(\"public_key\");\n$builder->setSecretKey(\"secret_key\");\n$builder->setEnvironment(Environment::sandbox()); // or Environment::production()\n$api = $builder->build();\n\n$builder = CheckoutFourSdk::oAuth();\n$builder->clientCredentials(\"client_id\", \"client_secret\");\n$builder->scopes([FourOAuthScope::$Files, FourOAuthScope::$Flow, FourOAuthScope::$Fx, FourOAuthScope::$Gateway,\n    FourOAuthScope::$Marketplace, FourOAuthScope::$SessionsApp, FourOAuthScope::$SessionsBrowser,\n    FourOAuthScope::$Vault, FourOAuthScope::$PayoutsBankDetails]); // more scopes available\n$builder->setEnvironment(Environment::sandbox()); // or Environment::production()\n$builder->setFilesEnvironment(Environment::sandbox()); // or Environment::production()\n$api = $builder->build();"
        - lang: Python
          source: "# please refer to https://github.com/checkout/checkout-sdk-python\nimport checkout_sdk\nfrom checkout_sdk.four.oauth_scopes import OAuthScopes\n\n# SDK instantiation for OAuth\napi = checkout_sdk.OAuthSdk() \\\n    .client_credentials('client_id', 'client_secret') \\\n    .scopes([OAuthScopes.GATEWAY, OAuthScopes.VAULT, OAuthScopes.PAYOUTS_BANK_DETAILS,\n             OAuthScopes.SESSIONS_APP, OAuthScopes.SESSIONS_BROWSER, OAuthScopes.FX, OAuthScopes.MARKETPLACE,\n             OAuthScopes.FILES, OAuthScopes.TRANSFERS, OAuthScopes.BALANCES_VIEW]) \\\n    .build()"
  /customers:
    post:
      tags:
        - Customers
      security:
        - OAuth:
            - vault
            - vault:customers
        - ApiSecretKey: []
      summary: Create a customer
      operationId: createCustomer
      description: >
        <a href="https://www.checkout.com/docs/four/payments/store-payment-details/customers" target="_blank">Store a customer's details in a customer object to reuse in future payments</a>. When creating a customer, you can link payment instruments – the customer `id` returned can be passed as a source when making a payment.
        <br/><br>
        **NOTE:** Specify a `default` instrument, otherwise the `instruments` array will not be saved on creation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoreCustomerRequest'
      responses:
        '201':
          description: Customer created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoreCustomerResponse'
        '401':
          description: Unauthorized
        '422':
          description: Invalid data was sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '500':
          description: Internal Error
      x-code-samples:
        - lang: C#
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-net\nusing Checkout.Common;\nusing CustomerRequest = Checkout.Customers.Four.CustomerRequest;\n\n//API keys\nFour.ICheckoutApi api = CheckoutSdk.FourSdk().StaticKeys()\n    .PublicKey(\"public_key\")\n    .SecretKey(\"secret_key\")\n    .Environment(Environment.Sandbox)\n    .HttpClientFactory(new DefaultHttpClientFactory())\n    .Build();\n\n//OAuth\nFour.ICheckoutApi api = CheckoutSdk.FourSdk().OAuth()\n    .ClientCredentials(\"client_id\", \"client_secret\")\n    .Scopes(FourOAuthScope.Vault)\n    .Environment(Environment.Sandbox)\n    .FilesEnvironment(Environment.Sandbox)\n    .Build();\n\nCustomerRequest request = new CustomerRequest\n{\n    Email = \"email@docs.checkout.com\",\n    Name = \"FirstName LastName\",\n    Phone = new Phone\n    {\n        CountryCode = \"1\",\n        Number = \"4155552671\"\n    },\n    Metadata = new Dictionary<string, object>()\n    {\n        {\"coupon_code\", \"NY2018\"},\n        {\"partner_id\", \"123989\"}\n    }\n};\n\ntry\n{\n    IdResponse response = await api.CustomersClient().Create(request);\n}\ncatch (CheckoutApiException e)\n{\n    // API error\n    string requestId = e.RequestId;\n    var statusCode = e.HttpStatusCode;\n    IDictionary<string, object> errorDetails = e.ErrorDetails;\n}\ncatch (CheckoutArgumentException e)\n{\n    // Bad arguments\n}\ncatch (CheckoutAuthorizationException e)\n{\n    // Invalid authorization\n}"
        - lang: Java
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-java\nimport com.checkout.CheckoutApiException;\nimport com.checkout.CheckoutArgumentException;\nimport com.checkout.CheckoutAuthorizationException;\nimport com.checkout.CheckoutSdk;\nimport com.checkout.Environment;\nimport com.checkout.common.Phone;\nimport com.checkout.common.four.IdResponse;\nimport com.checkout.customers.four.CustomerRequest;\nimport com.checkout.four.CheckoutApi;\n\n// API Keys\nCheckoutApi api = CheckoutSdk.fourSdk()\n    .staticKeys()\n    .publicKey(\"public_key\")\n    .secretKey(\"secret_key\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .build();\n\n// OAuth\nCheckoutApi api = CheckoutSdk.fourSdk()\n    .oAuth()\n    .clientCredentials(\"client_id\", \"client_secret\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .scopes(FourOAuthScope.GATEWAY) // more scopes available\n    .build();\n\nCustomerRequest request = CustomerRequest.builder()\n    .email(\"email@docs.checkout.com\")\n    .name(\"name\")\n    .phone(Phone.builder().countryCode(\"1\").number(\"415 555 2671\").build())\n    .instruments(Arrays.asList(\"instrument_id_1\", \"instrument_id_2\"))\n    .metadata(new HashMap<>())\n    .build();\n\ntry {\n    IdResponse response = api.customersClient().create(request).get();\n} catch (CheckoutApiException e) {\n    // API error\n    String requestId = e.getRequestId();\n    int statusCode = e.getHttpStatusCode();\n    Map<String, Object> errorDetails = e.getErrorDetails();\n} catch (CheckoutArgumentException e) {\n    // Bad arguments\n} catch (CheckoutAuthorizationException e) {\n    // Invalid authorization\n}"
        - lang: Node
          source: "import { Checkout } from 'checkout-sdk-node';\n\nlet cko = new Checkout('your_client_secret_here', {\n	client: 'ack_XXXXXXXXXXXX',\n	scope: ['gateway'], // array of scopes\n	environment: 'sandbox', // or \"production\"\n});\n\n// Or if you use api keys:\n// const cko = new Checkout('sk_sbox_XXX', { pk: 'pk_sbox_XXX'}});\n\ntry {\n	const customerResponse = await cko.customers.create({\n		email: 'JohnTest@test.com',\n		name: 'John Test',\n		phone: {\n			country_code: '+1',\n			number: '4155552671',\n		},\n		metadata: {\n			coupon_code: 'NY2018',\n			partner_id: 123989,\n		},\n	});\n} catch (err) {\n	console.log(err.name);\n}"
        - lang: PHP
          source: "// Please refer to https://github.com/checkout/checkout-sdk-php\n<?php\n\nuse Checkout\\CheckoutApiException;\nuse Checkout\\CheckoutArgumentException;\nuse Checkout\\CheckoutAuthorizationException;\nuse Checkout\\CheckoutFourSdk;\nuse Checkout\\Common\\Phone;\nuse Checkout\\Customers\\Four\\CustomerRequest;\nuse Checkout\\Environment;\nuse Checkout\\Four\\FourOAuthScope;\n\n// API Keys\n$builder = CheckoutFourSdk::staticKeys();\n$builder->setPublicKey(\"public_key\");\n$builder->setSecretKey(\"secret_key\");\n$builder->setEnvironment(Environment::sandbox()); // or Environment::production()\n$api = $builder->build();\n\n// OAuth\n$builder = CheckoutFourSdk::oAuth();\n$builder->clientCredentials(\"client_id\", \"client_secret\");\n$builder->scopes([FourOAuthScope::$Gateway]); // more scopes available\n$builder->setEnvironment(Environment::sandbox()); // or Environment::production()\n$builder->setFilesEnvironment(Environment::sandbox()); // or Environment::production()\n$api = $builder->build();\n\n$phone = new Phone();\n$phone->country_code = \"+1\";\n$phone->number = \"415 555 2671\";\n\n$request = new CustomerRequest();\n$request->email = \"email@docs.checkout.com\";\n$request->name = \"name\";\n$request->phone = $phone;\n$request->instruments = [\"instrument_id_1\", \"instrument_id_2\"];\n\ntry {\n    $response = $api->getCustomersClient()->create($request);\n} catch (CheckoutApiException $e) {\n    // API error\n    $request_id = $e->request_id;\n    $http_status_code = $e->http_status_code;\n    $error_details = $e->error_details;\n} catch (CheckoutArgumentException $e) {\n    // Bad arguments\n} catch (CheckoutAuthorizationException $e) {\n    // Bad Invalid authorization\n}"
        - lang: Python
          source: "# For more information please refer to https://github.com/checkout/checkout-sdk-python\nimport checkout_sdk\nfrom checkout_sdk.common.common import Phone, CustomerRequest\nfrom checkout_sdk.environment import Environment\nfrom checkout_sdk.exception import CheckoutApiException, CheckoutArgumentException, CheckoutAuthorizationException\nfrom checkout_sdk.four.oauth_scopes import OAuthScopes\n\n# API Keys\napi = checkout_sdk.FourSdk() \\\n    .secret_key('secret_key') \\\n    .public_key('public_key') \\\n    .environment(Environment.sandbox()) \\\n    .build()\n# or Environment.production()\n\n# OAuth\napi = checkout_sdk.OAuthSdk() \\\n    .client_credentials('client_id', 'client_secret') \\\n    .environment(Environment.sandbox()) \\\n    .scopes([OAuthScopes.GATEWAY]) \\\n    .build()\n\nphone = Phone()\nphone.country_code = '44'\nphone.number = '4155552671'\n\nrequest = CustomerRequest()\nrequest.email = 'email@docs.checkout.com'\nrequest.name = 'Name'\nrequest.phone = phone\nrequest.instruments = ['instrument_id_1', 'instrument_id_2']\n\ntry:\n    response = api.customers.create(request)\nexcept CheckoutApiException as err:\n    # API error\n    request_id = err.request_id\n    status_code = err.http_status_code\n    error_details = err.error_details\n    http_response = err.http_response\nexcept CheckoutArgumentException as err:\n    # Bad arguments\n\nexcept CheckoutAuthorizationException as err:\n    # Invalid authorization"
  /customers/{identifier}:
    get:
      security:
        - OAuth:
            - vault
            - vault:customers
        - ApiSecretKey: [ ]
      tags:
        - Customers
      summary: Get customer details
      operationId: getCustomerDetails
      description: Returns the details of a customer and their payment instruments.
      parameters:
        - in: path
          name: identifier
          required: true
          description: The customer's ID or email
          schema:
            type: string
            properties:
              id:
                type: string
                pattern: "^(cus)_(\\w{26})$"
              email:
                type: string
                format: email
                maxLength: 255
            additionalProperties: false
            oneOf:
              - required: [ id ]
              - required: [ email ]
      responses:
        '200':
          description: Customer retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveCustomerResponse'
          headers:
            Cko-Request-Id:
              $ref: '#/components/headers/Cko-Request-Id'
            Cko-Version:
              $ref: '#/components/headers/Cko-Version'
        '401':
          description: Unauthorized
        '404':
          description: Customer not found
    
      x-code-samples:
        - lang: C#
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-net\nusing Checkout.Customers;\n\n//API keys\nFour.ICheckoutApi api = CheckoutSdk.FourSdk().StaticKeys()\n    .PublicKey(\"public_key\")\n    .SecretKey(\"secret_key\")\n    .Environment(Environment.Sandbox)\n    .HttpClientFactory(new DefaultHttpClientFactory())\n    .Build();\n\n//OAuth\nFour.ICheckoutApi api = CheckoutSdk.FourSdk().OAuth()\n    .ClientCredentials(\"client_id\", \"client_secret\")\n    .Scopes(FourOAuthScope.Vault)\n    .Environment(Environment.Sandbox)\n    .FilesEnvironment(Environment.Sandbox)\n    .Build();\n\ntry\n{\n    CustomerDetailsResponse response = await api.CustomersClient().Get(\"customer_id\");\n}\ncatch (CheckoutApiException e)\n{\n    // API error\n    string requestId = e.RequestId;\n    var statusCode = e.HttpStatusCode;\n    IDictionary<string, object> errorDetails = e.ErrorDetails;\n}\ncatch (CheckoutArgumentException e)\n{\n    // Bad arguments\n}\ncatch (CheckoutAuthorizationException e)\n{\n    // Invalid authorization\n}"
        - lang: Java
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-java\nimport com.checkout.CheckoutApiException;\nimport com.checkout.CheckoutArgumentException;\nimport com.checkout.CheckoutAuthorizationException;\nimport com.checkout.CheckoutSdk;\nimport com.checkout.Environment;\nimport com.checkout.customers.four.CustomerResponse;\nimport com.checkout.four.CheckoutApi;\n\n// API Keys\nCheckoutApi api = CheckoutSdk.fourSdk()\n    .staticKeys()\n    .publicKey(\"public_key\")\n    .secretKey(\"secret_key\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .build();\n\n// OAuth\nCheckoutApi api = CheckoutSdk.fourSdk()\n    .oAuth()\n    .clientCredentials(\"client_id\", \"client_secret\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .scopes(FourOAuthScope.GATEWAY) // more scopes available\n    .build();\n\ntry {\n    CustomerResponse response = api.customersClient().get(\"customer_id\").get();\n} catch (CheckoutApiException e) {\n    // API error\n    String requestId = e.getRequestId();\n    int statusCode = e.getHttpStatusCode();\n    Map<String, Object> errorDetails = e.getErrorDetails();\n} catch (CheckoutArgumentException e) {\n    // Bad arguments\n} catch (CheckoutAuthorizationException e) {\n    // Invalid authorization\n}"
        - lang: Node
          source: "import { Checkout } from 'checkout-sdk-node';\n\nlet cko = new Checkout('your_client_secret_here', {\n	client: 'ack_XXXXXXXXXXXX',\n	scope: ['gateway'], // array of scopes\n	environment: 'sandbox', // or \"production\"\n});\n\n// Or if you use api keys:\n// const cko = new Checkout('sk_sbox_XXX', { pk: 'pk_sbox_XXX'}});\n\ntry {\n	const customerResponse = await cko.customers.get('cus_2tvaccfvs3lulevzg42vgyvtdq');\n} catch (err) {\n	console.log(err.name);\n}"
        - lang: PHP
          source: "// Please refer to https://github.com/checkout/checkout-sdk-php\n<?php\n\nuse Checkout\\CheckoutApiException;\nuse Checkout\\CheckoutArgumentException;\nuse Checkout\\CheckoutAuthorizationException;\nuse Checkout\\CheckoutFourSdk;\nuse Checkout\\Environment;\nuse Checkout\\Four\\FourOAuthScope;\n\n// API Keys\n$builder = CheckoutFourSdk::staticKeys();\n$builder->setPublicKey(\"public_key\");\n$builder->setSecretKey(\"secret_key\");\n$builder->setEnvironment(Environment::sandbox()); // or Environment::production()\n$api = $builder->build();\n\n// OAuth\n$builder = CheckoutFourSdk::oAuth();\n$builder->clientCredentials(\"client_id\", \"client_secret\");\n$builder->scopes([FourOAuthScope::$Gateway]); // more scopes available\n$builder->setEnvironment(Environment::sandbox()); // or Environment::production()\n$builder->setFilesEnvironment(Environment::sandbox()); // or Environment::production()\n$api = $builder->build();\n\ntry {\n    $response = $api->getCustomersClient()->get(\"customer_id\");\n} catch (CheckoutApiException $e) {\n    // API error\n    $request_id = $e->request_id;\n    $http_status_code = $e->http_status_code;\n    $error_details = $e->error_details;\n} catch (CheckoutArgumentException $e) {\n    // Bad arguments\n} catch (CheckoutAuthorizationException $e) {\n    // Bad Invalid authorization\n}"
        - lang: Python
          source: "# For more information please refer to https://github.com/checkout/checkout-sdk-python\nimport checkout_sdk\nfrom checkout_sdk.environment import Environment\nfrom checkout_sdk.exception import CheckoutApiException, CheckoutArgumentException, CheckoutAuthorizationException\nfrom checkout_sdk.four.oauth_scopes import OAuthScopes\n\n# API Keys\napi = checkout_sdk.FourSdk() \\\n    .secret_key('secret_key') \\\n    .public_key('public_key') \\\n    .environment(Environment.sandbox()) \\\n    .build()\n# or Environment.production()\n\n# OAuth\napi = checkout_sdk.OAuthSdk() \\\n    .client_credentials('client_id', 'client_secret') \\\n    .environment(Environment.sandbox()) \\\n    .scopes([OAuthScopes.GATEWAY]) \\\n    .build()\n\ntry:\n    response = api.customers.get('customer_id')\nexcept CheckoutApiException as err:\n    # API error\n    request_id = err.request_id\n    status_code = err.http_status_code\n    error_details = err.error_details\n    http_response = err.http_response\nexcept CheckoutArgumentException as err:\n    # Bad arguments\n\nexcept CheckoutAuthorizationException as err:\n    # Invalid authorization"
    patch:
      tags:
        - Customers
      security:
        - OAuth:
            - vault
            - vault:customers
        - ApiSecretKey: [ ]
      summary: Update customer details
      description: Update the details of a customer and link payment instruments to them.
      parameters:
        - in: path
          name: identifier
          schema:
            type: string
            pattern: "^(cus)_(\\w{26})$"
          required: true
          description: The customer's ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomerDetailsRequest'
      responses:
        '204':
          description: Customer updated successfully
        '401':
          description: Unauthorized
        '422':
          description: Invalid data was sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '404':
          description: Customer not found
    
      x-code-samples:
        - lang: C#
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-net\nusing Checkout.Common;\nusing CustomerRequest = Checkout.Customers.Four.CustomerRequest;\n\n//API keys\nFour.ICheckoutApi api = CheckoutSdk.FourSdk().StaticKeys()\n    .PublicKey(\"public_key\")\n    .SecretKey(\"secret_key\")\n    .Environment(Environment.Sandbox)\n    .HttpClientFactory(new DefaultHttpClientFactory())\n    .Build();\n\n//OAuth\nFour.ICheckoutApi api = CheckoutSdk.FourSdk().OAuth()\n    .ClientCredentials(\"client_id\", \"client_secret\")\n    .Scopes(FourOAuthScope.Vault)\n    .Environment(Environment.Sandbox)\n    .FilesEnvironment(Environment.Sandbox)\n    .Build();\n\nCustomerRequest request = new CustomerRequest\n{\n    Email = \"email@docs.checkout.com\",\n    Name = \"FirstName LastName\",\n    Phone = new Phone\n    {\n        CountryCode = \"1\",\n        Number = \"4155552671\"\n    },\n    Metadata = new Dictionary<string, object>()\n    {\n        {\"coupon_code\", \"NY2018\"},\n        {\"partner_id\", \"123989\"}\n    }\n};\n\ntry\n{\n    await api.CustomersClient().Update(\"customer_id\", request);\n}\ncatch (CheckoutApiException e)\n{\n    // API error\n    string requestId = e.RequestId;\n    var statusCode = e.HttpStatusCode;\n    IDictionary<string, object> errorDetails = e.ErrorDetails;\n}\ncatch (CheckoutArgumentException e)\n{\n    // Bad arguments\n}\ncatch (CheckoutAuthorizationException e)\n{\n    // Invalid authorization\n}"
        - lang: Java
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-java\n\n\nimport com.checkout.CheckoutApiException;\nimport com.checkout.CheckoutArgumentException;\nimport com.checkout.CheckoutAuthorizationException;\nimport com.checkout.CheckoutSdk;\nimport com.checkout.Environment;\nimport com.checkout.common.Phone;\nimport com.checkout.customers.four.CustomerRequest;\nimport com.checkout.four.CheckoutApi;\n\n// API Keys\nCheckoutApi api = CheckoutSdk.fourSdk()\n    .staticKeys()\n    .publicKey(\"public_key\")\n    .secretKey(\"secret_key\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .build();\n\n// OAuth\nCheckoutApi api = CheckoutSdk.fourSdk()\n    .oAuth()\n    .clientCredentials(\"client_id\", \"client_secret\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .scopes(FourOAuthScope.GATEWAY) // more scopes available\n    .build();\n\nCustomerRequest customerRequest = CustomerRequest.builder()\n    .email(\"email@docs.checkout.com\")\n    .name(\"name\")\n    .phone(Phone.builder().countryCode(\"1\").number(\"4155552671\").build())\n    .instruments(Arrays.asList(\"instrument_id_1\", \"instrument_id_2\"))\n    .metadata(new HashMap<>())\n    .build();\n\ntry {\n    api.customersClient().update(\"customer_id\", customerRequest).get();\n} catch (CheckoutApiException e) {\n    // API error\n    String requestId = e.getRequestId();\n    int statusCode = e.getHttpStatusCode();\n    Map<String, Object> errorDetails = e.getErrorDetails();\n} catch (CheckoutArgumentException e) {\n    // Bad arguments\n} catch (CheckoutAuthorizationException e) {\n    // Invalid authorization\n}"
        - lang: Node
          source: "import { Checkout } from 'checkout-sdk-node';\n\nlet cko = new Checkout('your_client_secret_here', {\n	client: 'ack_XXXXXXXXXXXX',\n	scope: ['gateway'], // array of scopes\n	environment: 'sandbox', // or \"production\"\n});\n\n// Or if you use api keys:\n// const cko = new Checkout('sk_sbox_XXX', { pk: 'pk_sbox_XXX'}});\n\ntry {\n	const customerResponse = await cko.customers.update('cus_2tvaccfvs3lulevzg42vgyvtdq', {\n		name: 'James Bond',\n	});\n} catch (err) {\n	console.log(err.name);\n}"
        - lang: PHP
          source: "// Please refer to https://github.com/checkout/checkout-sdk-php\n<?php\n\nuse Checkout\\CheckoutFourSdk;\nuse Checkout\\Environment;\nuse Checkout\\Four\\FourOAuthScope;\n\n// API Keys\n$builder = CheckoutFourSdk::staticKeys();\n$builder->setPublicKey(\"public_key\");\n$builder->setSecretKey(\"secret_key\");\n$builder->setEnvironment(Environment::sandbox()); // or Environment::production()\n$api = $builder->build();\n\n// OAuth\n$builder = CheckoutFourSdk::oAuth();\n$builder->clientCredentials(\"client_id\", \"client_secret\");\n$builder->scopes([FourOAuthScope::$Gateway]); // more scopes available\n$builder->setEnvironment(Environment::sandbox()); // or Environment::production()\n$builder->setFilesEnvironment(Environment::sandbox()); // or Environment::production()\n$api = $builder->build();\n\n$phone = new Phone();\n$phone->country_code = \"+1\";\n$phone->number = \"415 555 2671\";\n\n$request = new CustomerRequest();\n$request->email = \"email@docs.checkout.com\";\n$request->name = \"name\";\n$request->phone = $phone;\n$request->instruments = [\"instrument_id_1\", \"instrument_id_2\"];\n\ntry {\n    $api->getCustomersClient()->update(\"customer_id\", $request);\n} catch (CheckoutApiException $e) {\n    // API error\n    $request_id = $e->request_id;\n    $http_status_code = $e->http_status_code;\n    $error_details = $e->error_details;\n} catch (CheckoutArgumentException $e) {\n    // Bad arguments\n} catch (CheckoutAuthorizationException $e) {\n    // Bad Invalid authorization\n}"
        - lang: Python
          source: "# For more information please refer to https://github.com/checkout/checkout-sdk-python\nimport checkout_sdk\nfrom checkout_sdk.common.common import Phone\nfrom checkout_sdk.customers.customers import CustomerRequest\nfrom checkout_sdk.environment import Environment\nfrom checkout_sdk.exception import CheckoutApiException, CheckoutArgumentException, CheckoutAuthorizationException\nfrom checkout_sdk.four.oauth_scopes import OAuthScopes\n\n# API Keys\napi = checkout_sdk.FourSdk() \\\n    .secret_key('secret_key') \\\n    .public_key('public_key') \\\n    .environment(Environment.sandbox()) \\\n    .build()\n# or Environment.production()\n\n# OAuth\napi = checkout_sdk.OAuthSdk() \\\n    .client_credentials('client_id', 'client_secret') \\\n    .environment(Environment.sandbox()) \\\n    .scopes([OAuthScopes.GATEWAY]) \\\n    .build()\n\nphone = Phone()\nphone.country_code = '44'\nphone.number = '4155552671'\n\nrequest = CustomerRequest()\nrequest.email = 'email@docs.checkout.com'\nrequest.name = 'Name'\nrequest.phone = phone\nrequest.instruments = ['instrument_id_1', 'instrument_id_2']\n\ntry:\n    response = api.customers.update('customer_id', request)\nexcept CheckoutApiException as err:\n    # API error\n    request_id = err.request_id\n    status_code = err.http_status_code\n    error_details = err.error_details\n    http_response = err.http_response\nexcept CheckoutArgumentException as err:\n# Bad arguments\n\nexcept CheckoutAuthorizationException as err:\n# Invalid authorization"
    delete:
      tags:
        - Customers
      security:
        - OAuth:
            - vault
            - vault:customers
        - ApiSecretKey: [ ]
      summary: Delete a customer
      description: Delete a customer and all of their linked payment instruments.
      parameters:
        - in: path
          name: identifier
          required: true
          schema:
            type: string
            pattern: "^(cus)_(\\w{26})$"
          description: The customer's ID
      responses:
        '204':
          description: Customer deleted successfully
        '401':
          description: Unauthorized
        '404':
          description: Customer not found or not associated with client
      x-code-samples:
        - lang: C#
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-net\n\n//API keys\nFour.ICheckoutApi api = CheckoutSdk.FourSdk().StaticKeys()\n    .PublicKey(\"public_key\")\n    .SecretKey(\"secret_key\")\n    .Environment(Environment.Sandbox)\n    .HttpClientFactory(new DefaultHttpClientFactory())\n    .Build();\n\n//OAuth\nFour.ICheckoutApi api = CheckoutSdk.FourSdk().OAuth()\n    .ClientCredentials(\"client_id\", \"client_secret\")\n    .Scopes(FourOAuthScope.Vault)\n    .Environment(Environment.Sandbox)\n    .FilesEnvironment(Environment.Sandbox)\n    .Build();\n\ntry\n{\n    await api.CustomersClient().Delete(\"customer_id\");\n}\ncatch (CheckoutApiException e)\n{\n    // API error\n    string requestId = e.RequestId;\n    var statusCode = e.HttpStatusCode;\n    IDictionary<string, object> errorDetails = e.ErrorDetails;\n}\ncatch (CheckoutArgumentException e)\n{\n    // Bad arguments\n}\ncatch (CheckoutAuthorizationException e)\n{\n    // Invalid authorization\n}"
        - lang: Java
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-java\nimport com.checkout.CheckoutApiException;\nimport com.checkout.CheckoutArgumentException;\nimport com.checkout.CheckoutAuthorizationException;\nimport com.checkout.CheckoutSdk;\nimport com.checkout.Environment;\nimport com.checkout.four.CheckoutApi;\n\n// API Keys\nCheckoutApi api = CheckoutSdk.fourSdk()\n    .staticKeys()\n    .publicKey(\"public_key\")\n    .secretKey(\"secret_key\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .build();\n\n// OAuth\nCheckoutApi api = CheckoutSdk.fourSdk()\n    .oAuth()\n    .clientCredentials(\"client_id\", \"client_secret\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .scopes(FourOAuthScope.GATEWAY) // more scopes available\n    .build();\n\ntry {\n    api.customersClient().delete(\"customer_id\").get();\n} catch (CheckoutApiException e) {\n    // API error\n    String requestId = e.getRequestId();\n    int statusCode = e.getHttpStatusCode();\n    Map<String, Object> errorDetails = e.getErrorDetails();\n} catch (CheckoutArgumentException e) {\n    // Bad arguments\n} catch (CheckoutAuthorizationException e) {\n    // Invalid authorization\n}"
        - lang: Node
          source: "import { Checkout } from 'checkout-sdk-node';\n\nlet cko = new Checkout('your_client_secret_here', {\n	client: 'ack_XXXXXXXXXXXX',\n	scope: ['gateway'], // array of scopes\n	environment: 'sandbox', // or \"production\"\n});\n\n// Or if you use api keys:\n// const cko = new Checkout('sk_sbox_XXX', { pk: 'pk_sbox_XXX'}});\n\ntry {\n	const customerResponse = await cko.customers.delete('cus_2tvaccfvs3lulevzg42vgyvtdq');\n} catch (err) {\n	console.log(err.name);\n}"
        - lang: PHP
          source: "// Please refer to https://github.com/checkout/checkout-sdk-php\n<?php\n\nuse Checkout\\CheckoutApiException;\nuse Checkout\\CheckoutArgumentException;\nuse Checkout\\CheckoutAuthorizationException;\nuse Checkout\\CheckoutFourSdk;\nuse Checkout\\Environment;\nuse Checkout\\Four\\FourOAuthScope;\n\n// API Keys\n$builder = CheckoutFourSdk::staticKeys();\n$builder->setPublicKey(\"public_key\");\n$builder->setSecretKey(\"secret_key\");\n$builder->setEnvironment(Environment::sandbox()); // or Environment::production()\n$api = $builder->build();\n\n// OAuth\n$builder = CheckoutFourSdk::oAuth();\n$builder->clientCredentials(\"client_id\", \"client_secret\");\n$builder->scopes([FourOAuthScope::$Gateway]); // more scopes available\n$builder->setEnvironment(Environment::sandbox()); // or Environment::production()\n$builder->setFilesEnvironment(Environment::sandbox()); // or Environment::production()\n$api = $builder->build();\n\ntry {\n    $api->getCustomersClient()->delete(\"customer_id\");\n} catch (CheckoutApiException $e) {\n    // API error\n    $request_id = $e->request_id;\n    $http_status_code = $e->http_status_code;\n    $error_details = $e->error_details;\n} catch (CheckoutArgumentException $e) {\n    // Bad arguments\n} catch (CheckoutAuthorizationException $e) {\n    // Bad Invalid authorization\n}"
        - lang: Python
          source: "# For more information please refer to https://github.com/checkout/checkout-sdk-python\nimport checkout_sdk\nfrom checkout_sdk.environment import Environment\nfrom checkout_sdk.exception import CheckoutApiException, CheckoutArgumentException, CheckoutAuthorizationException\nfrom checkout_sdk.four.oauth_scopes import OAuthScopes\n\n# API Keys\napi = checkout_sdk.FourSdk() \\\n    .secret_key('secret_key') \\\n    .public_key('public_key') \\\n    .environment(Environment.sandbox()) \\\n    .build()\n# or Environment.production()\n\n# OAuth\napi = checkout_sdk.OAuthSdk() \\\n    .client_credentials('client_id', 'client_secret') \\\n    .environment(Environment.sandbox()) \\\n    .scopes([OAuthScopes.GATEWAY]) \\\n    .build()\n\ntry:\n    response = api.customers.delete('customer_id')\nexcept CheckoutApiException as err:\n    # API error\n    request_id = err.request_id\n    status_code = err.http_status_code\n    error_details = err.error_details\n    http_response = err.http_response\nexcept CheckoutArgumentException as err:\n    # Bad arguments\n\nexcept CheckoutAuthorizationException as err:\n    # Invalid authorization"
  /disputes:
    get:
      tags:
        - Disputes
      security:
        - OAuth:
            - disputes
            - disputes:view
        - ApiSecretKey: [ ]
      summary: Get disputes
      operationId: getDisputes
      description: >-
        Returns a list of all disputes against your business. The results will be
        returned in reverse chronological order, showing the last modified dispute
        (for example, where you've recently added a piece of evidence) first. You
        can use the optional parameters below to skip or limit results.
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 250
            default: 50
          required: false
          description: The numbers of results to return
        - in: query
          name: skip
          schema:
            type: integer
            minimum: 0
            default: 0
          required: false
          description: The number of results to skip
        - in: query
          name: from
          schema:
            type: string
            format: date-time
          required: false
          description: The date and time from which to filter disputes, based on the dispute's
            `last_update` field
        - in: query
          name: to
          schema:
            type: string
            format: date-time
          required: false
          description: The date and time until which to filter disputes, based on the dispute's
            `last_update` field
        - in: query
          name: id
          schema:
            type: string
          required: false
          description: The unique identifier of the dispute
        - in: query
          name: entity_ids
          schema:
            type: string
            example: 'ent_wxglze3wwywujg4nna5fb7ldli,ent_vkb5zcy64zoe3cwfmaqvqyqyku'
          required: false
          description: One or more comma-separated client entities. This works like a logical *OR*
            operator
        - in: query
          name: sub_entity_ids
          schema:
            type: string
            example: 'ent_uzm3uxtssvmuxnyrfdffcyjxeu,ent_hy5wtzwzeuwefmsnjtdhw4scfi'
          required: false
          description: One or more comma-separated sub-entities. This works like a logical *OR*
            operator
        - in: query
          name: statuses
          schema:
            type: string
            example: 'evidence_required,evidence_under_review'
          required: false
          description: One or more comma-separated statuses. This works like a logical *OR*
            operator
        - in: query
          name: payment_id
          schema:
            type: string
          required: false
          description: The unique identifier of the payment
        - in: query
          name: payment_reference
          schema:
            type: string
          required: false
          description: An optional reference (such as an order ID) that you can use later to identify the payment. Previously known as `TrackId`
        - in: query
          name: payment_arn
          schema:
            type: string
          required: false
          description: The acquirer reference number (ARN) that you can use to query the
            issuing bank
        - in: query
          name: payment_mcc
          schema:
            type: string
          required: false
          description: The merchant category code (MCC) of the payment (ISO 18245)
        - in: query
          name: this_channel_only
          schema:
            type: boolean
          required: false
          description:
            If `true`, only returns disputes of the specific channel that the secret key is associated with. Otherwise, returns all disputes for that
            business
      responses:
        '200':
          description: Disputes retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisputePaged'
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable paging
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagingError'
      x-code-samples:
        - lang: C#
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-net\nusing Checkout.Disputes.Four;\n\n//API keys\nFour.ICheckoutApi api = CheckoutSdk.FourSdk().StaticKeys()\n    .PublicKey(\"public_key\")\n    .SecretKey(\"secret_key\")\n    .Environment(Environment.Sandbox)\n    .HttpClientFactory(new DefaultHttpClientFactory())\n    .Build();\n\n//OAuth\nFour.ICheckoutApi api = CheckoutSdk.FourSdk().OAuth()\n    .ClientCredentials(\"client_id\", \"client_secret\")\n    .Scopes(FourOAuthScope.Disputes)\n    .Environment(Environment.Sandbox)\n    .FilesEnvironment(Environment.Sandbox)\n    .Build();\n\nDisputesQueryFilter request = new DisputesQueryFilter\n{\n    Limit = 250,\n    To = DateTime.Now,\n};\n\ntry\n{\n    DisputesQueryResponse response = await api.DisputesClient().Query(request);\n}\ncatch (CheckoutApiException e)\n{\n    // API error\n    string requestId = e.RequestId;\n    var statusCode = e.HttpStatusCode;\n    IDictionary<string, object> errorDetails = e.ErrorDetails;\n}\ncatch (CheckoutArgumentException e)\n{\n    // Bad arguments\n}\ncatch (CheckoutAuthorizationException e)\n{\n    // Invalid authorization\n}"
        - lang: Java
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-java\nimport com.checkout.CheckoutApiException;\nimport com.checkout.CheckoutArgumentException;\nimport com.checkout.CheckoutAuthorizationException;\nimport com.checkout.CheckoutSdk;\nimport com.checkout.Environment;\nimport com.checkout.disputes.DisputeStatus;\nimport com.checkout.disputes.four.DisputesQueryFilter;\nimport com.checkout.disputes.four.DisputesQueryResponse;\nimport com.checkout.four.CheckoutApi;\n\n// API Keys\nCheckoutApi api = CheckoutSdk.fourSdk()\n    .staticKeys()\n    .publicKey(\"public_key\")\n    .secretKey(\"secret_key\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .build();\n\n// OAuth\nCheckoutApi api = CheckoutSdk.fourSdk()\n    .oAuth()\n    .clientCredentials(\"client_id\", \"client_secret\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .scopes(FourOAuthScope.DISPUTES) // more scopes available\n    .build();\n\nDisputesQueryFilter query = DisputesQueryFilter.builder()\n    .paymentId(\"payment_id\")\n    .from(LocalDateTime.now().minusYears(2).toInstant(ZoneOffset.UTC))\n    .to(Instant.now())\n    .paymentArn(\"payment_arn\")\n    .paymentReference(\"payment_reference\")\n    .statuses(String.join(\",\", DisputeStatus.EVIDENCE_UNDER_REVIEW.getStatus(), DisputeStatus.ARBITRATION_WON.getStatus()))\n    .limit(10)\n    .skip(5)\n    .build();\n\ntry {\n    DisputesQueryResponse response = api.disputesClient().query(query).get();\n} catch (CheckoutApiException e) {\n    // API error\n    String requestId = e.getRequestId();\n    int statusCode = e.getHttpStatusCode();\n    Map<String, Object> errorDetails = e.getErrorDetails();\n} catch (CheckoutArgumentException e) {\n    // Bad arguments\n} catch (CheckoutAuthorizationException e) {\n    // Invalid authorization\n}"
        - lang: Node
          source: "import { Checkout } from 'checkout-sdk-node';\n\nlet cko = new Checkout('your_client_secret_here', {\n	client: 'ack_XXXXXXXXXXXX',\n	scope: ['gateway'], // array of scopes\n	environment: 'sandbox', // or \"production\"\n});\n\n// Or if you use api keys:\n// const cko = new Checkout('sk_sbox_XXX', { pk: 'pk_sbox_XXX'}});\n\ntry {\n	const disputes = await cko.disputes.get({\n		limit: 5,\n		id: 'dsp_bc94ebda8d275i461229',\n	});\n} catch (err) {\n	console.log(err.name);\n}"
        - lang: PHP
          source: "// Please refer to https://github.com/checkout/checkout-sdk-php\n<?php\n\nuse Checkout\\CheckoutApiException;\nuse Checkout\\CheckoutArgumentException;\nuse Checkout\\CheckoutAuthorizationException;\nuse Checkout\\CheckoutFourSdk;\nuse Checkout\\Environment;\nuse Checkout\\Four\\FourOAuthScope;\n\n// API Keys\n$builder = CheckoutFourSdk::staticKeys();\n$builder->setPublicKey(\"public_key\");\n$builder->setSecretKey(\"secret_key\");\n$builder->setEnvironment(Environment::sandbox()); // or Environment::production()\n$api = $builder->build();\n\n// OAuth\n$builder = CheckoutFourSdk::oAuth();\n$builder->clientCredentials(\"client_id\", \"client_secret\");\n$builder->scopes([FourOAuthScope::$Disputes]); // more scopes available\n$builder->setEnvironment(Environment::sandbox()); // or Environment::production()\n$builder->setFilesEnvironment(Environment::sandbox()); // or Environment::production()\n$api = $builder->build();\n\n$query = new DisputesQueryFilter();\n$query->payment_id = \"payment_id\";\n$query->payment_arn = \"payment_arn\";\n$query->payment_reference = \"payment_reference\";\n$query->statuses = \"comma,separated,list,statuses\";\n$query->limit = 10;\n$query->skip = 5;\n$query->to = new DateTime(); // UTC, now\n\n$from = new DateTime();\n$from->setTimezone(new DateTimeZone(\"europe/madrid\"));\n$from->sub(new DateInterval(\"P1Y\"));\n$query->from = $from;\n\ntry {\n    $response = $api->getDisputesClient()->query($query);\n} catch (CheckoutApiException $e) {\n    // API error\n    $request_id = $e->request_id;\n    $http_status_code = $e->http_status_code;\n    $error_details = $e->error_details;\n} catch (CheckoutArgumentException $e) {\n    // Bad arguments\n} catch (CheckoutAuthorizationException $e) {\n    // Bad Invalid authorization\n}"
        - lang: Python
          source: "# For more information please refer to https://github.com/checkout/checkout-sdk-python\nfrom datetime import timezone, datetime\n\nfrom dateutil.relativedelta import relativedelta\n\nimport checkout_sdk\nfrom checkout_sdk.disputes.disputes import DisputesQueryFilter\nfrom checkout_sdk.environment import Environment\nfrom checkout_sdk.exception import CheckoutApiException, CheckoutArgumentException, CheckoutAuthorizationException\nfrom checkout_sdk.four.oauth_scopes import OAuthScopes\n\n# API Keys\napi = checkout_sdk.FourSdk() \\\n    .secret_key('secret_key') \\\n    .public_key('public_key') \\\n    .environment(Environment.sandbox()) \\\n    .build()\n# or Environment.production()\n\n# OAuth\napi = checkout_sdk.OAuthSdk() \\\n    .client_credentials('client_id', 'client_secret') \\\n    .environment(Environment.sandbox()) \\\n    .scopes([OAuthScopes.DISPUTES]) \\\n    .build()\n\nquery = DisputesQueryFilter()\nnow = datetime.now(timezone.utc)\nquery.from_ = now - relativedelta(months=6)\nquery.to = now\nquery.payment_arn = 'payment_arn'\nquery.payment_reference = 'payment_reference'\nquery.limit = 10\nquery.skip = 5\n\ntry:\n    response = api.disputes.query(query)\nexcept CheckoutApiException as err:\n    # API error\n    request_id = err.request_id\n    status_code = err.http_status_code\n    error_details = err.error_details\n    http_response = err.http_response\nexcept CheckoutArgumentException as err:\n# Bad arguments\n\nexcept CheckoutAuthorizationException as err:\n# Invalid authorization"
  /disputes/{dispute_id}:
    get:
      tags:
        - Disputes
      security:
        - OAuth:
            - disputes
            - disputes:view
        - ApiSecretKey: [ ]
      summary: Get dispute details
      operationId: getDisputeDetails
      description: Returns all the details of a dispute using the dispute identifier.
      parameters:
        - in: path
          name: dispute_id
          schema:
            type: string
            pattern: '^(dsp)_(\\w{26})$'
          required: true
          description: The dispute identifier
      responses:
        '200':
          description: Dispute retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dispute'
        '401':
          description: Unauthorized
        '404':
          description: Dispute not found
      x-code-samples:
        - lang: C#
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-net\nusing Checkout.Disputes.Four;\n\n//API keys\nFour.ICheckoutApi api = CheckoutSdk.FourSdk().StaticKeys()\n    .PublicKey(\"public_key\")\n    .SecretKey(\"secret_key\")\n    .Environment(Environment.Sandbox)\n    .HttpClientFactory(new DefaultHttpClientFactory())\n    .Build();\n\n//OAuth\nFour.ICheckoutApi api = CheckoutSdk.FourSdk().OAuth()\n    .ClientCredentials(\"client_id\", \"client_secret\")\n    .Scopes(FourOAuthScope.Disputes)\n    .Environment(Environment.Sandbox)\n    .FilesEnvironment(Environment.Sandbox)\n    .Build();\n\ntry\n{\n    DisputeDetailsResponse response = await api.DisputesClient().GetDisputeDetails(\"disputes_id\");\n}\ncatch (CheckoutApiException e)\n{\n    // API error\n    string requestId = e.RequestId;\n    var statusCode = e.HttpStatusCode;\n    IDictionary<string, object> errorDetails = e.ErrorDetails;\n}\ncatch (CheckoutArgumentException e)\n{\n    // Bad arguments\n}\ncatch (CheckoutAuthorizationException e)\n{\n    // Invalid authorization\n}"
        - lang: Java
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-java\nimport com.checkout.CheckoutApiException;\nimport com.checkout.CheckoutArgumentException;\nimport com.checkout.CheckoutAuthorizationException;\nimport com.checkout.CheckoutSdk;\nimport com.checkout.Environment;\nimport com.checkout.disputes.four.DisputeDetailsResponse;\nimport com.checkout.four.CheckoutApi;\n\n// API Keys\nCheckoutApi api = CheckoutSdk.fourSdk()\n    .staticKeys()\n    .publicKey(\"public_key\")\n    .secretKey(\"secret_key\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .build();\n\n// OAuth\nCheckoutApi api = CheckoutSdk.fourSdk()\n    .oAuth()\n    .clientCredentials(\"client_id\", \"client_secret\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .scopes(FourOAuthScope.DISPUTES) // more scopes available\n    .build();\n\ntry {\n    DisputeDetailsResponse response = api.disputesClient().getDisputeDetails(\"dispute_id\").get();\n} catch (CheckoutApiException e) {\n    // API error\n    String requestId = e.getRequestId();\n    int statusCode = e.getHttpStatusCode();\n    Map<String, Object> errorDetails = e.getErrorDetails();\n} catch (CheckoutArgumentException e) {\n    // Bad arguments\n} catch (CheckoutAuthorizationException e) {\n    // Invalid authorization\n}"
        - lang: Node
          source: "import { Checkout } from 'checkout-sdk-node';\n\nlet cko = new Checkout('your_client_secret_here', {\n	client: 'ack_XXXXXXXXXXXX',\n	scope: ['gateway'], // array of scopes\n	environment: 'sandbox', // or \"production\"\n});\n\n// Or if you use api keys:\n// const cko = new Checkout('sk_sbox_XXX', { pk: 'pk_sbox_XXX'}});\n\ntry {\n	const disputeDetails = await cko.disputes.getDetails('dsp_bc94ebda8d275i461229');\n} catch (err) {\n	console.log(err.name);\n}"
        - lang: PHP
          source: "// Please refer to https://github.com/checkout/checkout-sdk-php\n<?php\n\nuse Checkout\\CheckoutApiException;\nuse Checkout\\CheckoutArgumentException;\nuse Checkout\\CheckoutAuthorizationException;\nuse Checkout\\CheckoutFourSdk;\nuse Checkout\\Environment;\nuse Checkout\\Four\\FourOAuthScope;\n\n// API Keys\n$builder = CheckoutFourSdk::staticKeys();\n$builder->setPublicKey(\"public_key\");\n$builder->setSecretKey(\"secret_key\");\n$builder->setEnvironment(Environment::sandbox()); // or Environment::production()\n$api = $builder->build();\n\n// OAuth\n$builder = CheckoutFourSdk::oAuth();\n$builder->clientCredentials(\"client_id\", \"client_secret\");\n$builder->scopes([FourOAuthScope::$Disputes]); // more scopes available\n$builder->setEnvironment(Environment::sandbox()); // or Environment::production()\n$builder->setFilesEnvironment(Environment::sandbox()); // or Environment::production()\n$api = $builder->build();\n\ntry {\n    $response = $api->getDisputesClient()->getDisputeDetails(\"dispute_id\");\n} catch (CheckoutApiException $e) {\n    // API error\n    $request_id = $e->request_id;\n    $http_status_code = $e->http_status_code;\n    $error_details = $e->error_details;\n} catch (CheckoutArgumentException $e) {\n    // Bad arguments\n} catch (CheckoutAuthorizationException $e) {\n    // Bad Invalid authorization\n}"
        - lang: Python
          source: "# For more information please refer to https://github.com/checkout/checkout-sdk-python\nimport checkout_sdk\nfrom checkout_sdk.environment import Environment\nfrom checkout_sdk.exception import CheckoutApiException, CheckoutArgumentException, CheckoutAuthorizationException\nfrom checkout_sdk.four.oauth_scopes import OAuthScopes\n\n# API Keys\napi = checkout_sdk.FourSdk() \\\n    .secret_key('secret_key') \\\n    .public_key('public_key') \\\n    .environment(Environment.sandbox()) \\\n    .build()\n# or Environment.production()\n\n# OAuth\napi = checkout_sdk.OAuthSdk() \\\n    .client_credentials('client_id', 'client_secret') \\\n    .environment(Environment.sandbox()) \\\n    .scopes([OAuthScopes.DISPUTES]) \\\n    .build()\n\ntry:\n    response = api.disputes.get_dispute_details('dispute_id')\nexcept CheckoutApiException as err:\n    # API error\n    request_id = err.request_id\n    status_code = err.http_status_code\n    error_details = err.error_details\n    http_response = err.http_response\nexcept CheckoutArgumentException as err:\n    # Bad arguments\n\nexcept CheckoutAuthorizationException as err:\n    # Invalid authorization"
  /disputes/{dispute_id}/accept:
    post:
      tags:
        - Disputes
      security:
        - OAuth:
            - disputes
            - disputes:accept
        - ApiSecretKey: [ ]
      summary: Accept dispute
      operationId: acceptDispute
      description: >-
        If a dispute is legitimate, you can choose to accept it. This will close it
        for you and remove it from your list of open disputes. There are no further
        financial implications.
      parameters:
        - in: path
          name: dispute_id
          schema:
            type: string
            pattern: '^(dsp)_(\w{26})$'
          required: true
          description: The dispute identifier
      responses:
        '204':
          description: Dispute accepted successfully
        '401':
          description: Unauthorized
        '404':
          description: Dispute not found
      x-code-samples:
        - lang: C#
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-net\n\n//API keys\nFour.ICheckoutApi api = CheckoutSdk.FourSdk().StaticKeys()\n    .PublicKey(\"public_key\")\n    .SecretKey(\"secret_key\")\n    .Environment(Environment.Sandbox)\n    .HttpClientFactory(new DefaultHttpClientFactory())\n    .Build();\n\n//OAuth\nFour.ICheckoutApi api = CheckoutSdk.FourSdk().OAuth()\n    .ClientCredentials(\"client_id\", \"client_secret\")\n    .Scopes(FourOAuthScope.Disputes)\n    .Environment(Environment.Sandbox)\n    .FilesEnvironment(Environment.Sandbox)\n    .Build();\n\ntry\n{\n    await api.DisputesClient().Accept(\"disputes_id\");\n}\ncatch (CheckoutApiException e)\n{\n    // API error\n    string requestId = e.RequestId;\n    var statusCode = e.HttpStatusCode;\n    IDictionary<string, object> errorDetails = e.ErrorDetails;\n}\ncatch (CheckoutArgumentException e)\n{\n    // Bad arguments\n}\ncatch (CheckoutAuthorizationException e)\n{\n    // Invalid authorization\n}"
        - lang: Java
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-java\nimport com.checkout.CheckoutApiException;\nimport com.checkout.CheckoutArgumentException;\nimport com.checkout.CheckoutAuthorizationException;\nimport com.checkout.CheckoutSdk;\nimport com.checkout.Environment;\nimport com.checkout.four.CheckoutApi;\n\n// API Keys\nCheckoutApi api = CheckoutSdk.fourSdk()\n    .staticKeys()\n    .publicKey(\"public_key\")\n    .secretKey(\"secret_key\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .build();\n\n// OAuth\nCheckoutApi api = CheckoutSdk.fourSdk()\n    .oAuth()\n    .clientCredentials(\"client_id\", \"client_secret\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .scopes(FourOAuthScope.DISPUTES) // more scopes available\n    .build();\n\ntry {\n    api.disputesClient().accept(\"dispute_id\").get();\n} catch (CheckoutApiException e) {\n    // API error\n    String requestId = e.getRequestId();\n    int statusCode = e.getHttpStatusCode();\n    Map<String, Object> errorDetails = e.getErrorDetails();\n} catch (CheckoutArgumentException e) {\n    // Bad arguments\n} catch (CheckoutAuthorizationException e) {\n    // Invalid authorization\n}\n"
        - lang: Node
          source: "import { Checkout } from 'checkout-sdk-node';\n\nlet cko = new Checkout('your_client_secret_here', {\n	client: 'ack_XXXXXXXXXXXX',\n	scope: ['gateway'], // array of scopes\n	environment: 'sandbox', // or \"production\"\n});\n\n// Or if you use api keys:\n// const cko = new Checkout('sk_sbox_XXX', { pk: 'pk_sbox_XXX'}});\n\ntry {\n	const accept = await cko.disputes.accept('dsp_bc94ebda8d275i461229');\n} catch (err) {\n	console.log(err.name);\n}"
        - lang: PHP
          source: "// Please refer to https://github.com/checkout/checkout-sdk-php\n<?php\n\nuse Checkout\\CheckoutApiException;\nuse Checkout\\CheckoutArgumentException;\nuse Checkout\\CheckoutAuthorizationException;\nuse Checkout\\CheckoutFourSdk;\nuse Checkout\\Environment;\nuse Checkout\\Four\\FourOAuthScope;\n\n// API Keys\n$builder = CheckoutFourSdk::staticKeys();\n$builder->setPublicKey(\"public_key\");\n$builder->setSecretKey(\"secret_key\");\n$builder->setEnvironment(Environment::sandbox()); // or Environment::production()\n$api = $builder->build();\n\n// OAuth\n$builder = CheckoutFourSdk::oAuth();\n$builder->clientCredentials(\"client_id\", \"client_secret\");\n$builder->scopes([FourOAuthScope::$Disputes]); // more scopes available\n$builder->setEnvironment(Environment::sandbox()); // or Environment::production()\n$builder->setFilesEnvironment(Environment::sandbox()); // or Environment::production()\n$api = $builder->build();\n\ntry {\n    $api->getDisputesClient()->accept(\"dispute_id\");\n} catch (CheckoutApiException $e) {\n    // API error\n    $request_id = $e->request_id;\n    $http_status_code = $e->http_status_code;\n    $error_details = $e->error_details;\n} catch (CheckoutArgumentException $e) {\n    // Bad arguments\n} catch (CheckoutAuthorizationException $e) {\n    // Bad Invalid authorization\n}\n"
        - lang: Python
          source: "# For more information please refer to https://github.com/checkout/checkout-sdk-python\nimport checkout_sdk\nfrom checkout_sdk.environment import Environment\nfrom checkout_sdk.exception import CheckoutApiException, CheckoutArgumentException, CheckoutAuthorizationException\nfrom checkout_sdk.four.oauth_scopes import OAuthScopes\n\n# API Keys\napi = checkout_sdk.FourSdk() \\\n    .secret_key('secret_key') \\\n    .public_key('public_key') \\\n    .environment(Environment.sandbox()) \\\n    .build()\n# or Environment.production()\n\n# OAuth\napi = checkout_sdk.OAuthSdk() \\\n    .client_credentials('client_id', 'client_secret') \\\n    .environment(Environment.sandbox()) \\\n    .scopes([OAuthScopes.DISPUTES]) \\\n    .build()\n\ntry:\n    response = api.disputes.accept('dispute_id')\nexcept CheckoutApiException as err:\n    # API error\n    request_id = err.request_id\n    status_code = err.http_status_code\n    error_details = err.error_details\n    http_response = err.http_response\nexcept CheckoutArgumentException as err:\n    # Bad arguments\n\nexcept CheckoutAuthorizationException as err:\n    # Invalid authorization\n"
  /disputes/{dispute_id}/evidence:
    put:
      tags:
        - Disputes
      security:
        - OAuth:
            - disputes
            - disputes:provide-evidence
        - ApiSecretKey: [ ]
      summary: Provide dispute evidence
      operationId: provideDisputeEvidence
      description: >
        Adds supporting evidence to a dispute. Before using this endpoint, you first
        need to [upload your files](#tag/Disputes/paths/~1files/post) using the file
        uploader. You will receive a file id (prefixed by `file_`) which you can
        then use in your request.
        Note that this only attaches the evidence to the dispute, it does not send
        it to us. Once ready, you will need to submit it.
        **You must provide at least one evidence type in the body of your request.**
      parameters:
        - in: path
          name: dispute_id
          schema:
            type: string
            pattern: '^(dsp)_(\w{26})$'
          required: true
          description: The dispute identifier
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProvideEvidenceRequest'
      responses:
        '204':
          description: Dispute evidence provided successfully
        '400':
          description: Unprocessable
        '401':
          description: Unauthorized
        '404':
          description: Dispute not found
        '422':
          description: Unprocessable entity
      x-code-samples:
        - lang: C#
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-net\nusing Checkout.Disputes;\n\n//API keys\nFour.ICheckoutApi api = CheckoutSdk.FourSdk().StaticKeys()\n    .PublicKey(\"public_key\")\n    .SecretKey(\"secret_key\")\n    .Environment(Environment.Sandbox)\n    .HttpClientFactory(new DefaultHttpClientFactory())\n    .Build();\n\n//OAuth\nFour.ICheckoutApi api = CheckoutSdk.FourSdk().OAuth()\n    .ClientCredentials(\"client_id\", \"client_secret\")\n    .Scopes(FourOAuthScope.Disputes)\n    .Environment(Environment.Sandbox)\n    .FilesEnvironment(Environment.Sandbox)\n    .Build();\n\nDisputeEvidenceRequest request = new DisputeEvidenceRequest()\n{\n    ProofOfDeliveryOrServiceFile = \"file_xxxxxx\",\n    ProofOfDeliveryOrServiceText = \"proof of delivery or service text\",\n    InvoiceOrReceiptFile = \"file_xxxxxx\",\n    InvoiceOrReceiptText = \"Copy of the invoice\",\n    CustomerCommunicationFile = \"file_xxxxxx\",\n    CustomerCommunicationText = \"Copy of an email exchange with the cardholder\",\n    AdditionalEvidenceFile = \"file_xxxxxx\",\n    AdditionalEvidenceText = \"Scanned document\"\n};\n\ntry\n{\n    await api.DisputesClient().PutEvidence(\"disputes_id\", request);\n}\ncatch (CheckoutApiException e)\n{\n    // API error\n    string requestId = e.RequestId;\n    var statusCode = e.HttpStatusCode;\n    IDictionary<string, object> errorDetails = e.ErrorDetails;\n}\ncatch (CheckoutArgumentException e)\n{\n    // Bad arguments\n}\ncatch (CheckoutAuthorizationException e)\n{\n    // Invalid authorization\n}"
        - lang: Java
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-java\nimport com.checkout.CheckoutApiException;\nimport com.checkout.CheckoutArgumentException;\nimport com.checkout.CheckoutAuthorizationException;\nimport com.checkout.CheckoutSdk;\nimport com.checkout.Environment;\nimport com.checkout.disputes.four.DisputeEvidenceRequest;\nimport com.checkout.four.CheckoutApi;\n\n// API Keys\nCheckoutApi api = CheckoutSdk.fourSdk()\n    .staticKeys()\n    .publicKey(\"public_key\")\n    .secretKey(\"secret_key\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .build();\n\n// OAuth\nCheckoutApi api = CheckoutSdk.fourSdk()\n    .oAuth()\n    .clientCredentials(\"client_id\", \"client_secret\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .scopes(FourOAuthScope.DISPUTES) // more scopes available\n    .build();\n\nDisputeEvidenceRequest evidenceRequest = DisputeEvidenceRequest.builder()\n    .proofOfDeliveryOrServiceFile(\"file_id\")\n    .proofOfDeliveryOrServiceText(\"proof of delivery or service text\")\n    .invoiceOrReceiptFile(\"file_id\")\n    .invoiceOrReceiptText(\"Copy of the invoice\")\n    .invoiceShowingDistinctTransactionsFile(\"file_id\")\n    .invoiceShowingDistinctTransactionsText(\"Copy of invoice #1244 showing two transactions\")\n    .customerCommunicationFile(\"file_id\")\n    .customerCommunicationText(\"Copy of an email exchange with the cardholder\")\n    .refundOrCancellationPolicyFile(\"file_id\")\n    .refundOrCancellationPolicyText(\"Copy of the refund policy\")\n    .recurringTransactionAgreementFile(\"file_id\")\n    .recurringTransactionAgreementText(\"Copy of the recurring transaction agreement\")\n    .additionalEvidenceFile(\"file_id\")\n    .additionalEvidenceText(\"Scanned document\")\n    .proofOfDeliveryOrServiceDateFile(\"file_id\")\n    .proofOfDeliveryOrServiceDateText(\"Copy of the customer receipt showing the merchandise was delivered on 2018-12-20\")\n    .build();\n\ntry {\n    api.disputesClient().putEvidence(\"dispute_id\", evidenceRequest).get();\n} catch (CheckoutApiException e) {\n    // API error\n    String requestId = e.getRequestId();\n    int statusCode = e.getHttpStatusCode();\n    Map<String, Object> errorDetails = e.getErrorDetails();\n} catch (CheckoutArgumentException e) {\n    // Bad arguments\n} catch (CheckoutAuthorizationException e) {\n    // Invalid authorization\n}"
        - lang: Node
          source: "import { Checkout } from 'checkout-sdk-node';\n\nlet cko = new Checkout('your_client_secret_here', {\n	client: 'ack_XXXXXXXXXXXX',\n	scope: ['gateway'], // array of scopes\n	environment: 'sandbox', // or \"production\"\n});\n\n// Or if you use api keys:\n// const cko = new Checkout('sk_sbox_XXX', { pk: 'pk_sbox_XXX'}});\n\ntry {\n	const evidence = await cko.disputes.provideEvidence('dsp_bc94ebda8d275i461229', {\n		proof_of_delivery_or_service_text: 'http://checkout.com/document.pdf',\n	});\n} catch (err) {\n	console.log(err.name);\n}"
        - lang: PHP
[...]
