@import '../../index.css';

.dark {
	--logo-crusoe: url('../../favicons/white-logo.svg');
	--header-link-crusoe: url('../../favicons/link-gray.svg');
}

.light {
	--logo-crusoe: url('../../favicons/dark-logo.svg');
	--header-link-crusoe: url('../../favicons/link-blue.svg');
}

.eLwpnt {
	content: var(--logo-crusoe) !important;
}

.sc-VigVT::before {
	background-image: var(--header-link-crusoe) !important;
}
