:root {
	--S00: #ffffff;
	--S05: #e6e7ec;
	--S10: #f0f3f7;
	--S20: #b6b8c6;
	--S90: #9ea0b4;
	--S100: #8688a0;
	--S300: #6d708e;
	--S500: #55587b;
	--S700: #3d4168;
	--S800: #242955;
	--S1000: #0c1142;
	--Y10: #141407;
	--Y20: #ffffee;
	--Y30: #ffffe9;
	--Y40: #ffffe3;
	--Y50: #ffffde;
	--Y60: #ffffd8;
	--Y70: #ffffd3;
	--Y80: #ffffce;
	--Y500: #f3c25d;
	--T10: #d5f6f8;
	--T20: #c0f2f4;
	--T40: #aaeef1;
	--T60: #95eaed;
	--T80: #80e5e9;
	--T100: #6be1e6;
	--T200: #55dde2;
	--T300: #40d8df;
	--T500: #3ab9f4;
	--B500: #0082d9;
	--P10: #f5f5fc;
	--P600: #6964b3;
	--R10: #fff8f7;
	--R500: #ee6d5f;
	--R800: #cc4b3d;
	--G20: #e4f4f0;
	--G500: #00b48f;
	--G700: #009e7e;

	--primary-dark-blue: var(--S1000);
	--secondary-dark-blue: var(--S800);
	--cko-dark-blue: #090c30;
	--cko-dark-contrast-blue: var(--S800);
	--cko-green: #02b48f;
	--cko-light-green: rgb(45, 179, 136, 0.5);
	--cko-light-green: rgb(45, 179, 136, 0.5);
	--cko-bright-blue: #2ad4db;
	--cko-light-blue: #d5f6f9;
	--cko-grey-tint-blue: var(--S05);
	--cko-contrast-gray: #cecfd9;
	--cko-yellow: var(--Y80);
	--cko-white: #fff;
	--cko-light-grey: #b7b8c6;
	--cko-code-yellow: #d4d5a5;
	--cko-code-blue: #74a2f3;
	--cko-code-green: #b9ea80;
	--cko-code-purple: #ce8aec;
	--cko-code-gray: #81849e;
	--cko-code-light-blue: #1d76b3;
	--cko-code-light-purple: #75438a;
	--cko-code-orange: #bc753f;
	--cko-red: #ec644b;
	--cko-light-red: rgb(253, 117, 95, 0.5);
	--cko-http-get-color: #2db388;
	--cko-http-post-color: #00aeef;
	--cko-http-put-color: #b77ba1;
	--cko-http-patch-color: #fab82b;
	--cko-http-del-color: #fd755f;

	--token-string: var(--P600);
	--token-number: var(--R800);
	--token-property: var(--S1000);
	--token-keyword: var(--S700);
	--token-class: var(--G700);
	--token-operator: var(--S90);
	--token-comment: var(--S700);
}

.light {
	--background: var(--cko-white);
	--sidebar-background: var(--cko-grey-tint-blue);
	--secondary-background: white;
	--table-background: var(--cko-white);
	--toggle-bg: var(--S1000);
	--primary-text: var(--primary-dark-blue);
	--secondary-text: var(--secondary-dark-blue);
	--logo: url('../favicons/dark-logo.svg');
	--header-link: url('../favicons/link-blue.svg');
	--endpoint-dropdown: var(--S05);
	--link-color: var(--cko-green);
	--link-hover: var(--cko-dark-blue);
	--active: var(--cko-dark-blue);
	--background-contrast: var(--cko-white);
	--background-contrast-focus: var(--S10);
	--subtitle: var(--cko-dark-blue);
	--required: var(--cko-red);
	--border: var(--S05);
	--field-params: var(--cko-code-blue);
	--param-rule: var(--cko-green);
	--primary-button: var(--cko-bright-blue);
	--secondary-button: var(--cko-yellow);
	--code-background: var(--sidebar-background);
	--code-bracket: var(--cko-code-gray);
	--code-param: var(--cko-code-light-blue);
	--code-string: var(--primary-dark-blue);
	--code-value-link: var(--cko-green);
	--code-value-bool: var(--cko-green);
	--code-value-number: var(--cko-red);
	--code-label-background: var(--P10);
	--code-type: var(--S800);
	--primary-button-color: var(--cko-dark-blue);
	--example-area-background: var(--cko-white);
	--request-body-content-background: var(--cko-white);
	--title-color: var(--primary-dark-blue);
	--icon-color: var(--cko-light-grey);
	--sidebar-option-hover: var(--cko-contrast-gray);
	--url-area: var(--primary-dark-blue);

	--btn-primary-bg: var(--S1000);
	--btn-primary-hover-bg: rgb(61, 65, 104);
	--btn-primary-font: #ffffc8;

	--endpoint-label: var(--S1000);
}