openapi: '3.0.1'
info:
  version: '1.0.0'
  title: Checkout.com API Reference
  contact:
    name: Checkout.com Support
    url: 'https://checkout.com'
    email: support@checkout.com
  license:
    name: Checkout.com
    url: 'https://checkout.com/api/license/'
  termsOfService: 'https://checkout.com/terms/'
  description: >
    # Introduction

    The Checkout.com Gateway is a collection of APIs designed to allow you to process payments. It forms the bridge 
    between you and the acquirer. The Gateway incorporates logic to handle features such as 
    AutoCapture, 3-D Secure payments, smart routing to acquirers, and much more.

    
    The API is built on HTTP and is RESTful. It has predictable
    resource URLs and returns HTTP response codes to indicate errors. It also
    accepts and returns JSON in the HTTP body.


    You can use your favorite HTTP/REST library for your programming language to use Checkout.com's API,
    or you can use one of our SDKs (currently available in
    [PHP](https://github.com/checkout/checkout-php-library),
    [.NET](https://github.com/checkout/checkout-net-library) and
    [Java](https://github.com/checkout/checkout-java-library)).


    Broadcast is our webhook notification system. When an event occurs, it sends a webhook notification 
    to inform you of the situation. You'll find out what happened and the type of event at hand, 
    enabling you to take action and keep your business running smoothly. Webhooks provide a definitive 
    confirmation of a status update and are used for a variety of purposes, such as fulfilling orders, 
    sending automated status updates to customers, or even integrating with third-party application services.



    # Authentication

    When you sign up for an account, you are given a secret and public API key
    pair. You authenticate with the Checkout.com API by providing the appropriate key in
    the request Authorization header.


    Never share your secret keys. Keep them guarded and secure.
servers:
  - url: https://api.checkout.com
    description: Live API
  - url: https://api.sandbox.checkout.com
    description: Sandbox API
tags:
  - name: Payments
    description: |
      Unified payments API
  - name: Webhooks
    description: >
      Webhooks are designed to notify your systems when certain/all registered
      events happen in near real-time.

      They allow you to collect information about those events. Checkout.com can send
      this information via POST to an URL of your choice.
  - name: Files
    description: |
      Upload files to be used as input to other APIs
x-tagGroups:
  - name: Gateway
    tags:
      - Payments
      - Tokens
      - Sources
      - Files
  - name: Broadcast
    tags:
      - Events
      - Webhooks
