@import "font.css";
:root {
  /* --cko-dark-blue: #0c1142;
  --cko-dark-contrast-blue: #121a58; */
  --primary-dark-blue: #0C1141;
  --secondary-dark-blue: #0C1142;
  --cko-dark-blue: #202124;
  --cko-dark-contrast-blue: #2c3034;
  --cko-green: #02b48f;
  --cko-light-green: rgb(45, 179, 136, 0.5);
  --cko-light-green: rgb(45, 179, 136, 0.5);
  --cko-bright-blue: #2ad4db;
  --cko-light-blue: #d5f6f9;
  --cko-grey-tint-blue: #E6E7ED;
  --cko-contrast-gray: #CECFD9;
  --cko-yellow: #ffffc8;
  --cko-white: #fff;
  --cko-light-grey: #b7b8c6;
  --cko-code-yellow: #D4D5A5;
  --cko-code-blue: #74A2F3;
  --cko-code-green: #B9EA80;
  --cko-code-purple: #CE8AEC;
  --cko-code-gray: #81849E;
  --cko-code-light-blue: #1D76B3;
  --cko-code-light-purple: #75438A;
  --cko-code-orange: #BC753F;
  --cko-red: #ec644b;
  --cko-light-red: rgb(253, 117, 95, 0.5);
  --cko-http-get-color: #2db388;
  --cko-http-post-color: #00aeef;
  --cko-http-put-color: #b77ba1;
  --cko-http-patch-color: #fab82b;
  --cko-http-del-color: #fd755f;
}

.dark {
  --background: var(--cko-dark-blue);
  --sidebar-background: var(--cko-dark-blue);
  --primary-text: var(--cko-white);
  --secondary-text: var(--cko-light-grey);
  --logo: url("./favicons/white-logo.svg");
  --header-link: url("./favicons/link-gray.svg");
  --link-color: var(--cko-bright-blue);
  --link-hover: var(--cko-light-blue);
  --active: var(--cko-light-blue);
  --background-contrast: var(--cko-dark-contrast-blue);
  --subtitle: var(--cko-yellow);
  --required: var(--cko-red);
  --border: var(--cko-dark-contrast-blue);
  --field-params: var(--cko-yellow);
  --param-rule: var(--cko-green);
  --primary-button: var(--cko-bright-blue);
  --secondary-button: var(--cko-yellow);
  --code-background: var(--cko-dark-contrast-blue);
  --code-bracket: var(--cko-code-yellow);
  --code-param: var(--cko-code-blue);
  --code-string: var(--cko-code-green);
  --code-value-link: var(--cko-green);
  --code-value-bool: var(--cko-green);
  --code-value-number: var(--cko-bright-blue);
  --primary-button-color: var(--cko-dark-blue);
  --example-area-background: var(--cko-dark-blue);
  --request-body-content-background: var(--cko-dark-blue);
  --title-color: var(--cko-white);
  --icon-color: var(--cko-light-grey);
  --sidebar-option-hover: var(--cko-dark-contrast-blue);
  --url-area: var(--cko-dark-contrast-blue);
}

.light {
  --background: var(--cko-white);
  --sidebar-background: var(--cko-grey-tint-blue);
  --primary-text: var(--primary-dark-blue);
  --secondary-text: var(--secondary-dark-blue);
  --logo: url("./favicons/dark-logo.svg");
  --header-link: url("./favicons/link-blue.svg");
  --link-color: var(--cko-green);
  --link-hover: var(--cko-dark-blue);
  --active: var(--cko-dark-blue);
  --background-contrast: var(--cko-white);
  --subtitle: var(--cko-dark-blue);
  --required: var(--cko-red);
  --border: var(--cko-contrast-gray);
  --field-params: var(--cko-code-blue);
  --param-rule: var(--cko-green);
  --primary-button: var(--cko-bright-blue);
  --secondary-button: var(--cko-yellow);
  --code-background: var(--sidebar-background);
  --code-bracket: var(--cko-code-gray);
  --code-param: var(--cko-code-light-blue);
  --code-string: var(--cko-code-orange);
  --code-value-link: var(--cko-green);
  --code-value-bool: var(--cko-green);
  --code-value-number: var(--cko-bright-blue);
  --primary-button-color: var(--cko-dark-blue);
  --example-area-background: var(--cko-white);
  --request-body-content-background: var(--cko-white);
  --title-color: var(--primary-dark-blue);
  --icon-color: var(--cko-light-grey);
  --sidebar-option-hover: var(--cko-contrast-gray);
  --url-area: var(--primary-dark-blue);
}

* {
  font-family: Arial, sans-serif !important;
}

body {
  margin: 0;
  background-color: var(--background);
}

/* General text elements */

.redoc-wrap p, h1, h1 a, h3, th, td, span.sc-jKJlTe.eZZMfQ {
  color: var(--secondary-text) !important;
}

/* Main areas */

.kjSShW {
  background-color: var(--background) !important;
}

.api-content {
  background-color: var(--background) !important;
}

/* Logo */

img.sc-kafWEX.hZCbNs {
  padding: 24px 12px 12px 12px;
}

/* Logo background */

.sc-feJyhm {
  background-color: var(--sidebar-background) !important;
}

/* Overwrite swagger logo with own logo file */

.sc-kafWEX {
  content: var(--logo) !important;
}

/* Hyperlinks color */

a {
  color: var(--link-color) !important;
}

b, strong {
  font-weight: 500;
}

/* Active, hover and loading */

a:active, .active, ul[role="navigation"] label:hover, .loading {
  color: var(--active) !important;
  font-weight: 500 !important;
}

/* Menu item hover */

ul[role="navigation"] label:hover {
  background: var(--background-contrast) !important;
}

/* Hyperlink hover */

a:hover {
  color: var(--link-hover) !important;
  text-decoration: underline !important;
}

p {
  font-size: 14px !important;
  line-height: 24px !important;
  font-style: normal;
  font-weight: normal;
}

h1, h2, h3 {
  font-weight: 400 !important;
}

h1 {
  font-size: 40px !important;
  line-height: 44px !important;
}

h2 {
  font-size: 24px !important;
  line-height: 32px !important;
  color: var(--subtitle) !important;
}

h3 {
  font-size: 18px !important;
  line-height: 24px !important;
}

h4 {
  color: var(--secondary-text) !important;
}

h5.shv3r-4.gLzrjW {
  border-bottom: 0;
  padding: 20px 0 10px 0;
}

label.active {
  font-weight: 500 !important;
}

/* Page title */

h1.sc-htoDjs.sc-fYxtnH.dTJWQH {
  font-weight: 500 !important;
  font-size: 36px !important;
  padding-top: 52px;
  color: var(--title-color) !important;
}

/* Required field */

.sc-ksYbfQ.sc-hmzhuo.jsTAxL {
  text-transform: uppercase;
  color: var(--required);
}

/* Border between params */

td.sc-kgoBCf.kGwPhO {
  border-bottom: 1px solid var(--border);
}

/* Security details table */

.security-details th {
  font-weight: 500 !important;
  color: var(--title-color) !important;
}

.security-details tr {
  background-color: var(--background-contrast) !important;
}

.security-details table {
  border: 1px solid var(--secondary-text) !important;
}

.security-details th {
  border: 1px solid var(--secondary-text) !important;
}

.security-details td {
  border: 1px solid var(--secondary-text) !important;
}

/* Request body schema background */

.sc-kpOJdX.icucAR {
  background: var(--request-body-content-background) !important;
}

/* Field names */

td.sc-cSHVUG.sc-chPdSV {
  font-weight: 600 !important;
}

/* Field params */

span.sc-cHGsZl.lpeYvY {
  color: var(--field-params) !important;
}

span.sc-cHGsZl.sc-jqCOkK.beUper {
  color: var(--param-rule);
  border: none;
  background: none;
}

code, .evgDyP, .sc-cHGsZl.sc-jbKcbu.bMfIUD {
  font-family: Courier, monospace !important;
  font-style: italic !important;
  background: var(--S10) !important;
  padding: 2px !important;
  border-radius: 3px !important;
  color: var(--S500) !important;
  font-size: 15px !important;
  font-weight: 500 !important;
}

.http-verb {
  border-radius: 3px;
}

.delete {
  background: var(--cko-http-del-color) !important;
}

.get {
  background: var(--cko-http-get-color) !important;
}

.post {
  background: var(--cko-http-post-color) !important;
}

.put {
  background: var(--cko-http-put-color) !important;
}

.patch {
  background: var(--cko-http-patch-color) !important;
}

ul.obj.collapsible, ul.array.collapsible {
  margin-left: 1em !important;
}

span.sc-1noysbl-1.jCuzSX {
  color: rgb(1, 58, 81, 0.7);
}

td.dz44d2-1 {
  font-family: Courier, monospace;
}

span.sc-1noysbl-1.jCuzSX {
  color: rgb(1, 58, 81, 0.7);
}

td.dz44d2-1 {
  font-family: Courier, monospace;
}

li.sc-eNQAEJ.gYsnwL {
  background: var(--primary-button) !important;
  border: 1px solid var(--primary-button) !important;
  font-weight: 500;
  color: var(--primary-button-color) !important;
}

li.sc-eNQAEJ.jdXjUh {
  color: var(--primary-text);
  border: 1px solid var(--border);
  background-color: unset;
  font-weight: 500;
}

/* Request Example  */

.dtUibw, .fLUKgj {
  background-color: var(--example-area-background) !important;
}

/* Deselected tabs */

.irpqyy>ul>li {
  font-weight: 500 !important;
  background-color: var(--background-contrast) !important;
  border-color: var(--background-contrast) !important;
  color: var(--secondary-text) !important;
}

.react-tabs__tab-list .react-tabs__tab--selected {
  background-color: var(--secondary-button) !important;
  color: var(--primary-button-color) !important;
  border-color: var(--secondary-button) !important;
}

.jXDsIv {
  color: var(--cko-red) !important;
  font-family: Arial, sans-serif;
  font-size: 9px !important;
  margin-left: 20px !important;
  line-height: 20px !important;
  font-weight: 600 !important;
  text-transform: uppercase !important;
}

.scrollbar-container.undefined.i2xdng-0.gakpRU.ps {
  padding-bottom: 20px;
}

.futasu-2.jQhtam, .sc-eqIVtm.ecxnvs {
  display: none;
}

.scrollbar-container.undefined.sc-gPEVay.hclups.ps.ps--active-y {
  padding-bottom: 80px;
}

/* Responses */

span.sc-jlyJG.evvbxn {
  padding-left: 6px;
}

/* Successful response */

.kXBEML, .gIwhKV {
  color: rgb(45, 179, 136) !important;
  background: rgb(45, 179, 136, 0.1) !important;
}

.gneRca polygon, .fgqOex polygon {
  fill: rgb(45, 179, 136) !important;
}

/* Error response */

.cxEeEe, .jtbdMW {
  color: rgb(253, 117, 95) !important;
  background: rgb(253, 117, 95, 0.1) !important;
}

.jtbdMW polygon {
  fill: rgb(253, 117, 95) !important;
}

/* Parameters */

.Dropdown-control {
  border-radius: 0 !important;
}

.Dropdown-arrow {
  border-color: var(--secondary-text) transparent transparent !important;
}

.Dropdown-menu {
  box-shadow: none !important;
  margin-top: 0 !important;
  border-top: 0 !important;
}

.Dropdown-control:hover {
  color: var(--link-color) !important;
  border-color: var(--link-color) !important;
  box-shadow: none !important;
}

/* LEFT MENU */

/* Sidebar menu */

.menu-content {
  top: 0;
  width: 300px !important;
  border-right: 1px solid var(--background-contrast);
  background-color: var(--sidebar-background) !important;
}

/* Search box */

div[role="search"] {
  margin: 20px !important;
  border: 1px solid var(--background-contrast) !important;
  border-radius: 3px;
  background: var(--background-contrast) !important;
}

.search-input {
  border: 0 !important;
  color: var(--secondary-text) !important;
}

input.search-input {
  font-weight: 300;
  color: var(--primary-text);
}

.search-icon {
  left: 30px !important;
}

i.k4h4y9-4.jGkewb {
  right: 30px;
  top: 13px;
}

.eJUTHL {
  border-bottom: 0 !important;
  padding-bottom: 0 !important;
  background: var(--secondary-text) !important;
}

i.sc-gqPbQI.hQYSSu {
  margin-right: 5px !important;
}

.sc-cLQEGU.kYDFzp {
  background-color: var(--cko-white) !important;
  border-bottom: none !important;
}

/* Navigation */

label.active, span.sc-gwVKww.SmuWE.active {
  background: var(--sidebar-option-hover) !important;
}

.sc-eTuwsz {
  color: var(--secondary-text) !important;
}

/* RIGHT MENU */

/* White background */

@media screen and (max-width: 1425px) and (min-width: 1361px) {
  .dtUibw {
    width: 45% !important;
    padding: 40px;
  }
}

/* Hide application/json */

.futasu-0.wbaPa {
  display: none;
}

/* Endpoint drop-down */

.hgxMbQ, .goYvPl {
  background-color: var(--url-area) !important;
  border-radius: 0 !important;
}

.nrhuz6-4.gWOwls {
  box-shadow: none !important;
  border: 1px solid #efefef;
  background-color: var(--secondary-text) !important;
}

.bwgXFh {
  color: var(--cko-green) !important;
}

.iuqUuR {
  color: rgb(1, 58, 81, 0.8) !important;
}

/* Endpoint URL */

span.sc-dqBHgY.iENVAs {
  font-family: Courier, monospace !important;
}

/* Code samples */

span.token.punctuation {
  border: none !important;
}

.react-tabs__tab-panel, .react-tabs__tab {
  background: var(--code-background) !important;
  color: var(--code-bracket) !important;
  border-color: var(--background-contrast) !important;
}

ul>li.react-tabs__tab, ul>li.tab-success, ul>li.tab-error {
  margin: 0 5px !important;
  border-radius: 0 !important;
  border-width: 2px 0 0 0 !important;
}

.react-tabs__tab-list .tab-success {
  border-color: var(--cko-light-green) !important;
  background-color: var(--cko-light-green) !important;
  color: var(--cko-white) !important;
}

.react-tabs__tab-list .tab-error {
  border-color: var(--cko-light-red) !important;
  background-color: var(--cko-light-red) !important;
  color: var(--cko-white) !important;
}

.tab-success.react-tabs__tab--selected {
  color: var(--cko-white) !important;
  border-color: var(--cko-green) !important;
  background: var(--cko-green) !important;
  opacity: 1;
}

.tab-error.react-tabs__tab--selected {
  color: var(--cko-white) !important;
  border-color: var(--cko-red) !important;
  background: var(--cko-red) !important;
  opacity: 1;
}

.diZwLN>ul>li {
  color: rgb(1, 58, 81, 0.5) !important;
  background: #efefef !important;
  border-top: 0 !important;
}

.diZwLN>ul>li:hover {
  color: var(--cko-dark-blue) !important;
}

.diZwLN>ul>li.react-tabs__tab--selected {
  border-top: 0;
  border-bottom: 2px solid var(--cko-dark-blue) !important;
  color: var(--cko-dark-blue) !important;
  font-weight: bold;
}

/* Code samples */

span.property.token.string {
  color: var(--code-param) !important;
}

span.token.string {
  color: var(--code-string) !important;
}

span.token .number {
  color: var(--code-value-number) !important;
}

span.token .keyword {
  color: var(--code-value-link) !important;
}

span.token.boolean {
  color: var(--code-value-bool) !important;
}

.egwcPy, .iJUwRU {
  background: var(--cko-white) !important;
}

/* Remove border between sections */

.hiuczA:not(:last-of-type)::after {
  border: none !important;
}

/* Version */

.api-info span {
  display: none;
}

/* Download */

.api-info p>a {
  border-color: var(--cko-green);
}

.api-info p>a:hover {
  border-color: var(--cko-light-green);
}

.scrollbar-container ul:first-child+div {
  display: none;
}

.react-tabs__tab-list {
  margin-bottom: 15px !important;
}

.sc-gqjmRU {
  color: var(--secondary-text) !important;
}

.sc-VigVT::before {
  background-image: var(--header-link) !important;
}

.sc-hSdWYo, .sc-esjQYD {
  color: var(--secondary-text) !important;
}

caption {
  color: var(--secondary-text) !important;
}

.WxWXp {
  color: var(--title-color) !important;
}

.search-icon path {
  fill: var(--icon-color) !important;
}

.dHLKeu {
  background-color: var(--url-area) !important;
}

.sc-brqgnP span div {
  color: var(--secondary-text) !important;
}

.sc-brqgnP span {
  color: var(--secondary-text) !important;
}

/* Dark mode switch */

.toggle-track {
  position: absolute;
  z-index: 100;
  top: 20px;
  right: 20px;
  background-color: #1a1a1a;
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  height: 24px;
  user-select: none;
  width: 50px;
}

.toggle-sun, .toggle-moon {
  align-items: center;
  display: flex;
  font-size: 12px;
  padding: 0 4px;
  width: 50%;
}

.toggle-moon {
  justify-content: flex-end;
}

.toggle-thumb {
  background-color: #fff;
  border-radius: 50%;
  height: 20px;
  left: 2px;
  position: absolute;
  top: 2px;
  transition: transform .5s cubic-bezier(.23, 1, .32, 1);
  width: 20px;
}

.toggle-track.toggled .toggle-thumb {
  transform: translateX(26px);
}

code span {
  font-family: Courier, monospace !important;
  font-style: normal;
}

.celZWI {
  background-color: var(--background) !important;
}

.hndQyM label {
  color: var(--secondary-text) !important;
}

.hjRNaf polygon {
  fill: var(--secondary-text) !important;
}

.sc-bxivhb li {
  color: var(--secondary-text) !important;
}